<div class="tm-section tm-login-register-area tm-padding-section" style="background-color: #0e1234;">
    <div class="container">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-lg-10">
                <form [formGroup]="addProductForm" (submit)="onSubmit(addProductForm.value)"
                    class="p-3 tm-form tm-register-form tm-form-bordered bg-white">
                    <h4 class="m-5">Add New Product</h4>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label for="categoryId">Product Category</label>
                                <select class="form-control" id="categoryId" formControlName="categoryId"
                                    [(ngModel)]="categorySelected" (change)="handleOnCategoryChange()">
                                    <option [ngValue]="-1" [disabled]="true" [selected]="true">Choose Product's Category
                                    </option>
                                    <option *ngFor="let category of categories" value="{{category.categoryId}}">
                                        {{category.categoryName}}</option>
                                </select>
                                <label class="text-danger"
                                    *ngIf="addProductForm.get('categoryId').touched && addProductForm.get('categoryId').errors?.required">
                                    You Must choose the Product's Category
                                </label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label for="productName">Product Name</label>
                                <input type="text" class="form-control w-100" id="productName"
                                    formControlName="productName" placeholder="Product Name">
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6 col-md-8 col-sm-8">
                                <label for="location">Country</label>
                                <select class="form-control" id="countries" formControlName="location"
                                    style="text-transform: capitalize;" [(ngModel)]="countrySelected">
                                    <option [ngValue]="-1" disabled selected="selected">Choose Product's Country
                                    </option>
                                    <option *ngFor="let country of countries" value="{{country.id}}">
                                        {{country.name}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <label for="price">Product Price</label>
                                <input type="text" class="form-control w-100" id="price" formControlName="price"
                                    placeholder="Product Price">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <label for="unitePrice">Unite Price</label>
                                <select class="form-control" id="unitePrice" formControlName="unitePrice"
                                    [(ngModel)]="unitePriceSelected">
                                    <option [ngValue]="-1" [selected]="true" [disabled]="true">Choose Unite Price
                                    </option>
                                    <option value="1">$</option>
                                    <option value="2">EGY</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <a class="more-info-btn" (click)="toggleMoreInformation()">Add More Information ?</a>
                    </div>
                    <div class="more-info" *ngIf="moreInformation">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label for="type">Type</label>
                                    <input type="text" class="form-control w-100" id="type" formControlName="type"
                                        placeholder="Type">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label for="wieght">Weight</label>
                                    <input type="text" class="form-control w-100" id="wieght" formControlName="wieght"
                                        placeholder="Wieght">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label for="size">Product Size</label>
                                    <input type="text" class="form-control w-100" id="size" formControlName="size"
                                        placeholder="Product Size">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label for="storage">Storage</label>
                                    <input type="text" class="form-control w-100" id="storage" formControlName="storage"
                                        placeholder="Storage">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label for="grade">Grade</label>
                                    <input type="text" class="form-control w-100" id="grade" formControlName="grade"
                                        placeholder="Grade">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <label for="code">Code</label>
                                    <input type="text" class="form-control w-100" id="code" formControlName="code"
                                        placeholder="Code">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <label for="brandName">Brand Names</label>
                                    <tag-input class="brandTags" [(ngModel)]="tagNames" formControlName="brandName"
                                        [secondaryPlaceholder]="'Brand Name'" [placeholder]="'Brand Name again'">
                                    </tag-input>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <label for="agentsLocation">Agents Location</label>
                                    <tag-input class="brandTags" [(ngModel)]="agents" formControlName="agentsLocation"
                                        [secondaryPlaceholder]="'Agents Location'"
                                        [placeholder]="'Agents Location again'">
                                    </tag-input>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-8 col-sm-8">
                                    <label for="packing">Packing Way</label>
                                    <input type="text" class="form-control w-100" id="packing" formControlName="packing"
                                        placeholder="Packing Way">
                                </div>
                                <div class="col-lg-4 col-md-8 col-sm-8">
                                    <label for="moq">MOQ</label>
                                    <input type="text" class="form-control w-100" id="moq" formControlName="moq"
                                        placeholder="MOQ">
                                </div>
                                <div class="col-lg-4 col-md-8 col-sm-8">
                                    <label for="coverage">Coverage</label>
                                    <!-- <ejs-multiselect [dataSource]='countries' [fields]='localFields'
                                            [placeholder]='localWaterMark' formControlName="coverage"
                                            [(ngModel)]="tagCoverage">
                                        </ejs-multiselect> -->
                                    <ng-select class="" bindLabel="name" bindValue="name" placeholder="Choose Category"
                                        clearAllText="Clear" [virtualScroll]="true" [items]="countries"
                                        [searchable]="true" [clearable]="true" formControlName="coverage"
                                        [multiple]="true" [clearSearchOnAdd]="true" [closeOnSelect]="false"
                                        [(ngModel)]="tagCoverage">
                                    </ng-select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <label for="serviceType">Service Type</label>
                                    <input type="number" class="form-control w-100" id="serviceType"
                                        formControlName="serviceType" placeholder="Service Type">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <label for="capacity">Capacity</label>
                                    <input type="text" class="form-control w-100" id="capacity"
                                        formControlName="capacity" placeholder="Capacity">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4">
                                    <label for="softwares">Softwares</label>
                                    <input type="text" class="form-control w-100" id="softwares"
                                        formControlName="softwares" placeholder="Softwares">
                                </div>
                                <div class="col-4">
                                    <label for="modelYear">Model by Year</label>
                                    <input type="text" class="form-control w-100" id="modelYear"
                                        formControlName="modelYear" placeholder="Model by Year">
                                </div>
                                <div class="col-4">
                                    <label for="totalHours">Total Hours</label>
                                    <input type="text" class="form-control w-100" id="totalHours"
                                        formControlName="totalHours" placeholder="Total Hours">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-12">
                                    <label for="certification">Certifications</label>
                                    <app-upload-files (onFileUpload)="handleCertificationsUpload($event)"
                                        (onFileRemove)="handleCertificationsRemove($event)" [files]="certifications">
                                    </app-upload-files>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Common -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12">
                                <label for="paymentTerms">Payment Terms</label>
                                <input type="text" class="form-control w-100" id="paymentTerms"
                                    formControlName="paymentTerms" placeholder="Payment Terms">
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" rows="3" formControlName="description"
                            placeholder="Product Description"></textarea>
                        <label class="text-danger"
                            *ngIf="addProductForm.get('description').touched && addProductForm.get('description').errors?.required">
                            You Must add a Description for this Account Product
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="productImages">Product Images</label>
                        <span class="imgHint">(Not accept more than 1 MB because Server side)</span>
                        <app-upload-files (onFileUpload)="handleImageUpload($event)"
                            (onFileRemove)="handleImageRemove($event)" [multiple]="true" [files]="images">
                        </app-upload-files>

                    </div>

                    <div class="form-group">
                        <label for="attachments">Product Attachments</label>
                        <app-upload-files (onFileUpload)="handleFileUpload($event)"
                            (onFileRemove)="handleFileRemove($event)" [multiple]="true" [files]="files">
                        </app-upload-files>

                    </div>

                    <div class="form-group">
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <button type="submit" class="tm-button mt-2">
                                    Submit <b></b>
                                </button>
                            </div>
                            <div class="col-6">
                                <button class="tm-button mt-2 closeBtn" routerLink="/account/owner">
                                    <a>Close <b></b></a>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    // Material Select Initialization
    $(document).ready(function () {
        $('.mdb-select').materialSelect()
    })
</script>