#find {
    background-color: #fff;
    color: #f2b414;
}

@media (min-width: 1024px) {
    .product-area {
        height: 675px;
    }
}
@media (min-width: 768px) and (max-width: 1365px) {
    .product-area a {
        margin-left: 3%;
        margin-top: 40px;
        height: 75px;
        width: 264px;
        text-align: center;
        padding: 24px;
        padding-top: 12px;
        font-weight: 700;
    }
}
@media (min-width: 768px) and (max-width: 1366px) {
    .tm-product-content p {
        color: #fff;
        margin-left: 33%;
        font-weight: 700;
    }
}
a:hover {
    color: #fff;
    text-decoration: none;
}
