<div id="Findproducts" class="page-section tm-section product-area tm-padding-section"
    [ngStyle]="{ 'backgroundImage': getBackgroundImageUrl() }">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="tm-product-content">
                    <h1>A personal platform for buy and sell made simple.</h1>
                    <p>Your marketing hub for pleasure.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8 col-12">

                <!-- <a href="#" class="tm-button">Sell Products Now<b></b></a> -->
                <a id="find" routerLink="/application/sell-product" class="tm-button">Find Products Now<b></b></a>
            </div>
        </div>
    </div>
</div>