<!-- *ngIf="user" -->
<div class="owner-profile">
    <div class="page-section tm-section owner-area tm-padding-section" style="background-color: #0e1234;">
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="mb-5">
                        <h2 style="color: #c0972e; float: left;" class="leftAlign">
                            Hi TradeIn User {{userAdministrator?.lastName}}!
                        </h2>

                        <a type="button" class="btn rightAlign" style="
                            color: #fff;
                            float: right;
                            background-color: #c0972e;
                        " routerLink="/account/editprofile">
                            Edit Profile
                        </a>
                        <a type="button" class="btn rightAlign" style="
                        color: #c0972e;
                        float: right;
                        font-weight: 500;
                        margin-right: 10px;
                        background-color: #fff;
                    " routerLink="/account/update-password">
                            Update Password
                        </a>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
            <div class="row mt-5 avatar-data">
                <div class="col-lg-12 col-xs-12 col-sm-6 col-md-6">
                    <div class="well well-sm">
                        <div class="row justify-content-center">
                            <div class="col-sm-6 col-md-4 col-12 justify-content-left avatar-img">
                                <img src="assets/images/You-Trade-In/student.png" alt=""
                                    class="img-rounded img-responsive" width="70%" />
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-8 justify-content-right data"
                                data-bgimage="assets/background-end.png">

                                <!-- loggedUser$ | async -->
                                <div class="col-lg-5 col-md-5 col-12 mt-3" style="background-color: #fff; float: left;">
                                    <!-- <p>{{userAdministrator.administratorId}}</p> -->
                                    <p>Account Name</p>
                                </div>
                                <div class="offset-1 col-lg-5 col-md-5 col-12 mt-3"
                                    style="background-color: #fff; float: right;">
                                    <!-- <p>{{user.accountName}}</p> -->
                                    <p>Company Name</p>
                                </div>
                                <div class="col-lg-5 col-md-5 col-12 mt-3" style="background-color: #fff; float: left;">
                                    <!-- <p>{{userAdministrator.email}}</p> -->
                                    <p>Email Address</p>
                                </div>
                                <div class="offset-1 col-lg-5 col-md-5 col-12 mt-3"
                                    style="background-color: #fff; float: right;">
                                    <p>Company Category</p>
                                </div>
                                <div class="col-lg-5 col-md-5 col-12 mt-3" style="background-color: #fff; float: left;">
                                    <!-- <p>{{user.accountMobile}}</p> -->
                                    <p>Mobile Number</p>
                                </div>
                                <div class="offset-1 col-lg-5 col-md-5 col-12 mt-3"
                                    style="background-color: #fff; float: right;">
                                    <!-- <p>{{user.countryId}}</p> -->
                                    <p>Country Name</p>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-3 avatar-des">
                <div class="col-lg-12 col-12">
                    <h6 class="text-left">Profile Description</h6>
                    <p class="text-left">
                        <b>This is the profile description,</b> consetetur
                        sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                        labore et dolore magna aliquyam erat, sed diam voluptua. At
                        vero eos et accusam et justo duo dolores et ea rebum. Stet
                        clita kasd gubergren, no sea takimata sanctus est Lorem
                        ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                        sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                        labore et dolore magna aliquyam erat, sed diam voluptua. At
                        vero eos et accusam et justo duo dolores et ea rebum. Stet
                        clita kasd gubergren, no sea takimata sanctus est Lorem
                        ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                        sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                        labore et dolore magna aliquyam erat, sed diam voluptua. At
                        vero eos et accusam et justo duo dolores et ea rebum. Stet
                        clita kasd gubergren, no sea takimata sanctus est Lorem
                        ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                        sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                        labore et dolore magna aliquyam erat, sed diam voluptua. At
                        vero eos et accusam et justo duo dolores et ea rebum. Stet
                        clita kasd gubergren, no sea takimata sanctus est Lorem
                        ipsum dolor sit amet.
                    </p>
                </div>

            </div>
            <!-- <button routerLink="/application/viewer">Viewer</button>
            <button routerLink="/admin-layout/sidebar">ADMIN</button> -->
        </div>
    </div>

    <div class="page-section tm-section products-services-area tm-padding-section" style="background-color: #0e1234;">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="mb-5">
                        <h2 style="color: #c0972e; float: left;" class="leftAlign">
                            Products/Services
                        </h2>
                        <a type="button" class="btn rightAlign" style="
                            color: #fff;
                            float: right;
                            background-color: #c0972e;
                        " routerLink="/application/add-product-form">
                            Add New <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>

            <owl-carousel-o [options]="customOptions" style="width: 100px !important;">
                <!-- <ng-template carouselSlide *ngFor="let pro of product">
                    <div class="col-lg-12 col-md-8 col-12">
                        <div class="tm-blog">
                            <div class="tm-blog-image">
                                <img src="{{pro.ProductImage}}" alt="product image" />
                            </div>
                        </div>
                        <div>
                            <h4>{{pro.ProductName}}</h4>
                            <p style="color: #fff;">
                                <b>This is the product description,</b> {{pro.Description}}
                            </p>
                        </div>
                    </div>
                </ng-template> -->
                <ng-template carouselSlide id="carouselSlide">
                    <div class="col-lg-12 col-md-8 col-12">
                        <div class="tm-blog">
                            <div class="tm-blog-image">
                                <img src="assets/images/You-Trade-In/white.jpg" alt="product image" />
                            </div>
                        </div>
                        <div>
                            <h4>Product Title</h4>
                            <p style="color: #fff;">
                                <b>This is the product description,</b> consetetur
                                sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna
                            </p>
                        </div>
                    </div>
                </ng-template>

                <ng-template carouselSlide>
                    <div class="col-lg-12 col-md-8 col-12">
                        <div class="tm-blog">
                            <div class="tm-blog-image">
                                <img src="assets/images/You-Trade-In/white.jpg" alt="product image" />
                            </div>
                        </div>
                        <div>
                            <h4>Product Title</h4>
                            <p style="color: #fff;">
                                <b>This is the product description,</b> consetetur
                                sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna
                            </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col-lg-12 col-md-8 col-12">
                        <div class="tm-blog">
                            <div class="tm-blog-image">
                                <img src="assets/images/You-Trade-In/white.jpg" alt="product image" />
                            </div>
                        </div>
                        <div>
                            <h4>Product Title</h4>
                            <p style="color: #fff;">
                                <b>This is the product description,</b> consetetur
                                sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna
                            </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col-lg-12 col-md-8 col-12">
                        <div class="tm-blog">
                            <div class="tm-blog-image">
                                <img src="assets/images/You-Trade-In/white.jpg" alt="product image" />
                            </div>
                        </div>
                        <div>
                            <h4>Product Title</h4>
                            <p style="color: #fff;">
                                <b>This is the product description,</b> consetetur
                                sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna
                            </p>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <!--// Products Area -->
    </div>

    <div class="page-section tm-section req-products-services-area tm-padding-section"
        style="background-color: #0e1234;">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="mb-5">
                        <h2 style="color: #c0972e; float: left;" class="leftAlign">
                            Requested Products/Services
                        </h2>
                        <a type="button" class="btn rightAlign" style="
                            color: #fff;
                            float: right;
                            background-color: #c0972e;
                        " routerLink="/application/add-new-request-form">
                            Add New Request <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>

            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="col">
                        <div class="tm-blog">
                            <div class="tm-blog-image">
                                <img src="assets/images/You-Trade-In/white.jpg" alt="product image" />
                            </div>
                        </div>
                        <div>
                            <h4>Product Title</h4>
                            <p style="color: #fff;">
                                <b>This is the product description,</b> consetetur
                                sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna
                            </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col">
                        <div class="tm-blog">
                            <div class="tm-blog-image">
                                <img src="assets/images/You-Trade-In/white.jpg" alt="product image" />
                            </div>
                        </div>
                        <div>
                            <h4>Product Title</h4>
                            <p style="color: #fff;">
                                <b>This is the product description,</b> consetetur
                                sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna
                            </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col">
                        <div class="tm-blog">
                            <div class="tm-blog-image">
                                <img src="assets/images/You-Trade-In/white.jpg" alt="product image" />
                            </div>
                        </div>
                        <div>
                            <h4>Product Title</h4>
                            <p style="color: #fff;">
                                <b>This is the product description,</b> consetetur
                                sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna
                            </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col">
                        <div class="tm-blog">
                            <div class="tm-blog-image">
                                <img src="assets/images/You-Trade-In/white.jpg" alt="product image" />
                            </div>
                        </div>
                        <div>
                            <h4>Product Title</h4>
                            <p style="color: #fff;">
                                <b>This is the product description,</b> consetetur
                                sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna
                            </p>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col">
                        <div class="tm-blog">
                            <div class="tm-blog-image">
                                <img src="assets/images/You-Trade-In/white.jpg" alt="product image" />
                            </div>
                        </div>
                        <div>
                            <h4>Product Title</h4>
                            <p style="color: #fff;">
                                <b>This is the product description,</b> consetetur
                                sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore et dolore magna
                            </p>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <!--// Products Area -->
    </div>

    <div class="page-section tm-section interests-area" style="background-color: #0e1234;">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="mb-5 mt-5">
                        <h2 style="color: #c0972e; float: left;" class="leftAlign">
                            Interests
                        </h2>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>

            <owl-carousel-o [options]="interestsOptions" class="interests-section mt-3" style="width: 400px;">
                <ng-template carouselSlide>
                    <div class="col">
                        <div class="tm-portfoliodetails-info">
                            <div class="tm-blog">
                                <div class="tm-blog-image m-3">
                                    <img src="assets/images/You-Trade-In/2030EgyptVisionLogo.png" alt="product image" />
                                </div>
                            </div>
                            <ul class="text-left">
                                <li>
                                    <b>Intra Contractors Ltd. <span>-</span></b>
                                    Construction
                                </li>
                                <li>
                                    <b>Mobilo Sans Co. <span>-</span></b> Mobile
                                </li>
                                <li>
                                    <b>Step Over Agency <span>-</span></b> Advertising
                                    Agency
                                </li>
                                <li>
                                    <b>Castro Leathers <span>-</span></b> Leather Goods
                                </li>
                                <li>
                                    <b>Décor Weavers <span>-</span></b> Carpets
                                </li>
                                <li>
                                    <b>Steel Iron Co. <span>-</span></b> Steel/Iron
                                </li>
                                <li>
                                    <b>Health Clinic <span>-</span></b> Health/Medical
                                </li>
                                <li>
                                    <b>Mobile Servico <span>-</span></b> Mobile
                                </li>
                                <li>
                                    <b>Stansan Co. <span>-</span></b> Real Estate
                                </li>
                                <li>
                                    <b>Chemico <span>-</span></b> Chemicals
                                </li>
                            </ul>
                        </div>


                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col">
                        <div class="tm-portfoliodetails-info">
                            <div class="tm-blog">
                                <div class="tm-blog-image m-3">
                                    <img src="assets/images/You-Trade-In/2030EgyptVisionLogo.png" alt="product image" />
                                </div>
                            </div>
                            <ul class="text-left">
                                <li>
                                    <b>Intra Contractors Ltd. <span>-</span></b>
                                    Construction
                                </li>
                                <li>
                                    <b>Mobilo Sans Co. <span>-</span></b> Mobile
                                </li>
                                <li>
                                    <b>Step Over Agency <span>-</span></b> Advertising
                                    Agency
                                </li>
                                <li>
                                    <b>Castro Leathers <span>-</span></b> Leather Goods
                                </li>
                                <li>
                                    <b>Décor Weavers <span>-</span></b> Carpets
                                </li>
                                <li>
                                    <b>Steel Iron Co. <span>-</span></b> Steel/Iron
                                </li>
                                <li>
                                    <b>Health Clinic <span>-</span></b> Health/Medical
                                </li>
                                <li>
                                    <b>Mobile Servico <span>-</span></b> Mobile
                                </li>
                                <li>
                                    <b>Stansan Co. <span>-</span></b> Real Estate
                                </li>
                                <li>
                                    <b>Chemico <span>-</span></b> Chemicals
                                </li>
                            </ul>
                        </div>


                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col">
                        <div class="tm-portfoliodetails-info">
                            <div class="tm-blog">
                                <div class="tm-blog-image m-3">
                                    <img src="assets/images/You-Trade-In/2030EgyptVisionLogo.png" alt="product image" />
                                </div>
                            </div>
                            <ul class="text-left">
                                <li>
                                    <b>Intra Contractors Ltd. <span>-</span></b>
                                    Construction
                                </li>
                                <li>
                                    <b>Mobilo Sans Co. <span>-</span></b> Mobile
                                </li>
                                <li>
                                    <b>Step Over Agency <span>-</span></b> Advertising
                                    Agency
                                </li>
                                <li>
                                    <b>Castro Leathers <span>-</span></b> Leather Goods
                                </li>
                                <li>
                                    <b>Décor Weavers <span>-</span></b> Carpets
                                </li>
                                <li>
                                    <b>Steel Iron Co. <span>-</span></b> Steel/Iron
                                </li>
                                <li>
                                    <b>Health Clinic <span>-</span></b> Health/Medical
                                </li>
                                <li>
                                    <b>Mobile Servico <span>-</span></b> Mobile
                                </li>
                                <li>
                                    <b>Stansan Co. <span>-</span></b> Real Estate
                                </li>
                                <li>
                                    <b>Chemico <span>-</span></b> Chemicals
                                </li>
                            </ul>
                        </div>


                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col">
                        <div class="tm-portfoliodetails-info">
                            <div class="tm-blog">
                                <div class="tm-blog-image m-3">
                                    <img src="assets/images/You-Trade-In/2030EgyptVisionLogo.png" alt="product image" />
                                </div>
                            </div>
                            <ul class="text-left">
                                <li>
                                    <b>Intra Contractors Ltd. <span>-</span></b>
                                    Construction
                                </li>
                                <li>
                                    <b>Mobilo Sans Co. <span>-</span></b> Mobile
                                </li>
                                <li>
                                    <b>Step Over Agency <span>-</span></b> Advertising
                                    Agency
                                </li>
                                <li>
                                    <b>Castro Leathers <span>-</span></b> Leather Goods
                                </li>
                                <li>
                                    <b>Décor Weavers <span>-</span></b> Carpets
                                </li>
                                <li>
                                    <b>Steel Iron Co. <span>-</span></b> Steel/Iron
                                </li>
                                <li>
                                    <b>Health Clinic <span>-</span></b> Health/Medical
                                </li>
                                <li>
                                    <b>Mobile Servico <span>-</span></b> Mobile
                                </li>
                                <li>
                                    <b>Stansan Co. <span>-</span></b> Real Estate
                                </li>
                                <li>
                                    <b>Chemico <span>-</span></b> Chemicals
                                </li>
                            </ul>
                        </div>


                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col">
                        <div class="tm-portfoliodetails-info">
                            <div class="tm-blog">
                                <div class="tm-blog-image m-3">
                                    <img src="assets/images/You-Trade-In/2030EgyptVisionLogo.png" alt="product image" />
                                </div>
                            </div>
                            <ul class="text-left">
                                <li>
                                    <b>Intra Contractors Ltd. <span>-</span></b>
                                    Construction
                                </li>
                                <li>
                                    <b>Mobilo Sans Co. <span>-</span></b> Mobile
                                </li>
                                <li>
                                    <b>Step Over Agency <span>-</span></b> Advertising
                                    Agency
                                </li>
                                <li>
                                    <b>Castro Leathers <span>-</span></b> Leather Goods
                                </li>
                                <li>
                                    <b>Décor Weavers <span>-</span></b> Carpets
                                </li>
                                <li>
                                    <b>Steel Iron Co. <span>-</span></b> Steel/Iron
                                </li>
                                <li>
                                    <b>Health Clinic <span>-</span></b> Health/Medical
                                </li>
                                <li>
                                    <b>Mobile Servico <span>-</span></b> Mobile
                                </li>
                                <li>
                                    <b>Stansan Co. <span>-</span></b> Real Estate
                                </li>
                                <li>
                                    <b>Chemico <span>-</span></b> Chemicals
                                </li>
                            </ul>
                        </div>


                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <!--// Products Area -->
    </div>

</div>