.owner-area .data {
    background-position: center;
    background-size: 85%;
}
@media (max-width: 414px) {
    .owner-area .data {
        background-position: bottom;
        background-size: 100%;
    }
    .owner-area .avatar-no-image {
        text-align: center;
        margin-left: 15%;
    }
}
.owner-area .profileData {
    background-color: #fff;
    width: 100%;
    padding: 10px;
}
.owner-area .avatar-data p {
    margin: 10px;
    text-align: center;
    color: #f2b414;
    font-weight: 800;
    font-size: 13px;
}
.owner-area .avatar-des h6 {
    color: #f2b414;
    font-size: 18px;
    font-weight: 700;
}
.owner-area .avatar-des p {
    color: #fff;
    font-size: 15px;
}

.owner-area {
    border-bottom: 1px solid #f2b414;
}

/**
   * Blog
   */
.products-services-area {
    border-bottom: 1px solid #f2b414;
}

.products-services-area h4 {
    color: #f2b414;
    margin-top: 10px;
}

.req-products-services-area {
    border-bottom: 1px solid #f2b414;
}

.req-products-services-area h4 {
    color: #f2b414;
    margin-top: 10px;
}

.tm-blog {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.tm-blog-image img {
    width: 100%;
}

.tm-blog-content {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 30px;
    padding-bottom: 110px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.tm-blog-content h4 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 90%;
}

.tm-blog-content h4 {
    color: #f2b414;
}

.tm-blog-content h4 a:hover {
    color: #1cb9c8;
}

.tm-blog-content p {
    color: #ffffff;
    margin-top: 20px;
}

.tm-blog-meta {
    margin-top: 5px;
}

.tm-blog-meta span {
    display: inline-block;
    color: #ffffff;
    font-weight: 600;
}

.tm-blog-meta span:after {
    content: 'I';
    text-transform: uppercase;
    padding: 0 15px;
}

.tm-blog-meta span:last-child::after {
    display: none;
}

.tm-blog-meta span a {
    color: #ffffff;
}

.tm-blog-meta span a:hover {
    color: #1cb9c8;
}

.tm-blog-contentbottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 30px;
}

.tm-blog-contentbottom a {
    color: #ffffff;
    font-weight: 600;
}

.tm-blog-contentbottom a:hover {
    color: #1cb9c8;
}

.tm-blog-social {
    position: absolute;
    left: 0;
    top: auto;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    -o-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
}

.tm-blog-social::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-style: solid;
    border-width: 0 45px 80px 45px;
    border-color: transparent transparent rgba(0, 0, 0, 0.7) transparent;
    z-index: -1;
}

.tm-blog-social ul {
    padding-left: 0;
    margin-bottom: 0;
}

.tm-blog-social ul li {
    list-style: none;
    margin: 0 15px;
    display: inline-block;
}

.tm-blog-social ul li:first-child {
    padding-left: 0;
}

.tm-blog-social ul li:last-child {
    margin-right: 0;
}

.tm-blog-social ul li a {
    font-size: 18px;
    color: #ffffff;
}

.tm-blog-social ul li a:hover {
    color: #1cb9c8;
}

.tm-blog:hover .tm-blog-content {
    visibility: visible;
    opacity: 1;
}

.tm-blog:hover .tm-blog-social {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    .tm-blog-contentbottom {
        margin-top: 10px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .tm-blog-content {
        padding: 20px;
        padding-bottom: 110px;
    }
    .tm-blog-contentbottom {
        margin-top: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .tm-blog-content {
        padding: 20px;
        padding-bottom: 110px;
    }
    .tm-blog-contentbottom {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .tm-blog-content {
        padding: 20px;
        padding-bottom: 110px;
    }
    .tm-blog-meta {
        margin-top: 0;
    }
    .tm-blog-contentbottom {
        margin-top: 0;
    }
    .tm-blog-social {
        height: 55px;
    }
}

/*Interests Section*/

/* Portfolio Details */
.interests-area .tm-portfoliodetails-image img {
    width: 100%;
}

.interests-area .tm-portfoliodetails-info {
    padding: 30px;
    /* -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    border: 1px solid #fff;
    margin: 10px;
    width: 450px !important;
}

.interests-area .tm-portfoliodetails-info > ul {
    padding-left: 0;
    margin-bottom: 0;
}

.interests-area .tm-portfoliodetails-info li {
    list-style: none;
    font-size: 16px;
    color: #fff;
}

.interests-area .tm-portfoliodetails-info li:not(:last-child) {
    margin-bottom: 15px;
}

.interests-area .tm-portfoliodetails-info li b {
    font-weight: 700;
    margin-right: 10px;
}

.interests-area .tm-portfoliodetails-info .tm-rating {
    display: inline-block;
}

.interests-area .tm-portfoliodetails-share {
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
}
.interests-area .tm-portfoliodetails-info span {
    color: #f2b414;
}
.interests-area .tm-portfoliodetails-share li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.interests-area .tm-portfoliodetails-share li a {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}

.interests-area .tm-portfoliodetails-description h3 {
    font-weight: 700;
    margin-top: -6px;
}

.interests-area .tm-portfoliodetails-description ul {
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .interests-area .tm-portfoliodetails-description {
        padding-top: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .interests-area .tm-portfoliodetails-description {
        padding-top: 40px;
    }
}

@media only screen and (max-width: 575px) {
    .interests-area .tm-portfoliodetails-info {
        padding: 20px;
    }
}

.interests-area .tm-slider-arrow-prev,
.interests-area .tm-slider-arrow-next {
    position: absolute;
    top: 50%;
    z-index: 1;
    padding: 0;
    height: 40px;
    line-height: 1;
    width: 40px;
    display: inline-block;
    border: 1px solid #f2b414;
    background: #f2b414;
    color: #ffffff;
    margin-top: -20px;
    font-size: 14px;
}

.interests-section .tm-blog-image {
    background-color: #ffffff;
    border-radius: 50%;
    height: 150px;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-bottom: 15px;
}
.interests-section .tm-blog-image img {
    margin-left: 16px;
    padding-top: 20%;
    width: 85%;
}
.interests-section .tm-blog-description {
    width: 25%;
}

@media (min-width: 768px) {
    .interests-section .tm-blog-image {
        background-color: #ffffff;
        border-radius: 50%;
        height: 150px;
        width: 50%;
        text-align: center;
        margin-left: 25%;
        margin-bottom: 15px;
    }
    .interests-section .tm-blog-image img {
        margin-left: 16px;
        padding-top: 20%;
        width: 85%;
    }
    .interests-section .tm-blog-description {
        width: 25%;
    }
}

@media (max-width: 320px) {
    .interests-section .tm-blog-image img {
        width: 50%;
    }

    .interests-area .tm-portfoliodetails-info {
        padding: 30px;
        /* -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
        border: 1px solid #fff;
        margin: 10px;
        width: 250px !important;
    }
}
@media (max-width: 414px) {
    .avatar-data .tm-portfoliodetails-info li {
        font-size: 10px;
    }
    .interests-area .tm-portfoliodetails-info {
        padding: 30px;
        /* -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
        border: 1px solid #fff;
        margin: 10px;
        width: 330px !important;
    }
}

.product-details a:hover {
    text-decoration: none;
}

.product-details a:hover h4 {
    color: #fff;
    text-decoration: none;
}

.avatar-data .tm-portfoliodetails-description p {
    color: #fff;
}
.avatar-data .tm-portfoliodetails-description a {
    color: #fff;
    text-decoration: none;
}

.avatar-data .tm-portfoliodetails-description a:hover {
    color: #0e1234;
}

.avatar-data .tm-portfoliodetails-info li {
    color: #f2b414;
    font-weight: 600;
}

.avatar-data .tm-portfoliodetails-info li b {
    font-weight: 700;
    color: #fff;
}
.avatar-data .tm-portfoliodetails-description a {
    background-color: #f2b414;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}
.avatar-des a {
    color: #fff;
}
.avatar-des a:hover {
    color: #0e1234;
    text-decoration: none;
}

.avatar-img img {
    background-color: #f2b414;
    /* padding-left: 80px; */
    // padding-top: 120px;
    border-radius: 25%;
    height: 250px;
    width: 100%;
    text-align: center;
    border: 4px solid #f2b414;
}

.avatar-des a {
    background-color: #f2b414;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.tm-portfoliodetails-info a {
    color: #f2b414;
}
.tm-portfoliodetails-info a:hover {
    color: #f2b414;
}

.messaging {
    color: #f2b414;
}
.messaging:hover {
    color: #ffffff;
}

.col-7 li {
    list-style: none;
}
.col-7 a:hover {
    cursor: pointer;
}
.delete-icon {
    padding: 8px;
    background: #ffffff;
    margin-right: 4px;
    border-radius: 50%;
    color: #dc3545;
}
.icon-btn {
    // padding: 1px 15px 3px 2px;
    border-radius: 50px;
    color: #fff !important;
}
// .icon-btn:hover {
//     background-color: #F2B414;
//     color: #fff;
// }

.edit-mode {
    background-color: #fff;
    color: #0e1234 !important;
}

.edit-icon {
    padding: 8px;
    background: #0e1234;
    margin-right: 4px;
    border-radius: 50%;
    color: #fff;
}

.product-actions a {
    margin: 10px;
}
.product-details h4 {
    font-size: 20px;
}

.interests-section .col-7 li {
    color: #f2b414;
}

::ng-deep .nav-tabs {
    justify-content: center !important;
    border-bottom: none;
}

::ng-deep .nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #ffffff;
    background-color: #f2b414;
    border-color: #f2b414;
}

::ng-deep .nav-tabs .nav-link {
    /* border: 1px solid transparent; */
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: #1494f2;
    color: #fff;
    margin-left: 5px;
}

.content {
    background-color: #fff;
    padding: 3%;
    margin-top: 1.2px;
}

.about {
    background-image: url('/assets/images/You-Trade-In/tabs-back.png');
    background-repeat: no-repeat;
    background-color: #f2b414;
    margin-top: 1.3px;
    background-position: center;
    background-size: cover;
}
.about img {
    margin-top: 10%;
    border: 3px solid #fff;
    border-radius: 50%;
}
.about ul {
    padding: 0px;
    text-align: center;
}
.about li {
    list-style: none;
    display: -webkit-box;
}
.content h4 {
    color: #404f76;
    float: left;
    font-size: 20px;
}
.content .btn {
    color: #fff;
    float: right;
    background-color: #f2b414;
    border-radius: 25px;
    margin-right: 3px;
}

.content .tm-portfoliodetails-info b {
    color: #404f76;
}

.content .tm-portfoliodetails-info .col-5 li {
    list-style: none;
}

.content .tm-portfoliodetails-info {
    padding: 20px;
    box-shadow: none;
}

.content .tm-portfoliodetails-info .row {
    border-bottom: 1px solid #70707052;
    padding: 1%;
}

.content .description h4 {
    color: #404f76;
    padding: 15px;
    font-size: 20px;
}

.content .description p {
    border: 1px solid #7070708a;
    padding: 2%;
    color: #404f76cf;
}
.content h2 {
    float: left;
    color: #0e1234d4;
    font-size: 20px;
}
.about .title {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

.slick-slider {
    width: 90%;
    margin: auto;
}

::ng-deep .mat-tab-group .mat-tab-body-content {
    height: 100%;
    overflow: unset;
}

::ng-deep .mat-tab-group .mat-tab-header-pagination {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    cursor: pointer;
    z-index: 2;
    /* -webkit-tap-highlight-color: transparent; */
    touch-action: none;
}

::ng-deep .mat-tab-group .mat-tab-label.mat-tab-label-active {
    height: 48px;
    padding: 0 24px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: 1;
    min-width: 160px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
    color: #fff;
    background-color: #f2b414;
    border: 1px solid #f2b414;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 3px;
}

::ng-deep .mat-tab-group .mat-tab-label {
    height: 48px;
    padding: 0 24px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: 1;
    min-width: 160px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
    color: #fff;
    background-color: #1494f2;
    border: 1px solid #1494f2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 3px;
}

::ng-deep .mat-tab-nav-bar,
.mat-tab-header {
    border-bottom: none;
}

::ng-deep .mat-tab-labels {
    display: flex;
    justify-content: center;
}

.owl-carousel {
    width: 90% !important;
    margin: 10% auto;
}

.owl-carousel .owl-nav {
    overflow: hidden;
    height: 0px;
}

.owl-carousel .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 30% !important;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.owl-carousel .prev-slide {
    background-image: url('/assets/images/You-Trade-In/backbtn.png');
    background-repeat: no-repeat;
    // backgro: scroll
    background-position: 0px 0px;
    left: -33px;
}

.owl-carousel .next-slide {
    background-image: url('/assets/images/You-Trade-In/next.png');
    background-repeat: no-repeat;
    // backgro: scroll
    background-position: -24px 0px;
    right: -33px;
}

.owl-carousel .prev-slide:hover {
    background-position: 0px -53px;
}

.owl-carousel .next-slide:hover {
    background-position: -24px -53px;
}

// ::ng-deep .owl-carousel .owl-stage {
//     position: relative;
//     touch-action: manipulation;
//     width: 400px;
// }

.tm-product-image {
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    width: 130px;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
::ng-deep .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #3f51b500 !important;
}

.content .tm-feature .actions {
    margin-top: 10%;
}

.content .tm-feature .edit-btn {
    background-color: #0e1234;
    padding: 10px;
    border-radius: 40px;
    color: #fff;
    margin-right: 10px;
    font-size: 12px;
}

a:hover {
    text-decoration: none;
}
.content .tm-feature .delete-btn {
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    border-radius: 40px;
    font-size: 12px;
}
.content .tm-feature .delete-btn:hover {
    cursor: pointer;
}
.tm-feature {
    border: 2px solid #fbfbfb;
}
// .owl-stage-outer .owl-stage {
//     display: flex !important;
// }

#carouselSlide {
    position: relative;
    overflow: hidden;
    /* margin-bottom: 80px; */ /*This is optional*/
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

::ng-deep .owl-carousel .owl-stage {
    display: flex !important;
}

.about .title {
    position: relative;
    width: 100%;
    height: 220px;
    color: #fff;
}

.about .title p {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

// .owl-item {
//     width: 300px !important;
// }

::ng-deep .owl-theme .owl-dots {
    text-align: initial;
    -webkit-tap-highlight-color: transparent;
    margin-left: 35%;
}

.tm-feature .des {
    color: #404f76d4;
    font-size: 12px;
    padding: 10%;
}

.tm-feature .proTitle {
    color: #404f76;
    font-weight: 600;
    font-size: 25px;
    padding-top: 2%;
}

.tm-feature {
    -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 30px 0px;
    background: #ffffff;
    border-radius: 40px;
    height: 450px;
    margin-bottom: 10px;
    width: 300px;
}

// .owl-carousel {
//     display: none;
//     width: 1000px !important;
//     -webkit-tap-highlight-color: transparent;
//     position: relative;
//     z-index: 1;
// }

.tm-feature-icon {
    display: inline-block;
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 10%;
}
.tm-portfoliodetails-info {
    width: 100%;
}

.ProductStatus {
    margin-top: 15%;
}

.tm-feature-icon img {
    max-width: 200px;
    max-height: 100px;
}
