<!-- *ngIf="user" -->
<div class="owner-profile">
    <div class="page-section tm-section owner-area tm-padding-section" style="background-color: #0e1234;">
        <div class="container" *ngIf="userDetails">
            <div class="row mt-5">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="mb-5">
                        <h2 style="color: #c0972e; float: left;" class="leftAlign">
                            Hi {{userDetails.accountName}} !
                        </h2>

                        <a type="button" class="btn rightAlign" style="
                            color: #fff;
                            float: right;
                            background-color: #c0972e;
                        " routerLink="/account/editprofile">
                            Edit Profile
                        </a>
                        <a type="button" class="btn rightAlign" style="
                        color: #c0972e;
                        float: right;
                        font-weight: 500;
                        margin-right: 10px;
                        background-color: #fff;
                    " routerLink="/account/update-password">
                            Update Password
                        </a>
                        <a class="messaging" style="float: right;margin-right: 15px; font-size: 25px;"
                            routerLink="/messageing/sidebar"><i class="fa fa-comments" aria-hidden="true"></i>
                        </a>

                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
            <div class="row mt-5 avatar-data">
                <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                    <div class="well well-sm">
                        <div class="row justify-content-center">
                            <div class="col-lg-4 col-sm-4 col-xs-8 col-md-8 col-12 avatar-img"
                                *ngIf="userDetails.accountImage">
                                <img [src]="getFilePath(userDetails.accountImage)" alt="{{userDetails.accountName}}"
                                    class="img-rounded img-responsive" />

                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-8 col-md-8 col-12 justify-content-left avatar-no-image"
                                *ngIf="!userDetails.accountImage">
                                <img src="assets/images/You-Trade-In/student.png" alt="" width="70%"
                                    class="img-rounded img-responsive">
                            </div>
                            <div class="col-xl-8 col-lg-8">
                                <div class="tm-portfoliodetails-info"
                                    style="background-color: #0e1234;border-radius: 10px;">
                                    <!-- <ul>
                                        <li><b>User Name :</b>
                                            {{userDetails.accountAdministrators[0].firstName}}
                                            {{userDetails.accountAdministrators[0].lastName}}
                                        </li>
                                        <li><b>Email :</b> {{userDetails.accountAdministrators[0].email}}
                                        </li>
                                        <li><b>Account Name :</b> {{userDetails.accountName}}</li>
                                        <li><b>Account Mobile :</b> {{userDetails.accountMobile}}</li>
                                        <li><b>Country Name :</b> {{userDetails.countryName}}</li>
                                        <li><b>Account Website :</b> <a target="_blank"
                                                [href]="userDetails.accountWebsite">{{userDetails.accountWebsite}}</a>
                                        </li>
                                        <li><b>Mission :</b> {{userDetails.mission}}</li>
                                        <li><b>Vision :</b> {{userDetails.vission}}</li>
                                    </ul> -->

                                    <div class="row">
                                        <div class="col-5">
                                            <li style="color: #fff;"
                                                *ngIf="userDetails.accountAdministrators[0].firstName && userDetails.accountAdministrators[0].lastName">
                                                <b>User Name :</b></li>
                                        </div>
                                        <div class="col-7">
                                            <li
                                                *ngIf="userDetails.accountAdministrators[0].firstName && userDetails.accountAdministrators[0].lastName">
                                                {{userDetails.accountAdministrators[0].firstName}}
                                                {{userDetails.accountAdministrators[0].lastName}}
                                            </li>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-5">
                                            <li style="color: #fff;" *ngIf="userDetails.accountAdministrators[0].email">
                                                <b>Email :</b></li>
                                        </div>
                                        <div class="col-7">
                                            <li *ngIf="userDetails.accountAdministrators[0].email">
                                                {{userDetails.accountAdministrators[0].email}}
                                            </li>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-5">
                                            <li style="color: #fff;" *ngIf="userDetails.accountName">
                                                <b>Company Name :</b></li>
                                        </div>
                                        <div class="col-7">
                                            <li *ngIf="userDetails.accountName">
                                                {{userDetails.accountName}}
                                            </li>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-5">
                                            <li style="color: #fff;" *ngIf="userDetails.accountMobile">
                                                <b>Account Mobile :</b></li>
                                        </div>
                                        <div class="col-7">
                                            <li *ngIf="userDetails.accountMobile">
                                                {{userDetails.accountMobile}}
                                            </li>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-5">
                                            <li style="color: #fff;" *ngIf="userDetails.countryName">
                                                <b>Country :</b></li>
                                        </div>
                                        <div class="col-7">
                                            <li *ngIf="userDetails.countryName">
                                                {{userDetails.countryName}}
                                            </li>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-5">
                                            <li style="color: #fff;" *ngIf="userDetails.accountWebsite">
                                                <b>Account Website :</b></li>
                                        </div>
                                        <div class="col-7">
                                            <li *ngIf="userDetails.accountWebsite">
                                                <a target="_blank"
                                                    [href]="userDetails.accountWebsite">{{userDetails.accountWebsite}}</a>
                                            </li>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-5">
                                            <li style="color: #fff;" *ngIf="userDetails.mission">
                                                <b>Mission :</b></li>
                                        </div>
                                        <div class="col-7">
                                            <li *ngIf="userDetails.mission">
                                                {{userDetails.mission}}
                                            </li>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-5">
                                            <li style="color: #fff;" *ngIf="userDetails.vission">
                                                <b>Vision :</b></li>
                                        </div>
                                        <div class="col-7">
                                            <li *ngIf="userDetails.vission">
                                                {{userDetails.vission}}
                                            </li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-3 avatar-des">
                <div class="col-lg-12 col-12">
                    <h6 class="text-left">Profile Description</h6>
                    <p class="text-left">
                        <b>This is the profile description,</b> {{userDetails.description}}
                    </p>
                </div>
                <div class="col-12 mt-3">
                    <h6 class="text-left mb-3">Account Attachment</h6>
                    <a *ngFor="let attachment of userDetails.accountAttachments" [href]="getFilePath(attachment) "
                        alt="Product Attachments" target="_blank">
                        &nbsp; <i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;{{attachment}}
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="page-section tm-section products-services-area tm-padding-section" style="background-color: #0e1234;">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="mb-5">
                        <h2 style="color: #c0972e; float: left;" class="leftAlign">
                            Products/Services
                        </h2>
                        <a type="button" class="btn rightAlign" style="
                            color: #fff;
                            float: right;
                            background-color: #c0972e;
                        " routerLink="/application/add-product-form">
                            Add New <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>

            <owl-carousel-o [options]="productSlider">
                <ng-template carouselSlide *ngFor="let product of accountProducts">
                    <div class="col-lg-12 col-md-8 col-12">
                        <div class="tm-blog">
                            <div class="tm-blog-image" style="max-width: 500px; max-height: 500px;">
                                <img style="height: 300px;" [src]="getFilePath(product.productImages[0])"
                                    alt="{{product.productName}}" />
                            </div>
                        </div>
                        <div class="product-details">
                            <a [routerLink]="['/application/product-details', product.accountProductId]"
                                routerLinkActive="active">
                                <h4>{{product.productName}}</h4>
                            </a>
                            <p style="color: #fff;">
                                {{product.description | slice : 0 : 100}}
                            </p>
                        </div>
                        <div class="product-actions ">
                            <a class="btn icon-btn edit-mode"
                                [routerLink]="['/application/edit-product-form', product.accountProductId]"><i
                                    class="fa fa-wrench edit-icon" aria-hidden="true"></i>
                                Edit</a>
                            <a class="btn icon-btn btn-danger"
                                (click)="deleteAccountProduct(product.accountProductId)"><i
                                    class="fa fa-trash delete-icon" aria-hidden="true"></i>
                                Delete</a>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <!--// Products Area -->
    </div>

    <div class="page-section tm-section req-products-services-area tm-padding-section"
        style="background-color: #0e1234;">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="mb-5">
                        <h2 style="color: #c0972e; float: left;" class="leftAlign">
                            Requested Products/Services
                        </h2>
                        <a type="button" class="btn rightAlign" style="
                            color: #fff;
                            float: right;
                            background-color: #c0972e;
                        " routerLink="/application/add-new-request-form">
                            Add New Request <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>

            <owl-carousel-o [options]="requestsSlider">
                <ng-template carouselSlide *ngFor="let requestProduct of buyingProducts">
                    <div class="col-lg-12 col-md-8 col-12">
                        <div class="tm-blog">
                            <div class="tm-blog-image" style="max-width: 500px; max-height: 500px;">
                                <img style="height: 300px;" [src]="getFilePath(requestProduct.image)"
                                    alt="{{requestProduct.productName}}" />
                            </div>
                        </div>
                        <div class="product-details">
                            <a [routerLink]="['/application/buying-product-details', requestProduct.buyingRequestId]"
                                routerLinkActive="active">
                                <h4>{{requestProduct.productName}}</h4>
                            </a>

                            <p style="color: #fff;">
                                {{requestProduct.description | slice : 0 : 100}}
                            </p>
                        </div>
                        <div class="product-actions">
                            <a class="btn icon-btn edit-mode"
                                [routerLink]="['/application/edit-buying-request', requestProduct.buyingRequestId]"><i
                                    class="fa fa-wrench edit-icon" aria-hidden="true"></i>
                                Edit</a>
                            <a class="btn icon-btn btn-danger"
                                (click)="deleteBuyingRequest(requestProduct.buyingRequestId)"><i
                                    class="fa fa-trash delete-icon" aria-hidden="true"></i>
                                Delete</a>
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <!--// Products Area -->
    </div>

    <div class="page-section tm-section interests-area" style="background-color: #0e1234;">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12 col-md-12 col-12">
                    <div class="mb-5 mt-5">
                        <h2 style="color: #c0972e; float: left;" class="leftAlign">
                            Interests
                        </h2>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>

            <owl-carousel-o [options]="interestsOptions" class="interests-section mt-3" style="width: 400px;">
                <ng-template carouselSlide>
                    <div class="col">
                        <div class="tm-portfoliodetails-info">
                            <div class="tm-blog">
                                <div class="tm-blog-image m-3">
                                    <img src="assets/images/You-Trade-In/2030EgyptVisionLogo.png" alt="product image" />
                                </div>
                            </div>
                            <ul class="text-left">
                                <li>
                                    <b>Intra Contractors Ltd. <span>-</span></b>
                                    Construction
                                </li>
                                <li>
                                    <b>Mobilo Sans Co. <span>-</span></b> Mobile
                                </li>
                                <li>
                                    <b>Step Over Agency <span>-</span></b> Advertising
                                    Agency
                                </li>
                                <li>
                                    <b>Castro Leathers <span>-</span></b> Leather Goods
                                </li>
                                <li>
                                    <b>Décor Weavers <span>-</span></b> Carpets
                                </li>
                                <li>
                                    <b>Steel Iron Co. <span>-</span></b> Steel/Iron
                                </li>
                                <li>
                                    <b>Health Clinic <span>-</span></b> Health/Medical
                                </li>
                                <li>
                                    <b>Mobile Servico <span>-</span></b> Mobile
                                </li>
                                <li>
                                    <b>Stansan Co. <span>-</span></b> Real Estate
                                </li>
                                <li>
                                    <b>Chemico <span>-</span></b> Chemicals
                                </li>
                            </ul>
                        </div>


                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="col">
                        <div class="tm-portfoliodetails-info">
                            <div class="tm-blog">
                                <div class="tm-blog-image m-3">
                                    <img src="assets/images/You-Trade-In/2030EgyptVisionLogo.png" alt="product image" />
                                </div>
                            </div>
                            <ul class="text-left">
                                <li>
                                    <b>Intra Contractors Ltd. <span>-</span></b>
                                    Construction
                                </li>
                                <li>
                                    <b>Mobilo Sans Co. <span>-</span></b> Mobile
                                </li>
                                <li>
                                    <b>Step Over Agency <span>-</span></b> Advertising
                                    Agency
                                </li>
                                <li>
                                    <b>Castro Leathers <span>-</span></b> Leather Goods
                                </li>
                                <li>
                                    <b>Décor Weavers <span>-</span></b> Carpets
                                </li>
                                <li>
                                    <b>Steel Iron Co. <span>-</span></b> Steel/Iron
                                </li>
                                <li>
                                    <b>Health Clinic <span>-</span></b> Health/Medical
                                </li>
                                <li>
                                    <b>Mobile Servico <span>-</span></b> Mobile
                                </li>
                                <li>
                                    <b>Stansan Co. <span>-</span></b> Real Estate
                                </li>
                                <li>
                                    <b>Chemico <span>-</span></b> Chemicals
                                </li>
                            </ul>
                        </div>


                    </div>
                </ng-template>

            </owl-carousel-o>
        </div>
        <!--// Products Area -->
    </div>

</div>