<!-- Login Area -->
<div class="tm-section tm-login-register-area tm-padding-section" style="background-color: #0e1234;">
    <div class="container">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-lg-8">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
                    class="tm-form tm-login-form tm-form-bordered bg-white">
                    <h4>Login</h4>
                    <div class="tm-form-inner">
                        <div class="tm-form-field">
                            <label for="login-email">Email</label> <br />
                            <input type="email" name="primaryAdminEmail" formControlName="primaryAdminEmail"
                                id="login-email" required="required" [ngClass]="{
                                    'is-invalid': submitted && f.primaryAdminEmail.errors
                                }" />

                            <label class="text-danger"
                                *ngIf="loginForm.get('primaryAdminEmail').touched && loginForm.get('primaryAdminEmail').errors?.required">
                                Email is required
                            </label>

                        </div>
                        <div class="tm-form-field">
                            <label for="login-password">Password</label> <br />
                            <input type="password" id="login-password" name="primaryAdminPassword"
                                formControlName="primaryAdminPassword" required="required" [ngClass]="{
                                    'is-invalid': submitted && f.primaryAdminPassword.errors
                                }" />
                            <label class="text-danger"
                                *ngIf="loginForm.get('primaryAdminPassword').touched && loginForm.get('primaryAdminPassword').errors?.required">Password
                                is
                                required</label>
                        </div>
                        <div class="tm-form-field">
                            <button type="submit" class="tm-button mt-2">
                                <a>Login <b></b></a>
                            </button>
                            <p>
                                Don't have an Account
                                <a routerLink="/account/registeration">Register</a>
                                Now
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--// Login Area -->