<!-- Login Area -->
<div class="tm-section tm-login-register-area tm-padding-section" style="background-color: #0e1234;">
    <div class="container">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-lg-8">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
                    class="tm-form tm-login-form tm-form-bordered bg-white">
                    <h4>Login</h4>
                    <div class="tm-form-inner">
                        <div class="input-group mb-3">
                            <label for="login-email">Email</label> <br />
                            <input type="email" name="primaryAdminEmail" formControlName="primaryAdminEmail"
                                id="login-email" required="required" placeholder="Enter Your Email Address" [ngClass]="{
                                    'is-invalid': submitted && f.primaryAdminEmail.errors
                                }" />

                            <label class="text-danger"
                                *ngIf="loginForm.get('primaryAdminEmail').touched && loginForm.get('primaryAdminEmail').errors?.required">
                                Email is required
                            </label>

                        </div>
                        <div class="input-group mt-3">
                            <input [type]="fieldTextType ? 'text' : 'password'" class="form-control"
                                formControlName="primaryAdminPassword" placeholder="Enter Your Password"
                                required="required" [ngClass]="{
                                'is-invalid': submitted && f.primaryAdminPassword.errors
                            }" style="height: 50px;">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fas" [ngClass]="{
                                        'fa-eye': !fieldTextType,
                                        'fa-eye-slash': fieldTextType
                                      }" (click)="toggleFieldTextType()"></i>
                                </span>
                            </div>
                        </div>
                        <label class="text-danger"
                            *ngIf="loginForm.get('primaryAdminPassword').touched && loginForm.get('primaryAdminPassword').errors?.required">Password
                            is
                            required</label>
                        <div class="tm-form-field">
                            <button type="submit" class="tm-button mt-2" [disabled]="!loginForm.valid">
                                <a>Login <b></b></a>
                            </button>
                            <p class="forgetPass"><a routerLink="/account/forget-password">Forgotten password?</a></p>
                            <p>
                                Don't have an Account
                                <a routerLink="/account/registeration">Register</a>
                                Now
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--// Login Area -->