* {
    font-family: 'Roboto', sans-serif;
}
h4 {
    text-align: center;
    color: #f2b414;
}
input {
    width: 100%;
    border: 1px solid #f2b414;
    border-radius: 5px;
}

.tm-button {
    width: 100%;
}

p {
    text-align: center;
    margin-top: 40px;
    color: #0e1234;
    font-size: large;
}

p a {
    color: #f2b414;
    font-weight: 800;
    text-decoration: underline;
}

p a:hover {
    color: #0e1234;
}

.forgetPass a {
    color: #f80000;
    font-weight: 500;
    text-decoration: none;
}

.forgetPass a:hover {
    color: #f80000;
    font-weight: 900;
    text-decoration: underline;
}
