* {
  font-family: "Roboto", sans-serif;
}
h4 {
  text-align: center;
  color: #c0972e;
}
input {
  width: 100%;
  border: 1px solid #c0972e;
  border-radius: 5px;
}

.tm-button {
  width: 100%;
}

p {
  text-align: center;
  margin-top: 40px;
  color: #0e1234;
  font-size: large;
}

p a {
  color: #c0972e;
  font-weight: 800;
  text-decoration: underline;
}

p a:hover {
  color: #0e1234;
}
