<div class="page-section tm-section viewer-area tm-padding-section" style="background-color: #0e1234;">
    <div class="container" *ngIf="targetAccountDetails">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="mb-5">
                    <h2 style="color: #c0972e; float: left;" class="leftAlign">
                        {{targetAccountDetails.accountName}}'s Profile
                    </h2>
                    <button type="button" class="btn rightAlign" style="
                            color: #fff;
                            float: right;
                            background-color: #c0972e;
                        ">
                        Add Interest
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </button>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        <div class="row mt-5 avatar-data">
            <div class="col-lg-12 col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-sm-4 col-xs-8 col-md-8 col-12 avatar-img">
                            <img [src]="getFilePath(targetAccountDetails.accountImage)"
                                alt={{targetAccountDetails.accountName}} class="img-rounded img-responsive"
                                width="70%" />
                        </div>
                        <div class="col-xl-8 col-lg-8">
                            <div class="tm-portfoliodetails-info" style="background-color: #fff;border-radius: 10px;">
                                <div class="row">
                                    <div class="col-5">
                                        <li style="color: #000000;"
                                            *ngIf="targetAccountDetails.accountAdministrators[0].firstName && targetAccountDetails.accountAdministrators[0].lastName">
                                            <b>User Name :</b></li>
                                    </div>
                                    <div class="col-7">
                                        <li
                                            *ngIf="targetAccountDetails.accountAdministrators[0].firstName && targetAccountDetails.accountAdministrators[0].lastName">
                                            {{targetAccountDetails.accountAdministrators[0].firstName}}
                                            {{targetAccountDetails.accountAdministrators[0].lastName}}
                                        </li>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-5">
                                        <li style="color: #000000;"
                                            *ngIf="targetAccountDetails.accountAdministrators[0].email">
                                            <b>Email :</b></li>
                                    </div>
                                    <div class="col-7">
                                        <li *ngIf="targetAccountDetails.accountAdministrators[0].email">
                                            {{targetAccountDetails.accountAdministrators[0].email}}
                                        </li>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-5">
                                        <li style="color: #000000;" *ngIf="targetAccountDetails.accountName">
                                            <b>Account Name :</b></li>
                                    </div>
                                    <div class="col-7">
                                        <li *ngIf="targetAccountDetails.accountName">
                                            {{targetAccountDetails.accountName}}
                                        </li>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-5">
                                        <li style="color: #000000;" *ngIf="targetAccountDetails.accountMobile">
                                            <b>Account Mobile :</b></li>
                                    </div>
                                    <div class="col-7">
                                        <li *ngIf="targetAccountDetails.accountMobile">
                                            {{targetAccountDetails.accountMobile}}
                                        </li>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-5">
                                        <li style="color: #000000;" *ngIf="targetAccountDetails.countryName">
                                            <b>Country Name :</b></li>
                                    </div>
                                    <div class="col-7">
                                        <li *ngIf="targetAccountDetails.countryName">
                                            {{targetAccountDetails.countryName}}
                                        </li>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-5">
                                        <li style="color: #000000;" *ngIf="targetAccountDetails.accountWebsite">
                                            <b>Account Website :</b></li>
                                    </div>
                                    <div class="col-7">
                                        <li *ngIf="targetAccountDetails.accountWebsite">
                                            <a target="_blank"
                                                [href]="targetAccountDetails.accountWebsite">{{targetAccountDetails.accountWebsite}}</a>
                                        </li>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-5">
                                        <li style="color: #000000;" *ngIf="targetAccountDetails.mission">
                                            <b>Mission :</b></li>
                                    </div>
                                    <div class="col-7">
                                        <li *ngIf="targetAccountDetails.mission">
                                            {{targetAccountDetails.mission}}
                                        </li>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-5">
                                        <li style="color: #000000;" *ngIf="targetAccountDetails.vission">
                                            <b>Vision :</b></li>
                                    </div>
                                    <div class="col-7">
                                        <li *ngIf="targetAccountDetails.vission">
                                            {{targetAccountDetails.vission}}
                                        </li>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3 avatar-des">
            <div class="col-lg-12 col-12">
                <h6 class="text-left">Profile Description</h6>
                <p class="text-left">
                    <b>This is the profile description,</b> {{targetAccountDetails.description}}
                </p>
            </div>
            <div class="col-12 mt-3">
                <h6 class="text-left mb-3">Account Attachment</h6>
                <a *ngFor="let attachment of targetAccountDetails.accountAttachments" [href]="getFilePath(attachment)"
                    alt="Product Attachments" target="_blank">
                    &nbsp; <i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;{{attachment}}
                </a>
            </div>
        </div>
    </div>
</div>

<div class="page-section tm-section products-services-area tm-padding-section" style="background-color: #0e1234;">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="mb-5">
                    <h2 style="color: #c0972e; float: left;" class="leftAlign">
                        Products/Services
                    </h2>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>

        <owl-carousel-o [options]="customOptions" style="width: 100px !important;">
            <ng-template carouselSlide *ngFor="let product of accountProducts">
                <div class="col-lg-12 col-md-8 col-12">
                    <div class="tm-blog">
                        <div class="tm-blog-image" style="max-width: 500px; max-height: 500px;">
                            <img style="height: 300px;" [src]="getFilePath(product.productImages[0])"
                                alt="{{product.productName}}" />
                        </div>
                    </div>
                    <div class="product-details">
                        <a [routerLink]="['/application/product-details', product.accountProductId]"
                            routerLinkActive="active">
                            <h4>{{product.productName}}</h4>
                        </a>
                        <p style="color: #fff;">
                            {{product.description | slice : 0 : 100}}
                        </p>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
    <!--// Products Area -->
</div>

<div class="page-section tm-section req-products-services-area tm-padding-section" style="background-color: #0e1234;">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="mb-5">
                    <h2 style="color: #c0972e; float: left;" class="leftAlign">
                        Requested Products/Services
                    </h2>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>

        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let requestProduct of buyingProducts">
                <div class="col-lg-12 col-md-8 col-12">
                    <div class="tm-blog">
                        <div class="tm-blog-image" style="max-width: 500px; max-height: 500px;">
                            <img style="height: 300px;" [src]="getFilePath(requestProduct.image)"
                                alt="{{requestProduct.productName}}" />
                        </div>
                    </div>
                    <div class="product-details">
                        <a [routerLink]="['/application/buying-product-details', requestProduct.buyingRequestId]"
                            routerLinkActive="active">
                            <h4>{{requestProduct.productName}}</h4>
                        </a>

                        <p style="color: #fff;">
                            {{requestProduct.description | slice : 0 : 100}}
                        </p>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
    <!--// Products Area -->
</div>