<div class="viewer-profile" *ngIf="targetAccountDetails">
    <div class="page-section tm-section contact-area tm-padding-section" style="background-color: #0E1234;">
        <div class="container">
            <div class="row d-flex justify-content-center ml-2">
                <mat-tab-group id="desktopView">
                    <mat-tab label="Profile">
                        <div class="row" style="width: 1140px;">
                            <div class="col-lg-3 col-md-4 col-12 justify-content-center about">
                                <div class="row justify-content-center avatar-no-image">
                                    <img *ngIf="!targetAccountDetails.accountImage"
                                        src="assets/images/You-Trade-In/student.png" alt=""
                                        class="img-rounded img-responsive">
                                    <img *ngIf="targetAccountDetails.accountImage"
                                        [src]="getFilePath(targetAccountDetails.accountImage)"
                                        alt="{{targetAccountDetails.accountName}}" class="img-rounded img-responsive">
                                </div>
                                <div class="row justify-content-center mt-3">
                                    <ul>
                                        <li><i class="fa fa-user" aria-hidden="true"></i> &nbsp;
                                            <p> {{targetAccountDetails.accountAdministrators[0].firstName}}
                                                {{targetAccountDetails.accountAdministrators[0].lastName}}</p>
                                        </li>
                                        <li><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;
                                            <a href="mailto:{{targetAccountDetails.accountAdministrators[0].email}}">
                                                {{targetAccountDetails.accountAdministrators[0].email}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-8 col-12 content">
                                <div class="mb-5">
                                    <h4 class="leftAlign">
                                        {{targetAccountDetails.accountName}}
                                    </h4>
                                    <div class="rightAlign">
                                        <a type="button" class="btn"
                                            [routerLink]="['/application/send-message', targetAccountDetails.accountId, targetAccountDetails.accountName]">
                                            Send Message <i class="fa fa-comments" aria-hidden="true"></i>
                                        </a>
                                        <a *ngIf="!targetAccountDetails.isFavorite" type="button" class="btn"
                                            (click)="addFavorite(TargetAccountId)">
                                            Add Interest <i class="fa fa-star" aria-hidden="true"></i>
                                        </a>
                                        <a *ngIf="targetAccountDetails.isFavorite" type="button" class="btn"
                                            (click)="deleteFavorite(targetAccountDetails.favoriteId)">
                                            Remove Interest <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <div style="clear: both;"></div>
                                <div class="row" style="border-top: 2px solid #70707070;">
                                    <div class="tm-portfoliodetails-info">
                                        <div class="row">
                                            <div class="col-5">
                                                <li>
                                                    <b>Main Category </b></li>
                                            </div>
                                            <div class="col-7">
                                                <li>
                                                    {{targetAccountDetails.categoryName}}
                                                </li>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <li>
                                                    <b>Sub Categories </b></li>
                                            </div>
                                            <div class="col-7">
                                                <li>
                                                    <p *ngFor="let category of targetAccountDetails.categories">
                                                        {{category.categoryName}}
                                                    </p>
                                                </li>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <li>
                                                    <b>Country </b></li>
                                            </div>
                                            <div class="col-7">
                                                <li>
                                                    {{targetAccountDetails.countryName}}
                                                </li>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <li>
                                                    <b>Account Website </b></li>
                                            </div>
                                            <div class="col-7">
                                                <li>
                                                    <a
                                                        (click)="goToWebsiteUrl(targetAccountDetails.accountWebsite)">{{targetAccountDetails.accountWebsite}}</a>
                                                </li>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <li>
                                                    <b>Mission </b></li>
                                            </div>
                                            <div class="col-7">
                                                <li>
                                                    {{targetAccountDetails.mission}}
                                                </li>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <li>
                                                    <b>Vision </b></li>
                                            </div>
                                            <div class="col-7">
                                                <li>
                                                    {{targetAccountDetails.vission}}
                                                </li>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <li>
                                                    <b>Profile Description </b></li>
                                            </div>
                                            <div class="col-7">
                                                <li>
                                                    {{targetAccountDetails.description}}
                                                </li>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <li>
                                                    <b>Attachments </b></li>
                                            </div>
                                            <div class="col-7">
                                                <li>
                                                    <a *ngFor="let attachment of targetAccountDetails.accountAttachments"
                                                        [href]="getFilePath(attachment) " alt="Product Attachments"
                                                        target="_blank">
                                                        &nbsp; <i class="fa fa-paperclip"
                                                            aria-hidden="true"></i>&nbsp;{{attachment}}
                                                    </a>
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Account Products ">
                        <div class="row" style="width: 1140px;">
                            <div class="col-lg-3 col-md-4 col-12 justify-content-center about">
                                <div class="row justify-content-center title">
                                    <p>Account Products</p>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-8 col-12 content" style="width: 100px;">
                                <div class="mb-5">
                                    <h4 class="leftAlign">
                                        Account Products
                                    </h4>
                                </div>
                                <div style="clear: both;"></div>
                                <div class="row">
                                    <owl-carousel [options]="productSlider" [items]="accountProducts"
                                        [carouselClasses]="['owl-theme','row','sliding']">
                                        <div class="item" *ngFor="let product of accountProducts">

                                            <div class="col-lg-12">
                                                <div class="tm-feature text-center">
                                                    <span class="tm-feature-icon">
                                                        <img [src]="getFilePath(product.productImages[0])">
                                                    </span>
                                                    <p class="catName">{{product.categoryName}}</p>
                                                    <p class="proTitle"><a
                                                            [routerLink]="['/application/product-details', product.accountProductId]">{{product.productName}}</a>
                                                    </p>
                                                    <p class="des">{{product.description | slice : 0 : 60}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </owl-carousel>
                                </div>

                            </div>
                        </div>

                    </mat-tab>
                    <mat-tab label="Buying Requests ">
                        <div class="row" style="width: 1140px;">
                            <div class="col-lg-3 col-md-4 col-12 justify-content-center about">
                                <div class="row justify-content-center title">
                                    <p>Buying Requests</p>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-8 col-12 content" style="width: 100px;">
                                <div class="mb-5">
                                    <h4 class="leftAlign">
                                        Buying Requests
                                    </h4>
                                </div>
                                <div style="clear: both;"></div>
                                <div class="row">
                                    <owl-carousel [options]="requestsSlider" [items]="buyingProducts"
                                        [carouselClasses]="['owl-theme','row','sliding']">
                                        <div class="item" *ngFor="let product of buyingProducts">

                                            <div class="col-lg-12">
                                                <div class="tm-feature text-center">
                                                    <span class="tm-feature-icon">
                                                        <img [src]="getFilePath(product.image)">
                                                    </span>
                                                    <p class="proTitle"><a
                                                            [routerLink]="['/application/buying-product-details', product.buyingRequestId]">{{product.title}}</a>
                                                    </p>
                                                    <p class="catName">{{product.subCategoryName}}</p>
                                                    <p class="des">{{product.description | slice : 0 : 60}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </owl-carousel>
                                </div>

                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="About us">
                        <div class="row" style="width: 1140px;">
                            <div class="col-lg-3 col-md-4 col-12 justify-content-center about">
                                <div class="row justify-content-center title">
                                    <p>About Us</p>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-8 col-12 content">
                                <div class="mb-5">
                                    <h4 class="leftAlign">
                                        Company Profile
                                    </h4>

                                    <a type="button" class="btn rightAlign"
                                        [routerLink]="['/application/send-message', targetAccountDetails.accountId]">
                                        Send Message <i class="fa fa-comments" aria-hidden="true"></i>
                                    </a>
                                    <a *ngIf="!targetAccountDetails.isFavorite" type="button" class="btn rightAlign"
                                        (click)="addFavorite(TargetAccountId)">
                                        Add Interest <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                    <a *ngIf="targetAccountDetails.isFavorite" type="button" class="btn rightAlign"
                                        (click)="deleteFavorite(targetAccountDetails.favoriteId)">
                                        Remove Interest <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>

                                </div>
                                <div style="clear: both;"></div>
                                <div class="row" style="border-top: 2px solid #70707070;">
                                    <div class="tm-portfoliodetails-info" style="width: 100%;">
                                        <div class="row">
                                            <div class="col-5">
                                                <li>
                                                    <b>Company Name </b></li>
                                            </div>
                                            <div class="col-7">
                                                <li>
                                                    {{targetAccountDetails.accountName}}
                                                </li>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <li>
                                                    <b>Country </b></li>
                                            </div>
                                            <div class="col-7">
                                                <li>
                                                    {{targetAccountDetails.countryName}}
                                                </li>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <li>
                                                    <b>Mobile Number </b></li>
                                            </div>
                                            <div class="col-7">
                                                <li *ngFor="let mobile of targetAccountDetails.mobile">
                                                    <a href="tel:{{mobile}}">{{mobile}}</a>
                                                </li>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <li>
                                                    <b>Phone Number </b></li>
                                            </div>
                                            <div class="col-7">
                                                <li *ngFor="let phone of targetAccountDetails.phone">
                                                    <a href="tel:{{phone}}">{{phone}}</a>
                                                </li>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <li>
                                                    <b> Whatsapp </b></li>
                                            </div>
                                            <div class="col-7">
                                                <li>
                                                    <a
                                                        href="https://wa.me/{{targetAccountDetails.whatsApp}}">{{targetAccountDetails.whatsApp}}</a>
                                                </li>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <li>
                                                    <b>WeChat </b></li>
                                            </div>
                                            <div class="col-7">
                                                <li>
                                                    <a
                                                        href="http:/weixin://{{targetAccountDetails.weChat}}">{{targetAccountDetails.weChat}}</a>
                                                </li>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <li>
                                                    <b>Address </b></li>
                                            </div>
                                            <div class="col-7">
                                                <li>
                                                    {{targetAccountDetails.address}}
                                                </li>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <li>
                                                    <b>Contact Email </b></li>
                                            </div>
                                            <div class="col-7">
                                                <li>
                                                    <a
                                                        href="mailto:{{targetAccountDetails.accountAdministrators[0].email}}">{{targetAccountDetails.accountAdministrators[0].email}}</a>
                                                </li>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-5">
                                                <li>
                                                    <b>Website </b></li>
                                            </div>
                                            <div class="col-7">
                                                <li>
                                                    <a (click)="goToWebsiteUrl(targetAccountDetails.accountWebsite)"
                                                        target="_blank">{{targetAccountDetails.accountWebsite}}</a>
                                                </li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
                <div id="mobileView">
                    <div class="row" style="width: 1140px;">
                        <div class="col-lg-3 col-md-12 col-12 justify-content-center about">
                            <div class="row justify-content-center avatar-no-image">
                                <img *ngIf="!targetAccountDetails.accountImage"
                                    src="assets/images/You-Trade-In/student.png" alt=""
                                    class="img-rounded img-responsive">
                                <img *ngIf="targetAccountDetails.accountImage"
                                    [src]="getFilePath(targetAccountDetails.accountImage)"
                                    alt="{{targetAccountDetails.accountName}}" class="img-rounded img-responsive">
                            </div>
                            <div class="row justify-content-center mt-3">
                                <ul>
                                    <li><i class="fa fa-user" aria-hidden="true"></i> &nbsp;
                                        <p> {{targetAccountDetails.accountAdministrators[0].firstName}}
                                            {{targetAccountDetails.accountAdministrators[0].lastName}}</p>
                                    </li>
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;
                                        <p>{{targetAccountDetails.accountAdministrators[0].email}}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-12 col-12 content">
                            <div class="mb-5">
                                <h4 class="leftAlign">
                                    {{targetAccountDetails.accountName}}
                                </h4>
                                <div class="rightAlign">
                                    <a type="button" class="btn btnEdit"
                                        [routerLink]="['/application/send-message', targetAccountDetails.accountId]">
                                        Send Message <i class="fa fa-comments" aria-hidden="true"></i>
                                    </a>
                                    <a *ngIf="!targetAccountDetails.isFavorite" type="button" class="btn btnUpdate"
                                        (click)="addFavorite(TargetAccountId)">
                                        Add Interest <i class="fa fa-star" aria-hidden="true"></i>
                                    </a>
                                    <a *ngIf="targetAccountDetails.isFavorite" type="button" class="btn"
                                        (click)="deleteFavorite(targetAccountDetails.favoriteId)">
                                        Remove Interest <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                            <div class="row justify-content-center" style="border-top: 2px solid #70707070;">
                                <div class="tm-portfoliodetails-info">
                                    <div class="row">
                                        <div class="col-5">
                                            <li>
                                                <b>Main Category </b></li>
                                        </div>
                                        <div class="col-7">
                                            <li>
                                                {{targetAccountDetails.categoryName}}
                                            </li>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            <li>
                                                <b>Sub Categories </b></li>
                                        </div>
                                        <div class="col-7">
                                            <li>
                                                <p *ngFor="let category of targetAccountDetails.categories">
                                                    {{category.categoryName}}
                                                </p>
                                            </li>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            <li>
                                                <b>Country </b></li>
                                        </div>
                                        <div class="col-7">
                                            <li>
                                                {{targetAccountDetails.countryName}}
                                            </li>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            <li>
                                                <b>Account Website </b></li>
                                        </div>
                                        <div class="col-7">
                                            <li>
                                                <a
                                                    (click)="goToWebsiteUrl(targetAccountDetails.accountWebsite)">{{targetAccountDetails.accountWebsite}}</a>
                                            </li>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            <li>
                                                <b>Mission </b></li>
                                        </div>
                                        <div class="col-7">
                                            <li>
                                                {{targetAccountDetails.mission}}
                                            </li>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            <li>
                                                <b>Vision </b></li>
                                        </div>
                                        <div class="col-7">
                                            <li>
                                                {{targetAccountDetails.vission}}
                                            </li>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            <li>
                                                <b>Profile Description </b></li>
                                        </div>
                                        <div class="col-7">
                                            <li>
                                                {{targetAccountDetails.description}}
                                            </li>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            <li>
                                                <b>Attachments </b></li>
                                        </div>
                                        <div class="col-7">
                                            <li>
                                                <a *ngFor="let attachment of targetAccountDetails.accountAttachments"
                                                    [href]="getFilePath(attachment) " alt="Product Attachments"
                                                    target="_blank">
                                                    &nbsp; <i class="fa fa-paperclip"
                                                        aria-hidden="true"></i>&nbsp;{{attachment}}
                                                </a>
                                            </li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="width: 1140px;">
                        <div class="col-lg-3 col-md-12 col-12 justify-content-center about">
                            <div class="row justify-content-center title">
                                <p>Account Products</p>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-12 col-12 content" style="width: 100px;">
                            <div class="mb-5">
                                <h4 class="leftAlign">
                                    Account Products
                                </h4>
                            </div>
                            <div style="clear: both;"></div>
                            <div class="row justify-content-center">
                                <owl-carousel [options]="productSlider" [items]="accountProducts"
                                    [carouselClasses]="['owl-theme','row','sliding']">
                                    <div class="item" *ngFor="let product of accountProducts">

                                        <div class="col-lg-12">
                                            <div class="tm-feature text-center">
                                                <span class="tm-feature-icon">
                                                    <img [src]="getFilePath(product.productImages[0])">
                                                </span>
                                                <p class="proTitle"><a
                                                        [routerLink]="['/application/product-details', product.accountProductId]">{{product.productName}}</a>
                                                </p>
                                                <p class="catName">{{product.categoryName}}</p>
                                                <p class="des">{{product.description | slice : 0 : 60}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </owl-carousel>
                            </div>

                        </div>
                    </div>

                    <div class="row" style="width: 1140px;">
                        <div class="col-lg-3 col-md-12 col-12 justify-content-center about">
                            <div class="row justify-content-center title">
                                <p>Buying Requests</p>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-12 col-12 content" style="width: 100px;">
                            <div class="mb-5">
                                <h4 class="leftAlign">
                                    Buying Requests
                                </h4>
                            </div>
                            <div style="clear: both;"></div>
                            <div class="row justify-content-center">
                                <owl-carousel [options]="requestsSlider" [items]="buyingProducts"
                                    [carouselClasses]="['owl-theme','row','sliding']">
                                    <div class="item" *ngFor="let product of buyingProducts">

                                        <div class="col-lg-12">
                                            <div class="tm-feature text-center">
                                                <span class="tm-feature-icon">
                                                    <img [src]="getFilePath(product.image)">
                                                </span>
                                                <p class="proTitle"><a
                                                        [routerLink]="['/application/buying-product-details', product.buyingRequestId]">{{product.title}}</a>
                                                </p>
                                                <p class="catName">{{product.subCategoryName}}</p>
                                                <p class="des">{{product.description | slice : 0 : 60}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </owl-carousel>
                            </div>

                        </div>
                    </div>
                    <div class="row" style="width: 1140px;">
                        <div class="col-lg-3 col-md-12 col-12 justify-content-center about">
                            <div class="row justify-content-center title">
                                <p>About Us</p>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-12 col-12 content">
                            <div class="mb-5">
                                <h4 class="leftAlign">
                                    Company Profile
                                </h4>
                                <div class="rightAlign">
                                    <a type="button" class="btn btnEdit"
                                        [routerLink]="['/application/send-message', targetAccountDetails.accountId]">
                                        Send Message <i class="fa fa-comments" aria-hidden="true"></i>
                                    </a>
                                    <!-- <a *ngIf="!targetAccountDetails.isFavorite" type="button" class="btn btnUpdate"
                                        (click)="addFavorite(TargetAccountId)">
                                        Add Interest <i class="fa fa-star" aria-hidden="true"></i>
                                    </a> -->
                                    <a *ngIf="targetAccountDetails.isFavorite" type="button" class="btn"
                                        (click)="deleteFavorite(targetAccountDetails.favoriteId)">
                                        Remove Interest <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                            <div class="row justify-content-center" style="border-top: 2px solid #70707070;">
                                <div class="tm-portfoliodetails-info">
                                    <div class="row">
                                        <div class="col-5">
                                            <li>
                                                <b>Company Name </b></li>
                                        </div>
                                        <div class="col-7">
                                            <li>
                                                {{targetAccountDetails.accountName}}
                                            </li>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            <li>
                                                <b>Country </b></li>
                                        </div>
                                        <div class="col-7">
                                            <li>
                                                {{targetAccountDetails.countryName}}
                                            </li>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            <li>
                                                <b>Mobile Number </b></li>
                                        </div>
                                        <div class="col-7">
                                            <li *ngFor="let mobile of targetAccountDetails.mobile">
                                                {{mobile}}
                                            </li>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            <li>
                                                <b>Phone Number </b></li>
                                        </div>
                                        <div class="col-7">
                                            <li *ngFor="let phone of targetAccountDetails.phone">
                                                {{phone}}
                                            </li>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            <li>
                                                <b> Whatsapp </b></li>
                                        </div>
                                        <div class="col-7">
                                            <li>
                                                <a
                                                    href="https://wa.me/{{targetAccountDetails.whatsApp}}">{{targetAccountDetails.whatsApp}}</a>
                                            </li>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            <li>
                                                <b>WeChat </b></li>
                                        </div>
                                        <div class="col-7">
                                            <li>
                                                <a
                                                    href="http:/weixin://{{targetAccountDetails.weChat}}">{{targetAccountDetails.weChat}}</a>
                                            </li>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            <li>
                                                <b>Address </b></li>
                                        </div>
                                        <div class="col-7">
                                            <li>
                                                {{targetAccountDetails.address}}
                                            </li>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            <li>
                                                <b>Contact Email </b></li>
                                        </div>
                                        <div class="col-7">
                                            <li>
                                                <a
                                                    href="mailto:{{targetAccountDetails.accountAdministrators[0].email}}">{{targetAccountDetails.accountAdministrators[0].email}}</a>
                                            </li>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5">
                                            <li>
                                                <b>Website </b></li>
                                        </div>
                                        <div class="col-7">
                                            <li>
                                                <a (click)="goToWebsiteUrl(targetAccountDetails.accountWebsite)"
                                                    target="_blank">{{targetAccountDetails.accountWebsite}}</a>
                                            </li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
