.tm-portfoliodetails-description h1 {
    color: #f2b414;
}
.tm-portfoliodetails-description h2 {
    color: #fff;
}
.tm-portfoliodetails-description a {
    color: #fff;
    text-decoration: none;
}

.tm-portfoliodetails-description a:hover {
    color: #0e1234;
}

.tm-portfoliodetails-info li {
    color: #f2b414;
    font-weight: 600;
}
@media (max-width: 414px) {
    .tm-portfoliodetails-info li {
        font-size: 10px;
    }
}

.tm-portfoliodetails-info li b {
    color: #fff;
    font-weight: 700;
}
.tm-portfoliodetails-info li a:hover {
    color: #f2b414;
}
.tm-portfoliodetails-info li a {
    color: #f2b414;
}
.tm-portfoliodetails-description a {
    background-color: #f2b414;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.col-7 li {
    list-style: none;
}
.tm-product-image:hover 
{
    cursor: pointer;
}
// .details-buyingReq .tm-feature {
//     -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
//     box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
//     padding: 15px 33px;
//     background: #ffffff;
// }

// .details-buyingReq .tm-feature-icon {
//     display: inline-block;
//     font-size: 60px;
//     margin-bottom: 0px;
// }

.details-buyingReq .tm-feature-icon {
    display: inline-block;
    font-size: 60px;
    margin-bottom: 0px;
}

.details-buyingReq .tm-feature {
    // box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 0px;
    background: none;
    border-radius: 40px;
    margin-bottom: 10px;
    width: 300px;
}

::ng-deep .owl-carousel .owl-stage {
    display: flex !important;
}

::ng-deep .owl-carousel .owl-stage-outer {
    width: 90%;
    margin-left: 10%;
}

@media (min-device-width: 320px) and (max-device-width: 768px) {
    ::ng-deep .owl-theme .owl-dots {
        text-align: initial;
        -webkit-tap-highlight-color: transparent;
        margin-left: 50%;
    }
    ::ng-deep .owl-carousel .owl-stage {
        display: flex !important;
        width: 404px !important;
    }
}

::ng-deep .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: auto;
}
 
.details-buyingReq .tm-product-imagelink {
    display: block;
    // width: 100%;
    max-width: 300px;
    max-height: 300px;
    border: 2px solid #f2b414;
    border-radius: 5px;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
} 
@media (max-width: 414px) {
    .details-buyingReq .tm-product-image {
        position: relative;
        overflow: hidden;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: block;
        width: 70%;
        margin-left: 15%;
    }
}
.details-buyingReq .tm-product-imagelink::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    // height: 100%;
    // width: 100%;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.email-btn {
    background-color: #f2b414;
    color: #fff;
    border-radius: 5px;
    height: 35px;
    margin-top: 5%;
}



.edit-btn {
    background-color: #101334;
    color: #fff;
    border-radius: 5px;
    height: 35px;
    margin-top: 5%;
 
}
