<!-- Portfolio Details Area -->
<div class="tm-section portfolio-details-area details-buyingReq tm-padding-section" style="background-color: #0e1234;">
    <div class="container">
        <div class="tm-portfoliodetails" *ngIf="buyingRequestDetails">
            <div class="row justify-content-center">
                <owl-carousel [options]="imagesSlider" [items]="buyingRequestDetails.image"
                    [carouselClasses]="['owl-theme','row','sliding']">
                    <div class="item" *ngFor="let image of buyingRequestDetails.image">
                        <div class="col-lg-12">
                            <div class="tm-feature text-center">
                                <span class="tm-feature-icon">
                                    <a (click)="viewImage(imageModal)"><img [src]="getFilePath(image)" width="152px"
                                            height="76px"></a>
                                </span>
                            </div>
                            <ng-template #imageModal>
                                <div class="modal-body text-center ">
                                    <div class="row justify-content-center">
                                        <img [src]="getFilePath(image)" width="100%">
                                    </div>
                                    <div class="row justify-content-center">
                                        <button type="button" class="btn btn-danger"
                                            (click)="closeSubDialog()">Close</button>
                                    </div>


                                </div>
                            </ng-template>
                        </div>
                    </div>
                </owl-carousel>
            </div>
            <div class="tm-portfoliodetails-content tm-padding-section-sm-top">
                <div class="row">
                    <div class="col-xl-6 col-lg-7">
                        <div class="tm-portfoliodetails-info" style="background-color: #0e1234;border-radius: 10px;">
                            <div class="row" *ngIf="buyingRequestDetails.title">
                                <div class="col-5">
                                    <li style="color: #fff;">
                                        <b>Title :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="buyingRequestDetails.title">
                                        {{buyingRequestDetails.title}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="buyingRequestDetails.parentCategoryName">
                                <div class="col-5">
                                    <li style="color: #fff;">
                                        <b>Parent Category :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="buyingRequestDetails.parentCategoryName">
                                        {{buyingRequestDetails.parentCategoryName}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="buyingRequestDetails.subCategoryName">
                                <div class="col-5">
                                    <li style="color: #fff;">
                                        <b>Sub Category :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="buyingRequestDetails.subCategoryName">
                                        {{buyingRequestDetails.subCategoryName}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="buyingRequestDetails.accountName">
                                <div class="col-5">
                                    <li style="color: #fff;">
                                        <b>Company Name :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="buyingRequestDetails.accountName">
                                        <a [routerLink]="['/application/viewer', buyingRequestDetails.ownerAccountId]">
                                            {{buyingRequestDetails.accountName}}</a>

                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="buyingRequestDetails.countryName">
                                <div class="col-5">
                                    <li style="color: #fff;">
                                        <b>Country :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="buyingRequestDetails.countryName">
                                        {{buyingRequestDetails.countryName}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="buyingRequestDetails.paymentTerms">
                                <div class="col-5">
                                    <li style="color: #fff;">
                                        <b>Payment Terms :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="buyingRequestDetails.paymentTerms">
                                        {{buyingRequestDetails.paymentTerms}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="buyingRequestDetails.price">
                                <div class="col-5">
                                    <li style="color: #fff;">
                                        <b>Price :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="buyingRequestDetails.price">
                                        {{buyingRequestDetails.price}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="buyingRequestDetails.unitePrice != -1">
                                <div class="col-5">
                                    <li style="color: #fff;">
                                        <b>Unite Price :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="buyingRequestDetails.unitePrice!= -1">
                                        {{buyingRequestDetails.unitePrice}}
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-5">
                        <div class="tm-portfoliodetails-description">
                            <h3>Product Description</h3>
                            <p>{{buyingRequestDetails.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--// Portfolio Details Area -->