.tm-portfoliodetails-description p {
    color: #fff;
}
.tm-portfoliodetails-description a {
    color: #fff;
    text-decoration: none;
}

.tm-portfoliodetails-description a:hover {
    color: #0e1234;
}

.tm-portfoliodetails-info li {
    color: #c0972e;
    font-weight: 600;
}
@media (max-width: 414px) {
    .tm-portfoliodetails-info li {
        font-size: 10px;
    }
}

.tm-portfoliodetails-info li b {
    color: #fff;
    font-weight: 700;
}
.tm-portfoliodetails-info li a:hover {
    color: #c0972e;
}
.tm-portfoliodetails-info li a {
    color: #c0972e;
}
.tm-portfoliodetails-description a {
    background-color: #c0972e;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.col-7 li {
    list-style: none;
}
