.tm-portfoliodetails-description p {
    color: #fff;
}
.tm-portfoliodetails-description a {
    color: #fff;
    text-decoration: none;
}

.tm-portfoliodetails-description a:hover {
    color: #0e1234;
}

.tm-portfoliodetails-info li {
    color: #f2b414;
    font-weight: 600;
}
@media (max-width: 414px) {
    .tm-portfoliodetails-info li {
        font-size: 10px;
    }
}

.tm-portfoliodetails-info li b {
    color: #fff;
    font-weight: 700;
}
.tm-portfoliodetails-info li a:hover {
    color: #f2b414;
}
.tm-portfoliodetails-info li a {
    color: #f2b414;
}
.tm-portfoliodetails-description a {
    background-color: #f2b414;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.col-7 li {
    list-style: none;
}

// .details-buyingReq .tm-feature {
//     -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
//     box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
//     padding: 15px 33px;
//     background: #ffffff;
// }

// .details-buyingReq .tm-feature-icon {
//     display: inline-block;
//     font-size: 60px;
//     margin-bottom: 0px;
// }

.details-buyingReq .tm-feature-icon {
    display: inline-block;
    font-size: 60px;
    margin-bottom: 0px;
}

.details-buyingReq .tm-feature {
    -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    padding: 15px 33px;
    background: #ffffff;
    border-radius: 40px;
    // height: 150px;
    margin-bottom: 10px;
    width: 300px;
}

::ng-deep .owl-carousel .owl-stage {
    display: flex !important;
}

::ng-deep .owl-carousel .owl-stage-outer {
    width: 90%;
    margin-left: 10%;
}

@media (min-device-width: 320px) and (max-device-width: 768px) {
    ::ng-deep .owl-theme .owl-dots {
        text-align: initial;
        -webkit-tap-highlight-color: transparent;
        margin-left: 50%;
    }
    ::ng-deep .owl-carousel .owl-stage {
        display: flex !important;
        width: 404px !important;
    }
}
