table {
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
}
.edit-btn {
    background-color: #fff;
}
.table .btn {
    height: 70%;
    width: 20%;
    margin: 5%;
    padding: 2px;
}

i {
    color: #fff;
}

.fa {
    font-weight: 300;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px){
    .table{
        margin-left: -13%;
    }
    .table .btn{
    height: auto;
    width: auto;
    margin: 1%;
    padding: 0px;
    }
  }
@media (min-width: 400px) and (max-width: 736px){
    .table{
        margin-left: -7%;
    }
    .table .btn{
    height: auto;
    width: auto;
    margin: 1%;
    padding: 0 !important;
    }
}
@media (min-width: 540px) and (max-width: 720px){
    .table{
        margin-left: 0;
    }
}
@media only screen 
  and (min-device-width: 768px)  and (max-device-width: 1024px) {
    .table .btn{
    padding-right: 7px;
    height: auto;
    width: 29%;
    margin-right: -1px;
    }
  }
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px){
      .table .btn{
          padding-right: 0px;
      }
  }
