* {
  font-family: "Roboto", sans-serif;
}
h4 {
  text-align: center;
  color: #c0972e;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #c0972e;
  border: #c0972e;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #c0972e;
}

.custom-radio
  .custom-control-input:disabled:checked
  ~ .custom-control-label::before {
  background-color: #c0972e;
}

input {
  width: 100%;
  border: 1px solid #c0972e;
  border-radius: 5px;
}

select {
  width: 100%;
}
.tm-button {
  width: 100%;
}

.alert-danger {
  height: 25%;
  line-height: 17px;
  margin-bottom: 0px;
  color: #e83748;
  background-color: inherit;
  border: none;
}
