* {
    font-family: 'Roboto', sans-serif;
}

#header {
    visibility: hidden;
}

h4 {
    text-align: center;
    color: #f2b414;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #f2b414;
    border: #f2b414;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    background-color: #f2b414;
}

.custom-radio
    .custom-control-input:disabled:checked
    ~ .custom-control-label::before {
    background-color: #f2b414;
}

input {
    width: 100%;
    border: 1px solid #f2b414;
    border-radius: 5px;
}

select {
    width: 100%;
    border: 1px solid #f2b414;
    border-radius: 5px;
}
.tm-button {
    width: 100%;
}

.alert-danger {
    height: 25%;
    line-height: 17px;
    margin-bottom: 0px;
    color: #e83748;
    background-color: inherit;
    border: none;
}

p {
    text-align: center;
    margin-top: 40px;
    color: #0e1234;
    font-size: large;
}

p a {
    color: #f2b414;
    font-weight: 800;
    text-decoration: underline;
}

p a:hover {
    color: #0e1234;
    cursor: pointer;
    text-decoration: underline;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #f2b414 !important;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background :focus {
    background-color: #f2b414 !important;
}

.tm-form-field a:hover {
    color: #f2b414;
    text-decoration: none;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    background-color: #f2b414;
    border: 1px solid #f2b414;
    border-radius: 0.25rem;
}

button:disabled,
button[disabled] {
    background: #f2b4148f !important;
}
.test
{
    color: red !important;
    z-index: 9999999999999999999999;
    top: 0;
    left: 10px;
}