<!-- Register Area -->
<div class="tm-section tm-login-register-area tm-padding-section" style="background-color: #0e1234;">
    <div class="container">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-lg-8">
                <form [formGroup]="accountService.registerForm" (submit)="onSubmit(accountService.registerForm.value)"
                    class="tm-form tm-register-form tm-form-bordered bg-white">
                    <h4>Create an account</h4>
                    <div class="tm-form-inner">
                        <div class="form-group tm-form-field">
                            <div class="row">
                                <div class="col-6">
                                    <label for="register-firstname">First Name</label>
                                    <br/>
                                    <input type="text" id="register-firstname" required name="primaryAdminFirstlName"
                                        formControlName="primaryAdminFirstlName" placeholder="First Name" />
                                    <label class="text-danger"
                                        *ngIf="accountService.registerForm.get('primaryAdminFirstlName').touched && accountService.registerForm.get('primaryAdminFirstlName').errors">First
                                        Name is required</label>


                                </div>
                                <div class="col-6">
                                    <label for="register-lastname">Last Name</label>
                                    <br />
                                    <input type="text" id="register-lastname" required name="primaryAdminLastName"
                                        formControlName="primaryAdminLastName" placeholder="Last Name" />
                                    <label class="text-danger"
                                        *ngIf="accountService.registerForm.get('primaryAdminLastName').touched && accountService.registerForm.get('primaryAdminLastName').errors">Last
                                        Name is required</label>

                                </div>
                            </div>
                        </div>
                        <div class="form-group tm-form-field">
                            <label for="register-email">Email Address</label> <br />
                            <input type="email" name="primaryAdminEmail" id="register-email" required="required"
                                formControlName="primaryAdminEmail" placeholder="Email Address" />
                            <label class="text-danger"
                                *ngIf="accountService.registerForm.get('primaryAdminEmail').touched && accountService.registerForm.get('primaryAdminEmail').errors?.required">Email
                                is required</label>
                            <label class="text-danger"
                                *ngIf="accountService.registerForm.get('primaryAdminEmail').touched && accountService.registerForm.get('primaryAdminEmail').errors?.primaryAdminEmail">Email
                                must be a valid email address</label>

                        </div>

                        <div class="form-group tm-form-field">
                            <div class="row">
                                <div class="col-6">
                                    <label for="register-password">Password</label>

                                    <div class="input-group mt-3">
                                        <input [type]="passwordField ? 'text' : 'password'" class="form-control"
                                            formControlName="primaryAdminPassword" placeholder="Enter Your Password"
                                            required="required" [ngClass]="{
                                                'is-invalid': submitted && f.primaryAdminPassword.errors
                                            }" style="height: 50px;">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fab" [ngClass]="{
                                                        'fa-eye': !passwordField,
                                                        'fa-eye-slash': passwordField
                                                      }" (click)="togglePassword()"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <label class="text-danger"
                                        *ngIf="accountService.registerForm.get('primaryAdminPassword').touched && accountService.registerForm.get('primaryAdminPassword').errors?.required">Password
                                        is
                                        required</label>
                                    <label class="text-danger"
                                        *ngIf="accountService.registerForm.get('primaryAdminPassword').touched && accountService.registerForm.get('primaryAdminPassword').errors?.minLength">Password
                                        must be at least 6 characters</label>
                                </div>

                                <div class="col-6">
                                    <label for="register-password-con">Confirm Password</label>

                                    <div class="input-group mt-3">
                                        <input [type]="confirmPasswordField ? 'text' : 'password'" class="form-control"
                                            formControlName="confirmPassword" placeholder="Confirm Password"
                                            required="required" style="height: 50px;">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa" [ngClass]="{
                                                            'fa-eye': !confirmPasswordField,
                                                            'fa-eye-slash': confirmPasswordField
                                                          }" (click)="toggleConfirmPassword()"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <label class="text-danger"
                                        *ngIf="accountService.registerForm.get('confirmPassword').touched && accountService.registerForm.get('confirmPassword').errors?.required">Confirm
                                        Password is required</label>
                                    <label class="text-danger"
                                        *ngIf="accountService.registerForm.get('confirmPassword').touched && accountService.registerForm.get('confirmPassword').errors">Confirm
                                        Password not match with Password</label>
                                </div>
                            </div>

                        </div>
                        <div class="form-group tm-form-field">
                            <div class="row">
                                <div class="col-6">
                                    <label for="register-company">Company Name</label>
                                    <br />
                                    <input type="text" id="register-company" required="required"
                                        formControlName="accountName" name="accountName" placeholder="Company Name" />
                                    <label class="text-danger"
                                        *ngIf="accountService.registerForm.get('accountName').touched && accountService.registerForm.get('accountName').errors?.required">Company
                                        Name is required</label>
                                </div>

                                <div class="col-6 position-relative">
                                    <label for="register-category">Category</label>
                                    <br/>
                                    <select class="mdb-select md-form" formControlName="categoryId"
                                        style="text-transform: capitalize;" [(ngModel)]="categorySelected" required
                                        >
                                        <option [ngValue]="null" [disabled]="true" [selected]="true">Choose your Category
                                        </option>
                                        <option *ngFor="let category of categories" value={{category.categoryId}}>
                                            {{category.categoryName}}</option>
                                    </select>
                                    <label class="text-danger "
                                            *ngIf="accountService.registerForm.get('categoryId').touched &&
                                            accountService.registerForm.get('categoryId').invalid  && 
                                             accountService.registerForm.get('categoryId').errors?.required">
                                            category is required</label>
                                   
                                  
                                    <!-- <label class="test position-absolute text-danger">Category is required</label> -->

                                </div>
                            </div>
                        </div>

                        <div class="form-group tm-form-field">
                            <label for="register-country">Country</label> <br />
                            <select class="mdb-select md-form" formControlName="countryId"
                                style="text-transform: capitalize;" [(ngModel)]="countrySelected" required>
                                <option [ngValue]="null" [disabled]="true" [selected]="true">Choose your country
                                </option>
                                <option  *ngFor="let country of countries" value="{{country.id}}">
                                    {{country.name}}</option>
                            </select>
                            <label class="text-danger "
                            *ngIf="accountService.registerForm.get('countryId').touched &&
                            accountService.registerForm.get('countryId').invalid  && 
                             accountService.registerForm.get('countryId').errors?.required">
                            category is required</label>
                   
                            
                        </div>
                        <div class="form-group tm-form-field justify-content-center" style="display: flex;">
                            <mat-checkbox field="acceptTerms" formControlName="acceptTerms"><a
                                    routerLink="/home/terms-policies" target="_blank">Accept Terms and Agreement</a>
                            </mat-checkbox>

                        </div>
                        <div class="form-group tm-form-field">
                            <button type="submit" class="tm-button mt-3">
                                Register <b></b>
                            </button>
                            <p>
                                Already have an Account
                                <a routerLink="/account/login">Login</a> here
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--// Register Area -->

<script>
    // Material Select Initialization
    $(document).ready(function () {
        $('.mdb-select').materialSelect()
    })
</script>