<!-- Register Area -->
<div class="tm-section tm-login-register-area tm-padding-section" style="background-color: #0e1234;">
    <div class="container">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-lg-8">
                <form [formGroup]="accountService.registerForm" (submit)="onSubmit(accountService.registerForm.value)"
                    class="tm-form tm-register-form tm-form-bordered bg-white">
                    <h4>Create an account</h4>
                    <div class="tm-form-inner">
                        <div class="form-group tm-form-field">
                            <div class="row">
                                <div class="col-6">
                                    <label for="register-firstname">First Name</label>
                                    <br />
                                    <input type="text" id="register-firstname" required name="primaryAdminFirstlName"
                                        formControlName="primaryAdminFirstlName" />
                                    <label class="text-danger"
                                        *ngIf="accountService.registerForm.get('primaryAdminFirstlName').touched && accountService.registerForm.get('primaryAdminFirstlName').errors">First
                                        Name is required</label>

                                </div>
                                <div class="col-6">
                                    <label for="register-lastname">Last Name</label>
                                    <br />
                                    <input type="text" id="register-lastname" required name="primaryAdminLastName"
                                        formControlName="primaryAdminLastName" />
                                    <label class="text-danger"
                                        *ngIf="accountService.registerForm.get('primaryAdminLastName').touched && accountService.registerForm.get('primaryAdminLastName').errors">Last
                                        Name is required</label>

                                </div>
                            </div>
                        </div>
                        <div class="form-group tm-form-field">
                            <label for="register-telephone-number">Telephone Number</label>
                            <br />
                            <input type="tel" name="telephonenumber" id="register-telephone-number" required="required"
                                formControlName="accountMobile" />

                            <label class="text-danger"
                                *ngIf="accountService.registerForm.get('accountMobile').touched && accountService.registerForm.get('accountMobile').errors?.required">Telephone
                                Number is required</label>
                            <label class="text-danger"
                                *ngIf="accountService.registerForm.get('accountMobile').touched && accountService.registerForm.get('accountMobile').errors?.accountMobile">Telephone
                                Number Telephone Number must be a valid number</label>
                        </div>
                        <div class="form-group tm-form-field">
                            <label for="register-email">Email</label> <br />
                            <input type="email" name="primaryAdminEmail" id="register-email" required="required"
                                formControlName="primaryAdminEmail" />
                            <label class="text-danger"
                                *ngIf="accountService.registerForm.get('primaryAdminEmail').touched && accountService.registerForm.get('primaryAdminEmail').errors?.required">Email
                                is required</label>
                            <label class="text-danger"
                                *ngIf="accountService.registerForm.get('primaryAdminEmail').touched && accountService.registerForm.get('primaryAdminEmail').errors?.primaryAdminEmail">Email
                                must be a valid email address</label>

                        </div>
                        <!-- <div formGroupName="Passwords"> -->
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group tm-form-field">
                                    <label for="register-password">Password</label>
                                    <br />
                                    <input type="password" id="register-password" name="primaryAdminPassword"
                                        required="required" formControlName="primaryAdminPassword" />
                                    <label class="text-danger"
                                        *ngIf="accountService.registerForm.get('primaryAdminPassword').touched && accountService.registerForm.get('primaryAdminPassword').errors?.required">Password
                                        is required</label>
                                    <label class="text-danger"
                                        *ngIf="accountService.registerForm.get('primaryAdminPassword').touched && accountService.registerForm.get('primaryAdminPassword').errors?.minLength">Password
                                        must be at least 6 characters</label>
                                    <!-- <label class="text-danger"
                                            *ngIf="accountService.registerForm.get('Passwords.primaryAdminPassword').touched && accountService.registerForm.get('Passwords.primaryAdminPassword').errors?.pattern">Password
                                            must contain at least 1 Uppercase character</label> -->
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group tm-form-field">
                                    <label for="register-password-con">Confirm Password</label>
                                    <br />
                                    <input type="password" id="register-password-con" name="confirmPassword"
                                        required="required" formControlName="confirmPassword" />
                                    <label class="text-danger"
                                        *ngIf="accountService.registerForm.get('confirmPassword').touched && accountService.registerForm.get('confirmPassword').errors?.required">Confirm
                                        Password is required</label>
                                    <label class="text-danger"
                                        *ngIf="accountService.registerForm.get('confirmPassword').touched && accountService.registerForm.get('confirmPassword').errors">Confirm
                                        Password not match with Password</label>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                        <div class="form-group tm-form-field">
                            <label for="register-company">Company Name</label>
                            <br />
                            <input type="text" id="register-company" required="required" formControlName="accountName"
                                name="accountName" />
                            <label class="text-danger"
                                *ngIf="accountService.registerForm.get('accountName').touched && accountService.registerForm.get('accountName').errors?.required">Company
                                Name is required</label>
                        </div>

                        <div class="form-group tm-form-field">
                            <label for="register-country">Country</label> <br />
                            <select class="mdb-select md-form" formControlName="countryId" searchable="Search here..">
                                <option value="" disabled selected>Choose your country</option>
                                <option value="1">EGYPT</option>
                                <option value="2">USA</option>
                                <option value="3">AUSTRALIA</option>
                                <option value="4">CHINA</option>
                                <option value="5">JAPAN</option>
                            </select>
                            <label class="text-danger"
                                *ngIf="accountService.registerForm.get('countryId').touched && accountService.registerForm.get('countryId').errors?.required">Country
                                is required</label>
                        </div>
                        <div class="form-group tm-form-field">
                            <button type="submit" class="tm-button mt-5">
                                Register <b></b>
                            </button>
                            <p>
                                Already have an Account
                                <a routerLink="/account/login">Login</a> here
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--// Register Area -->

<script>
    // Material Select Initialization
    $(document).ready(function () {
        $('.mdb-select').materialSelect()
    })
</script>