<div class="tm-section tm-login-register-area tm-padding-section" style="background-color: #0e1234;">
    <div class="container">
        <div class="row d-flex justify-content-center mt-5">
            <img src="assets/images/You-Trade-In/successful.png" alt="" width="30%"
            class="img-rounded img-responsive">
        </div> 
        <div class="row d-flex justify-content-center mt-5">
            <button type="submit" class="tm-button mt-2" (click)="continueToLogin()">
                <a>Continue <b></b></a>
            </button>
        </div>
    </div>
</div>
