<div class="tm-section homepage-area bg-white tm-padding-section">
    <div class="container">
        <div class="row">
            <div class="input-group">
                <select name="demo" id="productSelect">
                    <option selected="selected" value="one">Products</option>
                    <option value="two">Option 1</option>
                    <option value="three">Option 2</option>
                </select>
                <!-- [(ngModel)]="term" -->
                <input type="text" class="form-control input-search" name="search"
                    placeholder="What are you looking for?" aria-label="What are you looking for?"
                    aria-describedby="basic-addon2" />
                <button class="btn searchButton" type="button">
                    Search
                </button>
                <select name="demo" id="countrySelect">
                    <option selected="selected" value="one">Country</option>
                    <option value="two">Option 1</option>
                    <option value="three">Option 2</option>
                </select>
                <h6 class="text-center m-3">Find Your Needs</h6>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="single-widget widget-categories">
                    <h5>Categories</h5>
                    <ul>
                        <li>
                            <a href="#" data-toggle="popover" title="Popover title"
                                data-content="And here's some amazing content. It's very engaging. Right?">Industry</a>
                        </li>
                        <li>
                            <a href="#">Tourism</a>
                        </li>
                        <li>
                            <a href="#">Real Estate</a>
                        </li>
                        <li>
                            <a href="#">Designers</a>
                        </li>
                        <li>
                            <a href="#">Shipping & Logistics</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-12">
                <div class="row">
                    <!-- *ngFor="let product of products" -->
                    <!-- Single Product -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-5" *ngFor="let product of products">
                        <!--To apply search functionality-->
                        <!-- *ngFor="let item of filterData | filter: term" -->
                        <div class="tm-product">
                            <div class="tm-product-image">
                                <a class="tm-product-imagelink" href="#">
                                    <img src="assets/images/You-Trade-In/white.jpg" alt="product image" />
                                </a>
                                <ul class="tm-product-actions">
                                    <li>
                                        <button type="button" data-toggle="modal" data-target="#tm-product-quickview">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="tm-product-content">
                                <p class="tm-product-title">
                                    {{ product.ProductName }}
                                </p>
                            </div>

                            <div class="supplier-name">
                                <img src="assets/images/You-Trade-In/uk.png" alt="" width="12%" style="float: left;" />
                                <p>
                                    Buyer Name
                                </p>
                                <div style="clear: both;"></div>
                            </div>
                            <div class="buttons mt-3">
                                <div class="category-btn" style="float: left;">
                                    <p>{{ product.CategoryId }}</p>
                                </div>
                                <button class="email-btn" style="float: right;">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    Send Email
                                </button>
                                <div style="clear: both;"></div>
                            </div>
                        </div>
                    </div>
                    <!--// Single Product -->
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-12 justify-content-center">
                <div class="single-widget widget-button">
                    <a id="scrollUp" href="/home/homepage#top" class="up-btn">
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>