<div class="tm-section homepage-area bg-white tm-padding-section">
    <div class="container">
        <div class="row">
            <div class="input-group">
                <select name="demo" id="productSelect">
                    <option selected="selected" value="one">Products</option>
                    <option *ngFor="let product of products" value="{{product.productId}}">
                        {{product.productName}}</option>
                </select>
                <!-- [(ngModel)]="term" -->
                <input type="text" class="form-control input-search" name="search"
                    placeholder="What are you looking for?" aria-label="What are you looking for?"
                    aria-describedby="basic-addon2" />
                <button class="btn searchButton" type="button">
                    Search
                </button>
                <select name="demo" id="countrySelect" style="text-transform: uppercase;">
                    <option selected="selected" style="text-transform: capitalize;">Country</option>
                    <option *ngFor="let country of countries" value="{{country.id}}">
                        {{country.name}}</option>
                </select>
                <h6 class="text-center m-3">Find Your Needs</h6>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="single-widget widget-categories">
                    <h5>Categories</h5>
                    <ul>
                        <li *ngFor="let category of categories">
                            <a href="#" data-toggle="popover">{{category.categoryName}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-7 col-sm-12 col-12">
                <div class="row">
                    <!-- *ngFor="let product of products" -->
                    <!-- Single Product -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-5"
                        *ngFor="let requestProduct of buyingRequestProducts">
                        <!--To apply search functionality-->
                        <!-- *ngFor="let item of filterData | filter: term" -->
                        <div class="tm-product">
                            <div class="tm-product-image">
                                <a class="tm-product-imagelink" href="#">
                                    <img src="assets/images/You-Trade-In/white.jpg" alt="product image" />
                                    <!-- <img [src]="getFilePath(requestProduct.images[0])"
                                        alt="{{requestProduct.productName}}" /> -->

                                </a>
                            </div>
                            <div class="tm-product-content">
                                <p class="tm-product-title">
                                    {{ requestProduct.title }}
                                </p>
                            </div>

                            <div class="supplier-name">
                                <img src="assets/images/You-Trade-In/uk.png" alt="" width="12%" style="float: left;" />
                                <p>
                                    {{requestProduct.accountName}}
                                </p>
                                <div style="clear: both;"></div>
                            </div>
                            <div class="buttons mt-3">
                                <div class="category-btn" style="float: left;">
                                    <p>{{ requestProduct.categoryName}}</p>
                                </div>
                                <button class="email-btn" style="float: right;">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    Send Email
                                </button>
                                <div style="clear: both;"></div>
                            </div>
                        </div>
                    </div>
                    <!--// Single Product -->
                </div>
            </div>
        </div>
    </div>
</div>