<!-- Login Area -->
<div class="tm-section tm-update-pass-area tm-padding-section" style="background-color: #0e1234;">
    <div class="container">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-lg-8">
                <form [formGroup]="updatePassService.updatePasswordForm"
                    (ngSubmit)="onSubmit(updatePassService.updatePasswordForm.value)"
                    class="tm-form tm-login-form tm-form-bordered bg-white">
                    <h4>Update your password Password</h4>
                    <div class="tm-form-inner">
                        <div class="tm-form-field">
                            <label for="currentPassword">Current Password </label> <br />
                            <input type="password" name="currentPassword" formControlName="currentPassword"
                                id="currentPassword" required="required" [ngClass]="{
                                    'is-invalid': submitted && f.oldPass.errors
                                }" />
                            <label class="text-danger"
                                *ngIf="updatePassService.updatePasswordForm.get('currentPassword').touched && updatePassService.updatePasswordForm.get('currentPassword').errors?.required">
                                You Must add Your Current Password</label>

                        </div>

                        <div class="tm-form-field">
                            <label for="newPassword">New Password</label> <br />
                            <input type="password" id="newPassword" name="newPassword" formControlName="newPassword"
                                required="required" [ngClass]="{
                                    'is-invalid': submitted && f.newPassword.errors
                                }" />
                            <label class="text-danger"
                                *ngIf="updatePassService.updatePasswordForm.get('newPassword').touched && updatePassService.updatePasswordForm.get('newPassword').errors?.required">
                                You Must add New Password</label>
                            <label class="text-danger"
                                *ngIf="updatePassService.updatePasswordForm.get('newPassword').touched && updatePassService.updatePasswordForm.get('newPassword').errors?.pattern">
                                Password must Start with Capital Letters</label>
                        </div>

                        <div class="tm-form-field">
                            <label for="confirmNewPassword">Confirm Password</label> <br />
                            <input type="password" id="confirmNewPassword" name="confirmNewPassword"
                                formControlName="confirmNewPassword" required="required" [ngClass]="{
                                    'is-invalid': submitted && f.confirmNewPassword.errors
                                }" />
                            <label class="text-danger"
                                *ngIf="updatePassService.updatePasswordForm.get('confirmNewPassword').touched && updatePassService.updatePasswordForm.get('confirmNewPassword').errors?.required">
                                You Must Confirm Password</label>
                            <br>
                            <label class="text-danger"
                                *ngIf="updatePassService.updatePasswordForm.get('confirmNewPassword').touched && updatePassService.updatePasswordForm.get('confirmNewPassword').errors">Confirm
                                Password not match with Password</label>
                        </div>
                        <div class="tm-form-field">
                            <div class="row justify-content-center">
                                <div class="col-6">
                                    <button type="submit" class="tm-button mt-2">
                                        <a>Save <b></b></a>
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button class="tm-button mt-2 closeBtn" routerLink="/account/owner">
                                        <a>Close <b></b></a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--// Login Area -->