<div class="tm-section category-product-area">
    <div class="row justify-content-center mt-5" *ngIf="targetCat">
        <div class="col-lg-8 col-md-10 col-12">
            <div class="tm-section-title text-center">
                <h2>{{targetCat.categoryName}}</h2>
            </div>
        </div>
    </div>
    <div class="row services-wrap mt-5">

        <div class="col-lg-3 col-md-3 col-sm-4 col-12 wow fadeInUp" *ngFor="let adCategory of allAdsByCategory">

            <div class="tm-service text-center">
                <span class="tm-service-icon" *ngIf="allAdsByCategory">
                    <a> <img [src]="getFilePath(adCategory.adImage)"></a>
                </span>
                <span class="tm-service-icon" *ngIf="allAdsByCategory.length < 4">
                    <a href="#"> <img src="/assets/images/You-Trade-In/category_2.png"></a>
                </span>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-4 col-12 wow fadeInUp">
            <div class="tm-service text-center">
                <span class="tm-service-icon">
                    <a href="#"> <img src="/assets/images/You-Trade-In/category_2.png"></a>
                </span>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-12 wow fadeInUp">
            <div class="tm-service text-center">
                <span class="tm-service-icon">
                    <a href="#"> <img src="/assets/images/You-Trade-In/category_2.png"></a>
                </span>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-12 wow fadeInUp">
            <div class="tm-service text-center">
                <span class="tm-service-icon">
                    <a href="#"> <img src="/assets/images/You-Trade-In/category_2.png"></a>
                </span>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-12 wow fadeInUp">
            <div class="tm-service text-center">
                <span class="tm-service-icon">
                    <a href="#"> <img src="/assets/images/You-Trade-In/category_2.png"></a>
                </span>
            </div>
        </div>
    </div>
</div>