<!-- Footer Area -->
<footer class="footer" [ngStyle]="{ 'backgroundImage': getBackgroundImageUrl() }">

    <!-- Footer -->
    <div class="footer-bottomarea">
        <div class="container">
            <div class="row widgets footer-widgets">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-contact">
                        <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="index.html#products">Sell Products</a>
                            </li>
                            <li>
                                <a href="#">Suppliers</a>
                            </li>
                        </ul>
                    </div>
                    <!--// Single Widget (Widget Contact) -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-contact">
                        <ul>
                            <li>
                                <a href="index.html#products">Find Products</a>
                            </li>
                            <li>
                                <a href="index.html#egypt2030">Egypt 2030</a>
                            </li>
                            <li>
                                <a href="index.html#contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <!--// Single Widget (Widget Contact) -->
                </div>

            </div>

            <p class="footer-copyright mt-2">
                © Copyright 2020 <b>Youtradein</b> All Rights Reserved By <a href="https://bebrand.tv/">BeBrand.tv</a>.
            </p>
        </div>
    </div>
    <!--// Footer -->

</footer>
<!--// Footer Area -->