<!-- Footer Area -->
<footer class="footer" style="background-color: #0E1234;">

    <!-- Footer -->
    <div class="footer-bottomarea">
        <div class="container">
            <div class="row widgets footer-widgets">
                <div class="col-lg-3 col-md-6 col-12">
                    <img src="/assets/images/You-Trade-In/footerLogo.png">
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-contact footerOne">
                        <ul>
                            <li>
                                <a routerLink="/home/home-main">Home</a>
                            </li>
                            <li>
                                <a routerLink="/home/contact">Contact Us</a>
                            </li>
                            <li>
                                <a routerLink="/home/terms-policies">Terms & Policies</a>
                            </li>
                            <!-- <li>
                                <a href="#">About Us</a>
                            </li> -->
                        </ul>
                    </div>
                    <!--// Single Widget (Widget Contact) -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-contact">
                        <ul>
                            <li>
                                <a routerLink="/application/buying-request">Buy on shahbandartrade.com</a>
                            </li>
                            <li>
                                <a routerLink="/application/add-new-request-form">Submit Buying Request</a>
                            </li>
                        </ul>
                    </div>
                    <!--// Single Widget (Widget Contact) -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-contact">
                        <ul>
                            <li>
                                <a routerLink="/application/sell-product">Sell on shahbandartrade.com</a>
                            </li>
                            <li>
                                <a routerLink="/home" fragment="partners"
                                    (click)="navigateToSection('partners')">Partner Program</a>
                            </li>
                        </ul>
                    </div>
                    <!--// Single Widget (Widget Contact) -->
                </div>
            </div>

            <div class="row justify-content-center">
                <p class="footer-copyright mt-3 ml-5">
                    © Copyright 2020 <b>ShahBandar</b> <br>All Rights Reserved By <a href="https://bebrand.tv/"
                        target="_blank">BeBrand.tv</a>.
                </p>
            </div>

            <div class="row justify-content-center">
                <ul class="widget-info-social">
                    <!-- <li><a  href="#" style="padding-left: 19%;"><i class="fab fa-twitter"></i></a></li> -->
                    <li><a href="https://www.youtube.com/channel/UC--FaXLLO-oY3liJhSwDGEQ/featured?disable_polymer=1"
                            target="_blank" style="padding-left: 25%;"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="https://www.facebook.com/Shahbandartrade-103804398150816/?modal=admin_todo_tour"
                            target="_blank" style="padding-left: 35%;"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/shahbandartrade/?fbclid=IwAR2WquhrpbNJw4xYwOavD9ZmfQFf3uRY60JMSUvcP2kHKaF5N_IWaQJMEmA"
                            target="_blank" style="padding-left: 24%"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="https://www.instagram.com/shahbandar.trade/" target="_blank"
                            style="padding-left: 24%"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>

        </div>
    </div>
    <!--// Footer -->

</footer>
<!--// Footer Area -->
