<!-- Footer Area -->
<footer class="footer" style="background-color: #0E1234;">

    <!-- Footer -->
    <div class="footer-bottomarea">
        <div class="container">
            <div class="row widgets footer-widgets">
                <div class="col-lg-3 col-md-6 col-12">
                    <img src="/assets/images/You-Trade-In/footerLogo.png">
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-contact">
                        <ul>
                            <li>
                                <a routerLink="/home/home-main">Home</a>
                            </li>
                            <li>
                                <a routerLink="/home/contact">Contact Us</a>
                            </li>
                            <li>
                                <a routerLink="/home/terms-policies">Terms & Policies</a>
                            </li>
                            <!-- <li>
                                <a href="#">About Us</a>
                            </li> -->
                        </ul>
                    </div>
                    <!--// Single Widget (Widget Contact) -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-contact">
                        <ul>
                            <li>
                                <a routerLink="/application/buying-request">Buy on shahbandartrade.com</a>
                            </li>
                            <li>
                                <a routerLink="/application/add-new-request-form">Submit Buying Request</a>
                            </li>
                        </ul>
                    </div>
                    <!--// Single Widget (Widget Contact) -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-contact">
                        <ul>
                            <li>
                                <a routerLink="/application/sell-product">Sell on shahbandartrade.com</a>
                            </li>
                            <li>
                                <a routerLink="/home" fragment="partners"
                                    (click)="navigateToSection('partners')">Partner Program</a>
                            </li>
                        </ul>
                    </div>
                    <!--// Single Widget (Widget Contact) -->
                </div>
            </div>


            <p class="footer-copyright mt-3">
                © Copyright 2020 <b>ShahBandar</b> All Rights Reserved By <a href="https://bebrand.tv/">BeBrand.tv</a>.
            </p>

            <div class="row justify-content-center">
                <ul class="widget-info-social">
                    <li><a href="#" style="padding-left: 19%;"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" style="padding-left: 19%;"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#" style="padding-left: 35%;"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" style="padding-left: 19%"><i class="fab fa-linkedin"></i></a></li>
                    <li><a href="#" style="padding-left: 19%"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>

        </div>
    </div>
    <!--// Footer -->

</footer>
<!--// Footer Area -->