<div class="page-section tm-section category-area tm-padding-section" id="category" style="background-color: #0E1234;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-12">
                <div class="text-center mb-3">
                    <h2 style="color:#C0972E;">Product Categories</h2>
                </div>
            </div>
        </div>
        <div class="row services-wrap-2 mt-3 justify-content-center">
            <!-- Single Service -->
            <div class="col-lg-2 col-md-4 col-sm-4 col-12 wow fadeInUp">
                <div class="tm-service2 text-center">
                    <span class="tm-service2-icon">
                        <i class="fa fa-industry"></i>
                    </span>
                    <h5><a href="#">Industry</a></h5>
                </div>
            </div>
            <!--// Single Service -->
            <!-- Single Service -->
            <div class="col-lg-2 col-md-4 col-sm-4 col-12 wow fadeInUp">
                <div class="tm-service2 text-center">
                    <span class="tm-service2-icon">
                        <i class="fa fa-plane"></i>
                    </span>
                    <h5><a href="#">Touristic</a></h5>
                </div>
            </div>
            <!--// Single Service -->
            <!-- Single Service -->
            <div class="col-lg-2 col-md-4 col-sm-4 col-12 wow fadeInUp">
                <div class="tm-service2 text-center">
                    <span class="tm-service2-icon">
                        <i class="fa fa-home"></i>
                    </span>
                    <h5><a href="#">Real State</a></h5>
                </div>
            </div>
            <!--// Single Service -->
            <!-- Single Service -->
            <div class="col-lg-2 col-md-4 col-sm-4 col-12 wow fadeInUp">
                <div class="tm-service2 text-center">
                    <span class="tm-service2-icon">
                        <i class="fa fa-paint-brush"></i>
                    </span>
                    <h5><a href="#">Designers</a></h5>
                </div>
            </div>
            <!--// Single Service -->
            <!-- Single Service -->
            <div class="col-lg-2 col-md-4 col-sm-4 col-12 wow fadeInUp">
                <div class="tm-service2 text-center">
                    <span class="tm-service2-icon">
                        <i class="fa fa-truck"></i>
                    </span>
                    <h5><a href="#">Shipping & Logistics</a></h5>
                </div>
            </div>
            <!--// Single Service -->

        </div>
    </div>
</div>