<!-- Heroslider Area -->
<div id="default" class="heroslider-area page-section">
    <div class="heroslider-slider-2 heroslider-animated-content tm-slider-arrow tm-slider-dots-left">
        <div class="heroslider-singleslider d-flex align-items-center tm-padding-section"
            [ngStyle]="{ 'backgroundImage': getBackgroundImageUrl() }">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12">
                        <h1 class="slider-text">Buying and selling made easy. Start today.</h1>
                        <a routerLink="/home/registeration" class="tm-button">Register Now<b></b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--// Heroslider Area -->