<div id="default" class="heroslider-area page-section">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-12">
            <div class="single-widget widget-recentpost">
                <h5 class="widget-title categories">Categories</h5>
                <ul>
                    <li *ngFor="let category of categories">
                        <div class="category-rectangle" [style.backgroundColor]="category.color">
                            <div class="row">
                                <div class="col-md-4 col-sm-2">
                                    <img [src]="getFilePath(category.icon)">
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <a *ngIf="category.hasSub"
                                        (click)="subCategory(subCategoryModal, category.categoryId)">
                                        <p class="category-title">{{category.categoryName}} </p>
                                    </a>
                                    <a *ngIf="!category.hasSub"
                                        [routerLink]="['/application/accounts-by-category', category.categoryId]">
                                        <p class="category-title">{{category.categoryName}} </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <ng-template #subCategoryModal>
                            <div class="modal-body text-center ">
                                <p> Sub Categories of {{category.categoryName}}</p>

                                <div class="single-widget widget-categories">
                                    <ul>
                                        <div class="row">
                                            <div class="col-md-4" *ngFor="let sub of subCategories">
                                                <li><a
                                                        [routerLink]="['/application/accounts-by-category', sub.categoryId]">{{sub.categoryName}}</a>
                                                </li>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-danger" (click)="closeSubDialog()">Close</button>
                            </div>
                        </ng-template>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12 slider-section">
            <div class="heroslider-slider-2 heroslider-animated-content tm-slider-arrow tm-slider-dots-left">
                <div class="heroslider-singleslider d-flex align-items-center tm-padding-section">
                    <ngb-carousel>
                        <ng-template ngbSlide *ngFor="let billboard of billboardAds">
                            <a [routerLink]="['/application/viewer', billboard.accountId]">
                                <div class="picsum-img-wrapper">
                                    <img [src]="getFilePath(billboard.adImage)">
                                </div>
                            </a>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-12 sponsored-section">
            <div class="single-widget widget-recentpost ">
                <h5 class="widget-title">Sponsores </h5>
                <ul>
                    <!-- <li *ngFor="let sponsor of sponsoredAds">
                        <a [routerLink]="['/application/viewer', sponsor.accountId]">
                            <div class="sponsored-rectangle">
                                <img [src]="getFilePath(sponsor.adImage)">
                            </div>
                        </a>
                    </li> -->
                    <li>
                        <a>
                            <div class="sponsored-rectangle">
                                <img src="/assets/images/You-Trade-In/sponsore-1.png">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="row justify-content-center" *ngIf="!isLoggedIn">
        <button class="btn btn-post-req" routerLink="/account/registeration">Register Now for starting post Your
            Requests Here</button>
    </div>
    <div class="row justify-content-center" *ngIf="isLoggedIn">
        <button class="btn btn-post-req" routerLink="/application/add-new-request-form">Post Your Request Here</button>
    </div>
</div>