@media (max-width: 1024px) {
    .heroslider-singleslider {
        height: 660px;
        background-origin: content-box;
    }
}

@media (min-width: 1024px) {
    .heroslider-singleslider {
        height: 635px;
        background-origin: content-box;
    }
}

.slider-text {
    margin-bottom: 79px;
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
    line-height: 63px;
    margin-top: 100px;
}

@media (max-width: 414px) {
    .slider-text {
        font-size: 27px;
        line-height: 30px;
        margin-bottom: 40px;
    }
}
a:hover {
    color: #fff;
    text-decoration: none;
}

.tm-button,
a.tm-button,
button.tm-button {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    background: #f2b414;
    height: 60px;
    line-height: 48px;
    padding: 0px 27px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    color: #ffffff;
    border: 1px solid #f2b414;
    border-radius: 5px;
    z-index: 1;
    vertical-align: middle;
    padding-top: 4px;
    width: 181px;
}

.heroslider-area {
    background-image: url('/assets/images/You-Trade-In/background-layer.png');
    background-color: #0e1234;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5%;
    position: relative;
    border-bottom: 5px solid #f2b414;
}
// .heroslider-area .heroslider-slider-2 {

// }
.heroslider-area .categories {
    margin-top: 20%;
    margin-bottom: 10%;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin-left: 40%;
}
.category-rectangle {
    height: 10%;
    width: 80%;
    // background-color: hsl(43, 83%, 49%);
    margin-left: 30%;
    // transition: all 1s;
    position: absolute;
}

.category-title {
    font-size: 15px;
    padding: 10px 40px 10px 0px;
    color: #08193b;
    font-weight: 600;
}
.category-rectangle i {
    color: #0e1234;
    font-size: 25px;
    padding: 25%;
    margin-left: 20%;
}
.category-rectangle:hover {
    width: 65%;
    background-color: #e4aa15;
    margin-left: 35%;
    cursor: pointer;
    -ms-transform: scale(0.1); /* IE 9 */
    transform: scale(1.1);
    z-index: 100;
}
.category-rectangle img {
    margin-left: 40%;
    margin-top: 25%;
    width: 40%;
}

.category-rectangle:hover img {
    margin-left: 40%;
    margin-top: 40%;
    width: 50%;
}

.category-rectangle:hover .category-title {
    font-size: 12px;
}

.widget-recentpost ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 24%;
}

.widget-title:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100px;
    background: #f2b414;
}

.sponsored-rectangle {
    height: 13%;
    width: 65%;
    background-color: #ffffff;
    margin-left: 0%;
    position: absolute;
    border-radius: 10px;
}
.sponsored-rectangle img {
    width: 70%;
    margin-left: 15%;
}
.sponsored-section {
    padding-left: 0px;
}
.sponsored-rectangle .sponsored-price {
    color: red;
    font-size: 12px;
    margin-bottom: 0;
}

.sponsored-rectangle .sponsored-before-price {
    font-size: 10px;
    text-decoration: line-through;
    margin-bottom: 0;
}
.sponsored-rectangle .description {
    font-size: 8px;
}

.sponsored-section .widget-recentpost ul li {
    display: flex;
    margin-bottom: 28%;
}

.sponsored-section .widget-title {
    margin-top: 20%;
    margin-bottom: 10%;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}

.btn-post-req {
    font-size: 30px;
    background-color: #f2b414;
    width: 70%;
    height: 90px;
    margin-bottom: 4%;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}

@media (max-width: 414px) {
    .category-rectangle {
        height: 13%;
        width: 80%;
        margin-left: 5%;
        position: absolute;
    }

    .category-rectangle img {
        margin-left: 10%;
        margin-top: 2%;
        width: 10%;
    }

    .category-rectangle .category-title {
        float: right;
        font-size: 19px;
        margin-top: -11px;
        color: #08193b;
        font-weight: 600;
    }

    .widget-recentpost ul li {
        display: flex;
        margin-bottom: 25%;
    }

    .category-rectangle:hover {
        height: 13%;
        width: 80%;
        background-color: #e4aa15;
        margin-left: 7%;
        cursor: pointer;
        transform: scale(1.1);
        z-index: 100;
    }
    .heroslider-area .categories {
        margin-top: 20%;
        margin-bottom: 10%;
        color: #fff;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        margin-left: 0px;
    }
    .widget-title:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100px;
        text-align: center;
        background: #f2b414;
        left: 25%;
    }

    .heroslider-singleslider {
        height: 0;
    }

    .category-rectangle:hover img {
        margin-left: 10%;
        margin-top: 5%;
        width: 10%;
    }

    .sponsored-section .widget-title {
        text-align: center;
    }

    .sponsored-rectangle {
        height: 20%;
        width: 80%;
        background-color: #ffffff;
        margin-left: 5%;
        position: absolute;
        border-radius: 10px;
    }
    .sponsored-section .widget-recentpost ul li {
        display: flex;
        margin-bottom: 50%;
    }
    // .sponsored-rectangle img {
    //     width: 30%;
    //     margin-left: 15px;
    //     float: left;
    // }
    .sponsored-rectangle img {
        width: 160px;
        margin-left: 25%;
        /* float: left; */
        justify-content: center;
    }

    .sponsored-rectangle .sponsored-before-price {
        font-size: 17px;
        text-decoration: line-through;
        margin-bottom: 0;
        float: right;
    }
    .sponsored-rectangle .sponsored-price {
        color: red;
        font-size: 20px;
        margin-bottom: 0;
        float: right;
        padding-right: 10px;
    }

    .sponsored-rectangle .description {
        font-size: 12px;
        float: right;
        padding: 10px;
    }

    .btn-post-req {
        background-color: #f2b414;
        width: 70%;
        margin-bottom: 4%;
        margin-top: 5%;
        border: none;
        border-radius: 5px;
        font-size: 15px;
        color: #fff;
        font-weight: 700;
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1360px) {
    .sponsored-section .widget-recentpost ul li {
        display: flex;
        margin-bottom: 40%;
    }
    .widget-recentpost ul li {
        display: flex;
        margin-bottom: 35%;
    }
    .category-rectangle {
        height: 12%;
        width: 80%;
        margin-left: 30%;
        position: absolute;
    }
}

@media (min-width: 320px) and (max-width: 568px) {
    .sponsored-rectangle {
        height: 20%;
        width: 80%;
        background-color: #ffffff;
        margin-left: 5%;
        position: absolute;
        border-radius: 10px;
    }
    .sponsored-section .widget-recentpost ul li {
        display: flex;
        margin-bottom: 60%;
    }
    .picsum-img-wrapper img {
        width: 100%;
    }
    .btn-post-req {
        background-color: #f2b414;
        width: 70%;
        margin-bottom: 4%;
        margin-top: 5%;
        border: none;
        border-radius: 5px;
        font-size: 10px;
        color: #fff;
        font-weight: 700;
    }
}

@media (min-width: 415px) and (max-width: 800px) {
    .category-rectangle {
        height: 13%;
        width: 80%;
        margin-left: 5%;
        position: absolute;
    }

    .category-rectangle img {
        margin-left: 50%;
        margin-top: 30%;
        width: 70%;
    }

    .category-rectangle .category-title {
        float: right;
        font-size: 19px;
        margin-top: 20px;
        color: #08193b;
        font-weight: 600;
    }

    .widget-recentpost ul li {
        display: flex;
        margin-bottom: 25%;
    }

    .category-rectangle:hover {
        height: 13%;
        width: 80%;
        background-color: #e4aa15;
        margin-left: 7%;
        cursor: pointer;
        transform: scale(1.1);
        z-index: 100;
    }
    .category-rectangle:hover .category-title {
        font-size: 25px;
    }
    .heroslider-area .categories {
        margin-top: 20%;
        margin-bottom: 10%;
        color: #fff;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        margin-left: 0px;
    }
    .widget-title:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100px;
        text-align: center;
        background: #f2b414;
        left: 35%;
    }

    .heroslider-singleslider {
        height: 0;
    }

    .category-rectangle:hover img {
        margin-left: 50%;
        margin-top: 50%;
        width: 60%;
    }

    .sponsored-section .widget-title {
        text-align: center;
    }

    .sponsored-rectangle {
        height: 20%;
        width: 60%;
        background-color: #ffffff;
        margin-left: 20%;
        position: absolute;
        border-radius: 10px;
    }
    .sponsored-section .widget-recentpost ul li {
        display: flex;
        margin-bottom: 50%;
    }
    .sponsored-rectangle img {
        width: 30%;
        margin-left: 15px;
        float: left;
    }

    .sponsored-rectangle .sponsored-before-price {
        font-size: 17px;
        text-decoration: line-through;
        margin-bottom: 0;
        float: right;
    }
    .sponsored-rectangle .sponsored-price {
        color: red;
        font-size: 20px;
        margin-bottom: 0;
        float: right;
        padding-right: 10px;
    }

    .sponsored-rectangle .description {
        font-size: 12px;
        float: right;
        padding: 10px;
    }

    .btn-post-req {
        background-color: #f2b414;
        width: 70%;
        margin-bottom: 4%;
        margin-top: 5%;
        border: none;
        font-size: 15px;
        border-radius: 5px;
        color: #fff;
        font-weight: 700;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .category-rectangle img {
        margin-left: 35%;
        margin-top: 20%;
        width: 45%;
    }

    .category-rectangle .category-title {
        float: right;
        font-size: 15px;
        margin-top: 0px;
        color: #08193b;
        font-weight: 600;
    }
    .category-rectangle:hover img {
        margin-left: 50%;
        margin-top: 15%;
        width: 50%;
    }
    .heroslider-singleslider {
        height: 660px;
    }
    .sponsored-rectangle img {
        width: 60%;
        margin-left: 20%;
        float: left;
        margin-top: 10%;
    }
    .sponsored-rectangle .sponsored-price {
        margin-top: 5%;
        color: red;
        font-size: 25px;
        margin-bottom: 0;
        float: right;
        padding-right: 10px;
    }
    .sponsored-rectangle .sponsored-before-price {
        font-size: 20px;
        text-decoration: line-through;
        margin-bottom: 0;
        float: right;
        margin-top: 6%;
        padding-right: 4%;
    }
    .sponsored-rectangle {
        height: 8%;
        width: 61%;
        background-color: #fff;
        margin-left: 20%;
        position: absolute;
        border-radius: 10px;
    }
    .sponsored-section .widget-recentpost ul li {
        display: flex;
        margin-bottom: 26%;
    }
    .picsum-img-wrapper img {
        width: 100%;
    }
}

.sponsored-section a:hover {
    color: #08193b;
    text-decoration: none;
}
.sponsored-section a {
    color: #08193b;
    text-decoration: none;
}

.modal-body p {
    background-color: #07091a;
    padding: 15px;
    border-radius: 30px;
    color: #f2b414;
    font-weight: 600;
}

// .modal-body li {
//     list-style: inside;
// }

.modal-body .btn {
    float: right;
    width: 20%;
    margin-top: 5%;
    background-color: transparent;
    color: #dc3545;
    font-size: 18px;
}
.modal-body .btn:hover {
    background-color: #dc3545;
    color: #fff;
}

.modal-body a {
    color: #07091a;
}

.modal-body a:hover {
    color: #f2b414;
}

.widget-categories ul li a:before {
    content: '-';
    padding-right: 5px;
}

.slider-section {
    padding-right: 0px;
}

.picsum-img-wrapper img {
    width: 660px;
    height: 443px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .category-rectangle .category-title {
        float: right;
        font-size: 40px;
        margin-top: 0px;
        color: #08193b;
        font-weight: 600;
    }
    .sponsored-rectangle {
        height: 30%;
        width: 60%;
        background-color: #fff;
        margin-left: 20%;
        position: absolute;
        border-radius: 10px;
        margin-bottom: 5%;
    }
    .sponsored-rectangle img {
        width: 50%;
        margin-left: 25%;
        float: left;
        margin-top: 5%;
    }
}
