<!-- Heroslider Area -->
<div id="default" class="heroslider-area page-section">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-12">
            <!-- Single Widget (Widget Blog) -->
            <div class="single-widget widget-recentpost">
                <h5 class="widget-title categories">Categories</h5>
                <ul>
                    <li>
                        <div class="category-rectangle" style="background-color: #439AFF;">
                            <div class="row">
                                <div class="col-md-4 col-sm-2">
                                    <img src="/assets/images/You-Trade-In/truck-solid.png">
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <p class="category-title">Logistics & Shipping </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="category-rectangle" style="background-color: #14F29D;">
                            <div class="row">
                                <div class="col-md-4 col-sm-2">
                                    <img src="/assets/images/You-Trade-In/pencil-ruler-solid.png">
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <p class="category-title">Architectures & Designers </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="category-rectangle" style="background-color: #F7526C;">
                            <div class="row">
                                <div class="col-md-4 col-sm-2">
                                    <img src="/assets/images/You-Trade-In/toolbox-solid.png">
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <p class="category-title">Equipment Rental </p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="category-rectangle" style="background-color: #F2B414;">
                            <div class="row">
                                <div class="col-md-4 col-sm-2">
                                    <img src="/assets/images/You-Trade-In/building-solid.png">
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <p class="category-title">Building Materials & Decoration </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--// Single Widget (Widget Blog) -->
        </div>
        <div class="col-lg-6 col-md-12 col-12">
            <div class="heroslider-slider-2 heroslider-animated-content tm-slider-arrow tm-slider-dots-left">
                <div class="heroslider-singleslider d-flex align-items-center tm-padding-section"
                    [ngStyle]="{ 'backgroundImage': getBackgroundImageUrl() }">
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-12 col-12 sponsored-section">
            <div class="single-widget widget-recentpost ">
                <h5 class="widget-title">Sponserd</h5>
                <ul>
                    <li>
                        <a href="#">
                            <div class="sponsored-rectangle">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="/assets/images/You-Trade-In/sponsored-img.png">
                                    </div>
                                    <div class="col-md-6">
                                        <p class="sponsored-price">$952.20 </p>
                                        <p class="sponsored-before-price">$1,587.00</p>
                                        <p class="description">ANDELI inverter ac dc digital square wave pulse tig
                                            TIG-250PAC tig aluminum with aluminum alloy tig welder</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="sponsored-rectangle">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="/assets/images/You-Trade-In/sponsored-img.png">
                                    </div>
                                    <div class="col-md-6">
                                        <p class="sponsored-price">$952.20 </p>
                                        <p class="sponsored-before-price">$1,587.00</p>
                                        <p class="description">ANDELI inverter ac dc digital square wave pulse tig
                                            TIG-250PAC tig aluminum with aluminum alloy tig welder</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="sponsored-rectangle">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="/assets/images/You-Trade-In/sponsored-img.png">
                                    </div>
                                    <div class="col-md-6">
                                        <p class="sponsored-price">$952.20 </p>
                                        <p class="sponsored-before-price">$1,587.00</p>
                                        <p class="description">ANDELI inverter ac dc digital square wave pulse tig
                                            TIG-250PAC tig aluminum with aluminum alloy tig welder</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="sponsored-rectangle">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="/assets/images/You-Trade-In/sponsored-img.png">
                                    </div>
                                    <div class="col-md-6">
                                        <p class="sponsored-price">$952.20 </p>
                                        <p class="sponsored-before-price">$1,587.00</p>
                                        <p class="description">ANDELI inverter ac dc digital square wave pulse tig
                                            TIG-250PAC tig aluminum with aluminum alloy tig welder</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class="row justify-content-center">
        <button class="btn btn-post-req">Post Your Request</button>
    </div>
</div>
<!--// Heroslider Area -->