.input-search {
    background-color: #0e1234;
    border-radius: 5px !important;
    height: 90%;
    margin-left: 5px;
    margin-right: 5px;
    color: #fff;
}
.input-search::placeholder {
    color: #fff;
}
@media (max-width: 767px) {
    .input-search {
        height: 47%;
    }
}
#productSelect {
    background-color: #0e1234;
    color: #fff;
    border-radius: 5px;
    height: 45px;
}

.searchButton {
    background-color: #f2b414;
    color: #fff;
    margin-left: 5px;
    height: 45px;
}
#countrySelect {
    border-radius: 5px;
    background-color: #0e1234;
    color: #fff;
    height: 45px;
}

.homepage-area .single-widget {
    background-color: #0e1234;
    color: #fff;
    border-radius: 5px;
    height: auto;
}
.homepage-area h5 {
    color: #fff;
    padding: 15px;
}

.homepage-area .imageContainer {
    position: relative;
}
.homepage-area .imageContainer img {
    border: 2px solid #f2b414;
    border-radius: 5px;
}
.homepage-area .imageContainer .plusBtn {
    position: absolute;
    /* width: 0px; */
    height: 27px;
    top: 25%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f2b414;
    color: white;
    font-size: 12px;
    padding: 0px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
.homepage-area .tm-product-actions li button {
    border-radius: 5px;
}
.homepage-area .tm-product-actions li button:hover {
    background: #f2b414;
    color: #fff;
    border-radius: 5px;
}
.homepage-area .tm-product-imagelink {
    display: block;
    width: 100%;
    border: 2px solid #f2b414;
    border-radius: 5px;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
}
@media (max-width: 414px) {
    .homepage-area .tm-product-image {
        position: relative;
        overflow: hidden;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: block;
        width: 70%;
        margin-left: 15%;
    }
}
.homepage-area .tm-product-imagelink::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.homepage-area .tm-product-content {
    padding-top: 0px;
    border-radius: 5px;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: -5px;
    background-color: #0e1234;
}
.homepage-area .tm-product-content p {
    color: #fff;
    margin-left: 0px;
    font-weight: 700;
    padding: 5px;
    font-size: 12px;
}
.homepage-area .supplier-name {
    margin-top: 10px;
}
.homepage-area .supplier-name a {
    float: right;
    font-size: 13px;
    color: #f2b414;
}
.homepage-area .supplier-name p {
    float: right;
    font-size: 13px;
    color: #0e1234;
}
@media (max-width: 768px) {
    .homepage-area .supplier-name a {
        float: right;
        font-size: 15px;
        color: #f2b414;
        margin-top: 5px;
    }
    .homepage-area .supplier-name p {
        float: right;
        font-size: 15px;
        color: #0e1234;
    }
}
.homepage-area .buttons button {
    height: 50px;
    font-size: 15px;
    padding: 0 8px;
}
.homepage-area .buttons .category-btn {
    background-color: #0e1234;
    color: #fff;
    border-radius: 5px;
    height: 35px;
}
.homepage-area .buttons .category-btn p {
    padding: 10px;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 19px;
}
.homepage-area .buttons .email-btn {
    background-color: #f2b414;
    color: #fff;
    border-radius: 5px;
    height: 35px;
}
.homepage-area .widget-button {
    position: relative;
}
.homepage-area .widget-button .up-btn {
    position: absolute;
    top: 50%;
    left: 25%;
    border-radius: 5px;
    width: 50%;
    font-size: 20px;
    color: #fff;
    line-height: 10px;
    background-color: #f2b414;
    border: 1px solid #f2b414;
}
@media (min-width: 768px) {
    .homepage-area .buttons .category-btn p {
        padding: 8px;
        margin-bottom: 0px;
        font-size: 12px;
        line-height: 19px;
    }
    .homepage-area .buttons button {
        height: 50px;
        font-size: 10px;
        padding: 0 8px;
    }
    .homepage-area .buttons .email-btn {
        background-color: #f2b414;
        color: #fff;
        border-radius: 5px;
        /* height: 35px; */
    }
}

.my-paginator {
    display: inline-flex;
    float: right;
}

.my-paginator::ng-deep .ngx-pagination .current {
    background-color: #f2b414 !important;
}

.product-desc {
    font-size: 13px;
    text-align: center;
    color: #0e1234;
    border: 1px solid #f2b414;
    border-radius: 5px;
    padding: 5px;
}

.widget-categories a:hover {
    cursor: pointer;
    color: #f2b414;
}

.input-group > .form-control:not(:first-child),
.input-group > .custom-select:not(:first-child) {
    border-radius: 5px;
    /* border-bottom-left-radius: 5px; */
    border: 1px solid #f2b414;
    background: #0e1234;
    color: #fff !important;
    height: 45px;
    font-size: 13px;
    width: 6%;
}

.dateFrom::placeholder {
    color: #fff;
}

// .bsDatepicker::ng-deep .theme-green .bs-datepicker-head {
//     background-color: #F2B414 !important;
// }
::ng-deep .bs-datepicker-container .bs-datepicker-head {
    background-color: #f2b414 !important;
}
::ng-deep .bs-datepicker-container .bs-datepicker-head * {
    color: #fff !important;
}
::ng-deep .theme-green .bs-datepicker-body table td.week span {
    color: #f2b414;
}

::ng-deep .theme-green .bs-datepicker-body table td span.selected,
.theme-green .bs-datepicker-body table td.selected span,
.theme-green .bs-datepicker-body table td span[class*='select-']:after,
.theme-green .bs-datepicker-body table td[class*='select-'] span:after {
    background-color: #f2b414;
}

.icon {
    padding: 8px;
    background: #ffffff;
    margin-right: 4px;
    border-radius: 50%;
    color: #f2b414;
}
.icon-btn {
    // padding: 1px 15px 3px 2px;
    border-radius: 50px;
    background-color: #0e1234;
    color: #fff;
}
.btn-withoutIcon
{
    padding-top: 10px;
}
.icon-btn:hover {
    background-color: #f2b414;
    color: #fff;
}

.sponsored-rectangle {
    /* height: 28%; */
    /* width: 80%; */
    background-color: #0e1234;
    /* margin-left: 0%; */
    /* position: absolute; */
    border-radius: 10px;
    padding: 10px;
}
.sponsored-rectangle img {
    width: 80%;
    margin-left: 10%;
}
.tm-padding-section {
    padding-top: 130px;
    padding-bottom: 30px;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

@media (max-width: 414px) {
    .sponsored-rectangle img {
        width: 60%;
        margin-left: 20%;
    }
}

.notLoggedin h2 {
    display: block;
    margin-top: 25%;
    text-align: center;
    align-items: center;
    color: #f2b414;
}

.input-search {
    width: 25%;
}

#countrySelect {
    width: 15%;
}

@media (min-device-width: 320px) and (max-device-width: 768px) {
    #countrySelect {
        width: 30%;
        font-size: 10px;
    }
    .input-group > .form-control:not(:first-child),
    .input-group > .custom-select:not(:first-child) {
        border-radius: 5px;
        border: 1px solid #f2b414;
        background: #0e1234;
        color: #fff !important;
        height: 45px;
        font-size: 13px;
        width: 20%;
    }
    .input-search {
        width: 50%;
        height: 32%;
    }
}
