<div class="tm-section homepage-area bg-white tm-padding-section">
    <div class="container">
        <div class="row">
            <div class="input-group">
                <!-- <select name="demo" id="productSelect" style="width: 12%;">
                    <option selected="selected" value="">Products</option>
                    <option *ngFor="let product of products" value="{{product.productId}}">
                        {{product.productName}}</option>
                </select> -->
                <!-- [(ngModel)]="term" -->
                <input type="text" class="form-control input-search" name="search" [(ngModel)]="searchKeyWord"
                    placeholder="What are you looking for?" style="width: 25%;" aria-label="What are you looking for?"
                    aria-describedby="basic-addon2" (keyup)="applyFilter()" />
                <select name="demo" id="countrySelect" style="text-transform: uppercase; width: 15%;"
                    [(ngModel)]="countryId" (click)="applyFilter()">
                    <option selected="selected" value="" style="text-transform: capitalize;">All Countries</option>
                    <option *ngFor="let country of countries" value="{{country.id}}">
                        {{country.name}}</option>
                </select>
                <input type="text" placeholder="Date From" class="form-control dateFrom" bsDatepicker
                    [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}" [(ngModel)]="dateFrom">
                <input type="text" placeholder="Date To" class="form-control dateFrom" bsDatepicker
                    [(ngModel)]="dateTo">

                <button class="btn searchButton" type="button" (click)="applyFilter()">
                    Search
                </button>
                <h6 class="text-center m-3">Find Your Needs</h6>
                <a class="btn icon-btn" routerLink="/application/add-new-request-form"><i class="fa fa-plus icon"
                        aria-hidden="true"></i>Add Buying Request!</a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="single-widget widget-categories">
                    <h5>Categories</h5>
                    <ul>
                        <li><a (click)="allProductWithoutSearch()">All</a></li>
                        <li *ngFor="let category of categories">
                            <a (click)="onChooseCategory(category.categoryId)">{{category.categoryName}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-7 col-sm-12 col-12 notLoggedin" *ngIf="!isLoggedIn">
                <h2>You Need to Signup to Show All Requests</h2>
            </div>
            <div class="col-lg-9 col-md-7 col-sm-12 col-12" *ngIf="buyingRequestProducts.length">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt-5"
                        *ngFor="let requestProduct of buyingRequestProducts">
                        <div class="tm-product">
                            <div class="tm-product-image">
                                <a class="tm-product-imagelink"
                                    [routerLink]="['/application/buying-product-details', requestProduct.buyingRequestId]">
                                    <img style="width: 270px; height: 250px;"
                                        [src]="getFilePath(requestProduct.image[0])"
                                        alt="{{requestProduct.productName}}" />

                                </a>
                            </div>
                            <div class="tm-product-content">
                                <p class="tm-product-title">
                                    {{ requestProduct.productName }}
                                </p>
                            </div>

                            <div class="supplier-name">
                                <!-- Country name -->
                                <!-- <img src="assets/images/You-Trade-In/uk.png" alt="" width="12%" style="float: left;" /> -->
                                <p style="float: left; color: #0e1234;"><i class="fa fa-globe"
                                        aria-hidden="true"></i>&nbsp;{{requestProduct.countryName}}</p>
                                <a [routerLink]="['/application/viewer', requestProduct.ownerAccountId]">
                                    {{requestProduct.accountName}}
                                </a>
                                <div style="clear: both;"></div>
                            </div>
                            <div class="product-desc" *ngIf="requestProduct.description">
                                <p>{{requestProduct.description | slice : 0 : 80}}</p>
                            </div>
                            <div class="buttons mt-3">
                                <div class="category-btn" style="float: left;">
                                    <p>{{ requestProduct.categoryName}}</p>
                                </div>
                                <button class="email-btn" style="float: right;"
                                    [routerLink]="['/application/send-message', requestProduct.ownerAccountId,requestProduct.accountName]">
                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                    &nbsp; Send Message
                                </button>
                                <div style="clear: both;"></div>
                            </div>
                        </div>
                    </div>
                    <!--// Single Product -->
                </div>
            </div>
        </div>


        <div class="d-flex justify-content-end p-2 w-100 mt-5" *ngIf="buyingRequestProducts.length">
            <mat-toolbar-row>
                <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                    (page)="handleOnPageChange($event)">
                </mat-paginator>
            </mat-toolbar-row>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-lg-3 col-md-12 col-12 sponsored-section mb-3" *ngFor="let buyingAd of buyingRequestAds">
            <a [routerLink]="['/application/viewer', buyingAd.accountId]">
                <div class="sponsored-rectangle" *ngIf="buyingRequestAds">
                    <div class="row">
                        <div class="col-md-4">
                            <img [src]="getFilePath(buyingAd.adImage)">
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- <div class="col-lg-3 col-md-12 col-12 sponsored-section mb-3">
            <a href="#">
                <div class="sponsored-rectangle">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/assets/images/You-Trade-In/sponsored-img.png">
                        </div>
                        <div class="col-md-6">
                            <p class="sponsored-price">$952.20 </p>
                            <p class="sponsored-before-price">$1,587.00</p>
                            <p class="description">ANDELI inverter ac dc digital square wave pulse tig
                                TIG-250PAC tig aluminum with aluminum alloy tig welder</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-12 col-12 sponsored-section mb-3">
            <a href="#">
                <div class="sponsored-rectangle">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/assets/images/You-Trade-In/sponsored-img.png">
                        </div>
                        <div class="col-md-6">
                            <p class="sponsored-price">$952.20 </p>
                            <p class="sponsored-before-price">$1,587.00</p>
                            <p class="description">ANDELI inverter ac dc digital square wave pulse tig
                                TIG-250PAC tig aluminum with aluminum alloy tig welder</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-12 col-12 sponsored-section mb-3">
            <a href="#">
                <div class="sponsored-rectangle">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/assets/images/You-Trade-In/sponsored-img.png">
                        </div>
                        <div class="col-md-6">
                            <p class="sponsored-price">$952.20 </p>
                            <p class="sponsored-before-price">$1,587.00</p>
                            <p class="description">ANDELI inverter ac dc digital square wave pulse tig
                                TIG-250PAC tig aluminum with aluminum alloy tig welder</p>
                        </div>
                    </div>
                </div>
            </a>
        </div> -->
    </div>
</div>