table {
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
}
.edit-btn {
    background-color: #fff;
}

.table .btn {
    height: 70%;
    width: 20%;
    margin: 5%;
    padding: 2px;
}

i {
    color: #fff;
}

@media (min-width: 320px) and (max-width: 768px) {
    .table .btn {
        height: 46%;
        width: 40%;
        margin: 5%;
        padding: 2px;
    }
    ::ng-deep .mat-paginator-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-height: 56px;
        padding: 0 8px;
        flex-wrap: wrap-reverse;
        width: 85%;
    }
}
