<div class="tm-section category-product-area">
    <div class="row category-items tm-padding-section" *ngFor="let category of categories;"
        [style.background]="'url('+ getFilePath(category.image) + ')'">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-10 col-12">
                    <div class=" text-center">
                        <h1 [style.color]="category.color">{{category.categoryName}} </h1>
                        <p>{{category.description}}</p>
                    </div>
                </div>
            </div>
            <!-- *ngFor="let ad of category.ads; let i = index" -->
            <div class="row services-wrap mt-5">
                <div class="col-lg-2 col-md-3 col-sm-4 col-12 wow fadeInUp">
                    <div class="tm-service text-center">
                        <span class="tm-service-icon" *ngIf="category.ads[0]">
                            <a [routerLink]="['/application/viewer', category.ads[0].accountId]"> <img
                                    [src]="getFilePath(category.ads[0].adImage)"></a>
                        </span>
                        <span class="tm-service-icon" *ngIf="!category.ads[0]">
                            <a> <img src="/assets/images/You-Trade-In/ads-category.png" alt="{{category.categoryName}}"></a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-12 wow fadeInUp">
                    <div class="tm-service text-center">
                        <span class="tm-service-icon" *ngIf="category.ads[1]">
                            <a [routerLink]="['/application/viewer', category.ads[1].accountId]"> <img
                                    [src]="getFilePath(category.ads[1].adImage)" alt="{{category.categoryName}}"></a>
                        </span>
                        <span class="tm-service-icon" *ngIf="!category.ads[1]">
                            <a> <img src="/assets/images/You-Trade-In/ads-category.png"></a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-12 wow fadeInUp">
                    <div class="tm-service text-center">
                        <span class="tm-service-icon" *ngIf="category.ads[2]">
                            <a [routerLink]="['/application/viewer', category.ads[2].accountId]"> <img
                                    [src]="getFilePath(category.ads[2].adImage)" alt="{{category.categoryName}}"></a>
                        </span>
                        <span class="tm-service-icon" *ngIf="!category.ads[2]">
                            <a> <img src="/assets/images/You-Trade-In/ads-category.png"></a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-12 wow fadeInUp">
                    <div class="tm-service text-center">
                        <span class="tm-service-icon" *ngIf="category.ads[3]">
                            <a [routerLink]="['/application/viewer', category.ads[3].accountId]"> <img
                                    [src]="getFilePath(category.ads[3].adImage)" alt="{{category.categoryName}}"></a>
                        </span>
                        <span class="tm-service-icon" *ngIf="!category.ads[3]">
                            <a> <img src="/assets/images/You-Trade-In/ads-category.png"></a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-12 wow fadeInUp">
                    <div class="tm-service text-center">
                        <span class="tm-service-icon" *ngIf="category.ads[4]">
                            <a [routerLink]="['/application/viewer', category.ads[4].accountId]"> <img
                                    [src]="getFilePath(category.ads[4].adImage)" alt="{{category.categoryName}}"></a>
                        </span>
                        <span class="tm-service-icon" *ngIf="!category.ads[4]">
                            <a> <img src="/assets/images/You-Trade-In/ads-category.png"></a>
                        </span>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-4 col-12 wow fadeInUp">
                    <button class="btn more-btn" [style.backgroundColor]="category.color"
                        [routerLink]="['/application/more-companies-ads', category.categoryId]">More Companies</button>
                </div>
            </div>

            <div class="overlay-img"></div>
        </div>
    </div>

</div>