<div class="tm-section category-product-area">
    <div class="row category-items tm-padding-section" *ngFor="let category of categories;"
        [style.background]="'url('+ getFilePath(category.image) + ')'">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-10 col-12">
                    <div class=" text-center">
                        <h3 [style.color]="category.color">{{category.categoryName}} </h3>
                        <p>{{category.description}}</p>
                    </div>
                </div>
            </div>
            <div class="row services-wrap mt-5">
                <div class="col-lg-2 col-md-3 col-sm-4 col-12 wow fadeInUp"
                    *ngFor="let ad of category.ads; let i = index">
                    <div class="tm-service text-center">
                        <span class="tm-service-icon">
                            <a [routerLink]="['/application/viewer', ad.accountId]"> <img
                                    [src]="getFilePath(ad.adImage)"></a>

                        </span>
                    </div>
                </div>
                <!-- <div class="col-lg-2 col-md-3 col-sm-4 col-12 wow fadeInUp" *ngIf="category.ads.length < 4">
                    <div class="tm-service text-center">
                        <span class="tm-service-icon">
                            <a> <img src="/assets/images/You-Trade-In/ads-category.png"></a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-12 wow fadeInUp" *ngIf="category.ads.length < 4">
                    <div class="tm-service text-center">
                        <span class="tm-service-icon">
                            <a> <img src="/assets/images/You-Trade-In/ads-category.png"></a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-12 wow fadeInUp" *ngIf="category.ads.length < 4">
                    <div class="tm-service text-center">
                        <span class="tm-service-icon">
                            <a> <img src="/assets/images/You-Trade-In/ads-category.png"></a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-12 wow fadeInUp" *ngIf="category.ads.length < 4">
                    <div class="tm-service text-center">
                        <span class="tm-service-icon">
                            <a> <img src="/assets/images/You-Trade-In/ads-category.png"></a>
                        </span>
                    </div>
                </div> -->
                <div class="col-lg-2 col-md-3 col-sm-4 col-12 wow fadeInUp">
                    <button class="btn more-btn" [style.backgroundColor]="category.color"
                        [routerLink]="['/application/more-companies-ads', category.categoryId]">More Companies</button>
                </div>
            </div>


            <div class="overlay-img"></div>
        </div>
    </div>

</div>
<!--// categories Area -->