<div class="page-section tm-section services-area tm-padding-section" style="background-color: #0E1234;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="tm-feature text-center">
                    <div class="text-header">
                        <p>Not a third party</p>
                    </div>
                    <p>Our platform offers all services without any interference of a third party which allow all users
                        to have direct contact from both sides, seller and buyer.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="tm-feature text-center">
                    <div class="text-header">
                        <p>No commission</p>
                    </div>
                    <p>Our platform is providing an easy trading services between seller and buyer without any
                        commission included.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="tm-feature text-center">
                    <div class="text-header">
                        <p>No stocking</p>
                    </div>
                    <p>In order to sell your products, you do not need to stock any of it out of your yard, you can sell
                        it directly to your client with your label.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="tm-feature text-center">
                    <div class="text-header">
                        <p>Direct Business Relationship</p>
                    </div>
                    <p>On our platform there is a full transparency for traders and buyers’ information, once you are a
                        member on shahbandartrade.com you can browse all services and information.</p>
                </div>
            </div>
        </div>
    </div>
</div>