<router-outlet></router-outlet>

<!-- <notifier-container></notifier-container> -->



<!-- {"notificationId":"8da06e92-693f-47a3-a515-38a3b577c18f",
    "changedEntityId":"cff15ab5-a0ca-4393-8dd0-1d428d5ff9e9",
    "changedEntityName":"Buying Request Test New Form",
    "changedEntityType":3,
    "changeType":null,
    "notifierAccountId":"547cf490-ced3-4b96-ba51-cfa7d1aeeaa1",
    "accountName":null,
    "body":"bebrand Advertising Agency has created new BuyingRequest \"Buying Request Test New Form\"","newNotificationsCount":0,"title":null,"createdOn":"0001-01-01T00:00:00","lastModifiedOn":"2020-09-08T16:18:09.4309678+02:00","createdBy":"00000000-0000-0000-0000-000000000000","lastModifiedBy":"00000000-0000-0000-0000-000000000000","isDeleted":false,"notificationRef":"6b352cc9-c414-49da-ba3b-692c6d799b67","totalCount":0}
2client:55 -->