<div class="tm-section tm-login-register-area tm-padding-section" style="background-color: #0e1234;"
    *ngIf="senderDetails">
    <div class="container">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-lg-10">
                <form [formGroup]="sendMessageForm" (submit)="sendMessage(sendMessageForm.value)"
                    class="tm-form tm-login-form tm-form-bordered bg-white">
                    <div class="tm-form-inner">
                        <div class="form-group tm-form-field">
                            <label for="receiverAccountId">To</label>
                            <br />
                            <input type="text" id="receiverAccountName" required="required" name="receiverAccountName"
                                placeholder="To" [(ngModel)]="accountName" formControlName="receiverAccountName" />

                            <input type="hidden" id="receiverAccountId" required="required" name="receiverAccountId"
                                placeholder="To" formControlName="receiverAccountId" [(ngModel)]="receiverAccountId" />
                            <input type="hidden" id="senderAccountId" required="required" name="senderAccountId"
                                placeholder="From" formControlName="senderAccountId" [(ngModel)]="senderAccountId" />
 
                        </div>
                        <div class=" form-group tm-form-field">
                            <label for="title">Subject</label>
                            <br />
                            <input type="text" id="title" required="required" formControlName="title" name="title"
                                placeholder="Subject" />
                            <label class="text-danger"
                                *ngIf="sendMessageForm.get('title').touched && sendMessageForm.get('title').errors?.required">
                                You Must Add Message's Subject
                            </label>
                        </div>
                        <div class="form-group attachment-group tm-form-field">
                            <label for="attachments">Attachments</label>
                            <app-upload-files (onFileUpload)="handleAttachmentUpload($event)"
                                (onFileRemove)="handleAttachmentRemove($event)" [multiple]="true" [files]="attachments">
                            </app-upload-files>
                        </div>
                        <div class="form-group tm-form-field">
                            <label for="body">Message</label>
                            <br>
                            <textarea class="form-control" id="body" rows="3" formControlName="body"
                                placeholder="Message"></textarea>
                            <label class="text-danger"
                                *ngIf="sendMessageForm.get('body').touched && sendMessageForm.get('body').errors?.required">
                                You Must Add Message's Body
                            </label>
                        </div>

                        <div class="form-group tm-form-field">
                            <div class="row justify-content-center">
                                <div class="col-6">
                                    <button type="submit" class="tm-button mt-2">
                                        <a>Send Message <b></b></a>
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button class="tm-button mt-2 closeBtn">
                                        <a>Close <b></b></a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
