<div class="page-container">
    <div class="sidebar">
        <div class="single-widget widget-categories">
            <ul>
                <li>
                    <a routerLink="/admin-layout/sidebar/all-products"> &nbsp;<i class="fa fa-cubes"
                            aria-hidden="true"></i>
                        &nbsp;All Products</a>
                </li>
                <li>
                    <a routerLink="/admin-layout/sidebar/all-categories"> &nbsp;<i class="fa fa-database"
                            aria-hidden="true"></i>
                        &nbsp;All Categories</a>
                </li>

            </ul>
        </div>
    </div>

    <div class="page-content-container">
        <router-outlet></router-outlet>
    </div>

</div>