<div id="contact" class="page-section tm-section supplier-area" style="background-color: #0E1234;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-12">
                <div class="text-center mb-3">
                    <h2 style="color:#F2B414;">Choose your Supplier by Regions</h2>
                </div>
            </div>
        </div>
        <div class="row services-wrap-2 justify-content-center mb-5">
            <div class="col-lg-10 col-md-10 col-sm-6 wow fadeInRight offset-1">
                <div class="tm-service2">
                    <img src="/assets/images/You-Trade-In/flag.png">
                    <img src="/assets/images/You-Trade-In/canada.png">
                    <img src="/assets/images/You-Trade-In/france.png">
                    <img src="/assets/images/You-Trade-In/china.png">
                    <img src="/assets/images/You-Trade-In/brazil.png">
                    <img src="/assets/images/You-Trade-In/germany.png">
                    <img src="/assets/images/You-Trade-In/united-kingdom.png">
                    <img src="/assets/images/You-Trade-In/vietnam.png">
                </div>
            </div>
        </div>
    </div>

</div>