<!-- Contact Us -->
<div class="tm-section contact-us-area tm-padding-section" style="background-color: #0e1234;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-12">
                <div class="tm-section-title text-center">
                    <h4>Our Mails</h4>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-30">
            <div class="col-lg-3 col-md-6 col-sm-6 mt-30">
                <div class="tm-contact-block text-center">
                    <span class="tm-contact-icon">
                        <i class="flaticon-email-1" style="font-weight: 600;"></i>
                    </span>
                    <h5>General Email Address</h5>
                    <p> <a href="#">contact@shahbandartrade.com</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mt-30">
                <div class="tm-contact-block text-center">
                    <span class="tm-contact-icon">
                        <i class="fas fa-ad"></i>
                    </span>
                    <h5>Ads Email Address</h5>
                    <p> <a href="#">adds@shahbandartrade.com</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mt-30">
                <div class="tm-contact-block text-center">
                    <span class="tm-contact-icon">
                        <!-- <i class="flaticon-email-1" style="font-weight: 600;"></i> -->
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </span>
                    <h5>Support Email Address</h5>
                    <p> <a href="#">support@shahbandaremail.com</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mt-30">
                <div class="tm-contact-block text-center">
                    <span class="tm-contact-icon">
                        <i class="fas fa-donate"></i>
                    </span>
                    <h5>Sponsor Email Address</h5>
                    <p> <a href="#">sponsor@shahbandartrade.com</a></p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-30">
            <div class="col-lg-8 col-md-10 col-12">
                <div class="tm-section-title text-center">
                    <h4>Call Us</h4>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-30">

            <div class="col-lg-4 col-md-6 col-sm-6 mt-30">
                <div class="tm-contact-block text-center">
                    <span class="tm-contact-icon">
                        <!-- <i class="flaticon-call"></i> -->
                        <i class="fa fa-phone" aria-hidden="true" style="transform: rotate(90deg);"></i>
                    </span>
                    <h5>Phone Number</h5>
                    <p><a href="#">+2 0100 35 707 87</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mt-30">
                <div class="tm-contact-block text-center">
                    <span class="tm-contact-icon">
                        <i class="fab fa-whatsapp"></i>
                    </span>
                    <h5>Whatsapp</h5>
                    <p><a href="#">+2 0100 35 707 87</a></p>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-6 col-sm-6 mt-30">
                <div class="tm-contact-block text-center">
                    <span class="tm-contact-icon">
                        <i class="flaticon-email-1" style="font-weight: 600;"></i>
                    </span>
                    <h5>General Email Address</h5>
                    <p> <a href="#">contact@shahbandartrade.com</a></p>
                </div>
            </div> -->
        </div>

    </div>
</div>
<!--// Contact Us -->