<div id="contact" class="page-section tm-section contact-area tm-padding-section" style="background-color: #0E1234;">
    <div class="container">
        <div class="row d-flex justify-content-center ml-2">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="tm-contact-content">

                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <h1>Contact Us</h1>
                            <form id="tm-mailchimp-form" class="widget-newsletter-form mt-3">
                                <input class="form-control" id="mc-name" type="text" placeholder="Your Name">
                                <input class="form-control" id="mc-email" type="text" placeholder="Your Email">
                                <input class="form-control" id="mc-company" type="text" placeholder="Your Company">
                                <textarea class="form-control" id="mc-message" rows="3"
                                    placeholder="Your Message"></textarea>
                                <button id="mc-submit" type="submit" class="tm-button">Send <b></b></button>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <img src="assets/images/You-Trade-In/contact-us-user.png" width="85%">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-12">
                            <h1>Follow Us</h1>
                            <div class="row services-wrap-2 mt-3">

                                <div class="col-lg-12 col-md-8 col-sm-8 wow fadeInRight">
                                    <div class="tm-service2">
                                        <span class="tm-service3-icon">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        <span class="tm-service3-icon">
                                            <i class="fa fa-phone" style="transform: rotate(90deg);"></i>
                                        </span>
                                        <span class="tm-service3-icon">
                                            <i class="fab fa-whatsapp"></i>
                                        </span>
                                        <span class="tm-service3-icon">
                                            <i class="fab fa-facebook-f"></i>
                                        </span>
                                        <span class="tm-service3-icon">
                                            <i class="fab fa-instagram"></i>
                                        </span>
                                        <span class="tm-service3-icon">
                                            <i class="fab fa-twitter"></i>
                                        </span>
                                        <span class="tm-service3-icon">
                                            <i class="fab fa-linkedin-in"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>