<!-- Portfolio Details Area -->
<div class="tm-section portfolio-details-area tm-padding-section" style="background-color: #0e1234;">
    <div class="container">
        <div class="tm-portfoliodetails">
            <div class="tm-portfoliodetails-image">
                <a href="#">
                    <img style="width: 250px; height: 250px;" src="assets/images/You-Trade-In/student.png"
                        alt="portfolio details">
                </a>
                <a href="#">
                    <img style="width: 250px; height: 250px;" src="assets/images/You-Trade-In/GrandMuseum.png"
                        alt="portfolio details">
                </a>
                <a href="#">
                    <img style="width: 250px; height: 250px;" src="assets/images/You-Trade-In/GrandMuseum.png"
                        alt="portfolio details">
                </a>
            </div>
            <div class="tm-portfoliodetails-content tm-padding-section-sm-top">
                <div class="row">
                    <div class="col-xl-4 col-lg-5">
                        <div class="tm-portfoliodetails-info" style="background-color: #fff;">
                            <ul>
                                <!-- must make ngIf (say) Sofware not equal null show this field here and so on-->
                                <li><b>Product Name :</b> </li>
                                <li><b>Category Name :</b> </li>
                                <li><b>Account Name :</b> </li>
                                <li><b>Size :</b> </li>
                                <li><b>Wieght :</b> </li>
                                <li><b>Packing Way :</b> </li>
                                <li><b>Certification :</b> </li>
                                <li><b>Type :</b> </li>
                                <li><b>Grade :</b> </li>
                                <li><b>Storage :</b> </li>
                                <li><b>Brand Names :</b> </li>
                                <li><b>Code :</b> </li>
                                <li><b>MOQ :</b> </li>
                                <li><b>Payment Terms :</b> </li>
                                <li><b>Price :</b> </li>
                                <li><b>Unite Price :</b> </li>
                                <li><b>Duration :</b> </li>
                                <li><b>Accomdation Name :</b> </li>
                                <li><b>Program :</b> </li>
                                <li><b>Trip Category :</b> </li>
                                <li><b>Space :</b> </li>
                                <li><b>Finished Status :</b> </li>
                                <li><b>Coverage :</b> </li>
                                <li><b>Agents Locations :</b> </li>
                                <li><b>Softwares :</b> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7">
                        <div class="tm-portfoliodetails-description">
                            <h3>Product Description</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the
                                majority
                                have suffered alteration in some form, by injected humour, or randomised
                                words
                                which don't look even slightly believable. If you are going to use a
                                passage of
                                Lorem Ipsum you need to be sure there isn't anything embarrassing hidden in
                                the
                                middle of text.</p>
                            <p>Magnam repudiandae cumque ut exercitationem eos dolor consequatur voluptas
                                beatae. Voluptas dolore nobis delectus alias eum rem. Et minus sed.
                                Voluptas inventore ut inventore. Occaecati est et temporibus.</p>
                            <h3>Product Attachments</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--// Portfolio Details Area -->