<!-- Portfolio Details Area -->
<div class="tm-section portfolio-details-area tm-padding-section" style="background-color: #0e1234;">
    <div class="container">
        <div class="tm-portfoliodetails" *ngIf="accountProductDetails">
            <div class="tm-portfoliodetails-image" style="margin-left: 15%;">

                <img *ngFor="let image of accountProductDetails.productImages"
                    style="width: 250px; height: 250px; padding: 10px;" [src]="getFilePath(image)"
                    alt="{{accountProductDetails.productName}}">
            </div>
            <div class="tm-portfoliodetails-content tm-padding-section-sm-top">
                <div class="row">
                    <div class="col-xl-6 col-lg-7">
                        <div class="tm-portfoliodetails-info" style="background-color: #fff;">
                            <div class="row" *ngIf="accountProductDetails.productName">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>Product Name :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.productName">
                                        {{accountProductDetails.productName}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="accountProductDetails.categoryName">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>Category Name :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.categoryName">
                                        {{accountProductDetails.categoryName}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="accountProductDetails.accountName">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>Account Name :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.accountName">
                                        {{accountProductDetails.accountName}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="accountProductDetails.countryName">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>Country Name :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.countryName">
                                        {{accountProductDetails.countryName}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="accountProductDetails.size">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>Size :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.size">
                                        {{accountProductDetails.size}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="accountProductDetails.wieght">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>Wieght :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.wieght">
                                        {{accountProductDetails.wieght}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="accountProductDetails.packing">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>Packing Way :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.packing">
                                        {{accountProductDetails.packing}}
                                    </li>
                                </div>
                            </div>

                            <div class="row mt-3" *ngIf="accountProductDetails.certification">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>Certification :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.certification">
                                        <a [href]="getFilePath(accountProductDetails.certification)"
                                            target="_blank">{{accountProductDetails.certification}}
                                        </a>
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="accountProductDetails.type">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>Type :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.type">
                                        {{accountProductDetails.type}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="accountProductDetails.grade">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>Grade :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.grade">
                                        {{accountProductDetails.grade}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="accountProductDetails.storage">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>Storage :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.storage">
                                        {{accountProductDetails.storage}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="accountProductDetails.brandName.length > 0">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>Brand Names :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.brandName.length > 0">
                                        <div style="display: inline-block;"
                                            *ngFor="let brand of accountProductDetails.brandName">&nbsp; {{brand}}
                                        </div>
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="accountProductDetails.code">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>Code :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.code">
                                        {{accountProductDetails.code}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="accountProductDetails.moq">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>MOQ :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.moq">
                                        {{accountProductDetails.moq}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="accountProductDetails.paymentTerms">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>Payment Terms :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.paymentTerms">
                                        {{accountProductDetails.paymentTerms}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="accountProductDetails.price">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>Price :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.price">
                                        {{accountProductDetails.price}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="accountProductDetails.unitePrice">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>Unite Price :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.unitePrice">
                                        {{accountProductDetails.unitePrice}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="accountProductDetails.duration">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>Duration :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.duration">
                                        {{accountProductDetails.duration}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="accountProductDetails.accomdationName">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>Accomdation Name :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.accomdationName">
                                        {{accountProductDetails.accomdationName}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="accountProductDetails.program">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>Program :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.program">
                                        {{accountProductDetails.program}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="accountProductDetails.tripCategory">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>Trip Category :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.tripCategory">
                                        {{accountProductDetails.tripCategory}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="accountProductDetails.space">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>Space :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.space">
                                        {{accountProductDetails.space}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="accountProductDetails.finishedStatus != -1">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>Finished Status :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.finishedStatus">
                                        {{accountProductDetails.finishedStatus}}
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="accountProductDetails.coverage.length > 0">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>Coverage :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.coverage">
                                        <div style="display: inline-block;"
                                            *ngFor="let coverage of accountProductDetails.coverage">&nbsp; {{coverage}}
                                        </div>
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="accountProductDetails.agentsLocation.length > 0">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>Agents Locations :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.agentsLocation">
                                        <div style="display: inline-block;"
                                            *ngFor="let agent of accountProductDetails.agentsLocation">&nbsp; {{agent}}
                                        </div>
                                    </li>
                                </div>
                            </div>
                            <div class="row mt-3" *ngIf="accountProductDetails.softwares">
                                <div class="col-5">
                                    <li style="color: #000000;">
                                        <b>Softwares :</b></li>
                                </div>
                                <div class="col-7">
                                    <li *ngIf="accountProductDetails.softwares">
                                        {{accountProductDetails.softwares}}
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-5">
                        <div class="tm-portfoliodetails-description">
                            <h3>Product Description</h3>
                            <p>{{accountProductDetails.description}}</p>

                            <h3 class="mb-3">Product Attachments</h3>
                            <a *ngFor="let attachment of accountProductDetails.attachments"
                                [href]="getFilePath(attachment) " alt="Product Attachments" target="_blank">
                                &nbsp; <i class="fa fa-paperclip" aria-hidden="true"></i>&nbsp;{{attachment}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--// Portfolio Details Area -->