.tm-portfoliodetails-description p {
    color: #fff;
}
.tm-portfoliodetails-description a {
    color: #fff;
    text-decoration: none;
}

.tm-portfoliodetails-description a:hover {
    color: #c0972e;
}

.tm-portfoliodetails-info li {
    color: #c0972e;
}

.tm-portfoliodetails-info li b {
    color: #000;
}
