<section id="egypt" class="page-section tm-section egypt-area tm-padding-section" style="background-color: #0E1234;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="about-image2">
                    <img class="wow fadeInLeft" src="assets/images/You-Trade-In/2030EgyptVisionLogo.png"
                        alt="about image">
                    <a routerLink="/home/home-read-more" class="tm-button">Read More<b></b></a>
                </div>

            </div>
            <div class="col-lg-8 col-md-8">
                <div class="about-content">
                    <p>
                        Inspired by the ancient Egyptian Civilization, linking the present to future, the
                        Sustainable Development Strategy (SDS): Egypt Vision 2030 represents a foothold on
                        the way towards inclusive development. Thus cultivating a prosperity path through,
                        economic and social justice, and reviving the role of Egypt in regional leadership.
                        SDS represents a roadmap for maximizing competitive advantage to achieve the dreams
                        and aspirations of Egyptians in a dignified and decent life.
                    </p>
                    <p>
                        It also represents an
                        embodiment of the new constitution’s spirit, setting welfare and prosperity as the
                        main economic objectives, to be achieved via sustainable development, social justice
                        and a balanced, geographical and sectoral growth. Therefore, SDS has been developed
                        according to a participatory strategic planning approach; as various civil society
                        representatives, national and international development partners and government
                        agencies have collaborated to set comprehensive objectives for all pillars and
                        sectors of the country.
                    </p>
                    <p>
                        The current local, regional and global circumstances gives
                        the SDS a comparative advantage and importance; for revisiting the strategic vision
                        to cope and deal with international updates and developments. Thus, helping Egypt
                        recover and achieve specific objectives. SDS has followed the sustainable
                        development principle as a general framework for improving the quality of lives and
                        welfare, taking into consideration the rights of new generations in a prosperous
                        life; thus, dealing with three main dimensions; economic, social, and environmental
                        dimensions.
                    </p>
                    <p>
                        In addition, SDS is based upon the principles of “inclusive sustainable
                        development” and “balanced regional development”; emphasizing the full participation
                        in development, and ensuring its yields to all parties. The strategy, as well,
                        considers equal opportunities for all, closing development gaps, and efficient use
                        of resources to ensure the rights of future generations.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>