<section id="egypt" class="page-section tm-section egypt-area tm-padding-section" style="background-color: #0E1234;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="about-image2">
                    <img class="wow fadeInLeft" src="assets/images/You-Trade-In/2030EgyptVisionLogo.png"
                        alt="about image">
                    <a routerLink="/home/home-read-more" class="tm-button">Read More<b></b></a>
                </div>

            </div>
            <div class="col-lg-8 col-md-8">
                <div class="about-content">
                    <p>
                        The sustainable development strategy, "Egypt's Vision 2030", is a milestone in the comprehensive
                        development path in Egypt, as well as a road map that aims at maximizing the benefit from its
                        elements and competitive advantages. The strategy adopted the concept of sustainable development
                        as a general framework aiming to improve the quality of life in the present time, without
                        prejudice to the rights of future generations to live a better life. The concept of development
                        adopted by such strategy is based on several pillars as follows:

                    </p>
                    <ul>
                        <li><h1>Pillar I: Economic Development:</h1>
                            <p>By 2030, the Egyptian economy will be a disciplined market economy that is characterized
                                by stable macroeconomic conditions and capability of achieving sustainable containment
                                growth. Moreover, it will also be characterized by competitiveness, diversity, and
                                dependent on knowledge. The Egyptian economy will be an active player in the global
                                economy, capable of adapting to global variables, maximize the added value and provide
                                job opportunities, as well as making the real GDP per capita reaches the ranks of upper
                                middle-income countries.</p>
                        </li>
                        <li><h1>Pillar II: Energy</h1>
                            <p>By 2030, the energy sector will be able to meet all the requirements of sustainable
                                national development of energy resources and maximize efficient utilization of its
                                various sources leading to an effective contribution in promoting the economic growth,
                                national competitiveness and social justice as well as preserving the environment and
                                showing leadership in the fields of renewable energy and rational sustainable management
                                of resources. In addition, the energy sector will be characterized by the ability to
                                innovate, predict and adapt to local, regional and international variables in the field
                                of energy, within the framework of keeping pace with achieving the international goals
                                of sustainable development.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>