<div class="tm-section category-product-area">
    <div class="row category-items tm-padding-section"
        style="background-color: #0e1234; border-top: 1px solid #fff;border-bottom: 1px solid #fff;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-10 col-12">
                    <div class=" text-center">
                        <h3 style="color: #F2B414;">Our Partners </h3>
                    </div>
                </div>
            </div>
            <div class="row services-wrap mt-5">

                <div class="col-lg-2 col-md-3 col-sm-4 col-12 wow fadeInUp" *ngFor="let partner of partnerAds">
                    <div class="tm-service text-center">
                        <span class="tm-service-icon">
                            <a [routerLink]="['/application/viewer', partner.accountId]"> <img
                                    [src]="getFilePath(partner.adImage)"></a>
                        </span>
                    </div>
                </div>


                <!-- <div class="col-lg-2 col-md-3 col-sm-4 col-12 wow fadeInUp">
                    <div class="tm-service text-center">
                        <span class="tm-service-icon">
                            <a href="#"> <img src="/assets/images/You-Trade-In/category_2.png"></a>
                        </span>
                    </div>
                </div>


                <div class="col-lg-2 col-md-3 col-sm-4 col-12 wow fadeInUp">
                    <div class="tm-service text-center">
                        <span class="tm-service-icon">
                            <a href="#"> <img src="/assets/images/You-Trade-In/category_3.png"></a>
                        </span>
                    </div>
                </div>


                <div class="col-lg-2 col-md-3 col-sm-4 col-12 wow fadeInUp">
                    <div class="tm-service text-center">
                        <span class="tm-service-icon">
                            <a href="#"> <img src="/assets/images/You-Trade-In/category_4.png"></a>
                        </span>
                    </div>
                </div>


                <div class="col-lg-2 col-md-3 col-sm-4 col-12 wow fadeInUp">
                    <div class="tm-service text-center">
                        <span class="tm-service-icon">
                            <a href="#"> <img src="/assets/images/You-Trade-In/category_5.png"></a>
                        </span>
                    </div>
                </div> -->

            </div>
            <div class="overlay-img"></div>
        </div>

    </div>
</div>