<div class="tm-section category-product-area" id="partners">
    <div class="row category-items tm-padding-section"
        style="background-color: #0e1234; border-top: 1px solid #fff;border-bottom: 1px solid #fff;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-10 col-12">
                    <div class=" text-center">
                        <h3 style="color: #F2B414;">Our Partners </h3>
                    </div>
                </div>
            </div>
            <div class="row services-wrap mt-5" *ngIf="partnerAds">

                <div class="col-lg-2 col-md-3 col-sm-4 col-12 wow fadeInUp">
                    <div class="tm-service text-center">
                        <span class="tm-service-icon" *ngIf="partnerAds[0]">
                            <a [routerLink]="['/application/viewer', partnerAds[0].accountId]"> <img
                                    [src]="getFilePath(partnerAds[0].adImage)"></a>
                        </span>
                        <span class="tm-service-icon" *ngIf="!partnerAds[0]">
                            <a> <img src="/assets/images/You-Trade-In/ads-category.png"></a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-12 wow fadeInUp">
                    <div class="tm-service text-center">
                        <span class="tm-service-icon" *ngIf="partnerAds[1]">
                            <a [routerLink]="['/application/viewer', partnerAds[1].accountId]"> <img
                                    [src]="getFilePath(partnerAds[1].adImage)"></a>
                        </span>
                        <span class="tm-service-icon" *ngIf="!partnerAds[1]">
                            <a> <img src="/assets/images/You-Trade-In/ads-category.png"></a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-12 wow fadeInUp">
                    <div class="tm-service text-center">
                        <span class="tm-service-icon" *ngIf="partnerAds[2]">
                            <a [routerLink]="['/application/viewer', partnerAds[2].accountId]"> <img
                                    [src]="getFilePath(partnerAds[2].adImage)"></a>
                        </span>
                        <span class="tm-service-icon" *ngIf="!partnerAds[2]">
                            <a> <img src="/assets/images/You-Trade-In/ads-category.png"></a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-12 wow fadeInUp">
                    <div class="tm-service text-center">
                        <span class="tm-service-icon" *ngIf="partnerAds[3]">
                            <a [routerLink]="['/application/viewer', partnerAds[3].accountId]"> <img
                                    [src]="getFilePath(partnerAds[3].adImage)"></a>
                        </span>
                        <span class="tm-service-icon" *ngIf="!partnerAds[3]">
                            <a> <img src="/assets/images/You-Trade-In/ads-category.png"></a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-12 wow fadeInUp">
                    <div class="tm-service text-center">
                        <span class="tm-service-icon" *ngIf="partnerAds[4]">
                            <a [routerLink]="['/application/viewer', partnerAds[4].accountId]"> <img
                                    [src]="getFilePath(partnerAds[4].adImage)"></a>
                        </span>
                        <span class="tm-service-icon" *ngIf="!partnerAds[4]">
                            <a> <img src="/assets/images/You-Trade-In/ads-category.png"></a>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-12 wow fadeInUp">
                    <div class="tm-service text-center">
                        <span class="tm-service-icon" *ngIf="partnerAds[5]">
                            <a [routerLink]="['/application/viewer', partnerAds[5].accountId]"> <img
                                    [src]="getFilePath(partnerAds[5].adImage)"></a>
                        </span>
                        <span class="tm-service-icon" *ngIf="!partnerAds[5]">
                            <a> <img src="/assets/images/You-Trade-In/ads-category.png"></a>
                        </span>
                    </div>
                </div>

            </div>
            <div class="overlay-img"></div>
        </div>

    </div>
</div>