<div id="signup" class="page-section tm-section signup-area tm-padding-section"
    [ngStyle]="{ 'backgroundImage': getBackgroundImageUrl() }">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="tm-signup-content">
                    <h2 class="text-center" style="color: #fff;">Start buying and selling today<span
                            style="color: #F2B414; font-weight: bold;">.</span></h2>
                    <form>

                        <div class="row justify-content-center">

                            <div class="col-lg-4 col-md-4 d-none d-lg-block d-md-block">
                                <img class="tree" src="assets/images/You-Trade-In/Tree.png">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-12 col-sm-12 d-flex justify-content-center">
                                <a href="#" class="tm-button">Sign Up<b></b></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>