@media (max-width: 1024px) {
  .tm-signup-content .tree {
    margin-left: 15px;
    width: 80%;
  }
  .tm-signup-content h1 {
    font-size: 45px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .tm-signup-content .tree {
    margin-bottom: 15px;
  }
}

@media (min-width: 1024px) and (max-width: 1365px) {
  .tm-signup-content .tm-button {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media (min-width: 1366px) {
  .tm-signup-content .tree {
    margin-left: 15px;
  }
  .tm-signup-content .tm-button {
    margin-right: 24px;
  }
}
