.toggle {
  width: 100%;
  padding: 10px 20px;
  text-align: right;
  box-sizing: border-box;
  color: #c0972e !important;
  font-size: 30px;
  display: none;
}

.toggle button {
  background: #c0972e;
  color: #fff;
  border: #c0972e;
}

.header-logo-mobile {
  display: none;
}

@media (max-width: 1024px) {
  #mainNav {
    display: none;
  }

  .toggle {
    display: block;
    cursor: pointer;
    margin-top: -70px;
  }

  .navigation {
    width: 100%;
    /* display: none; */
  }

  .header-logo-mobile {
    display: block;
    width: 50%;
  }

  .header-logo {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1365px) {
  .header-logo-mobile {
    width: 48%;
  }

  .toggle {
    margin-top: -115px;
  }
  .header.sticky-active .header-bottomarea {
    padding-bottom: 30px;
  }
}

.btn-signup {
  color: #0e1234;
  background-color: #fff;
  border-color: #fff;
}
.btn-login {
  background-color: transparent;
  background-image: none;
  border-color: #fff;
}
.btn-login:hover {
  background-color: #fff;
  color: #000 !important;
}
