<div class="header" id="header">
    <!-- *ngIf="!_route.url.includes('login') && !_route.url.includes( 'registeration')" -->
    <!-- Header Bottom Area -->
    <div class="header-bottomarea">
        <div class="container">
            <div class="header-logo-mobile">
                <a routerLink="/home/home-main">
                    <img src="assets/images/You-Trade-In/logo.png" alt="logo" width="80%" />
                </a>
            </div>
            <div class="toggle">
                <button (click)="hideNav()">
                    <i class="fa fa-bars menu" aria-hidden="true"></i>
                </button>
            </div>
            <div class="header-bottominner">
                <div class="header-logo">
                    <a href="index.html">
                        <img src="assets/images/You-Trade-In/logo.png" alt="logo" width="80%" />
                    </a>
                </div>
                <nav class="tm-navigation" id="mainNav">
                    <ul class="navigation nav" style="float: right;">
                        <li class="navigation__link">
                            <a routerLink="/home/home-main">Home</a>
                        </li>
                        <li><a routerLink="/application/buying-request" routerLinkActive="active">Buying Request</a>
                        </li>

                        <li class="navigation__link">
                            <a routerLink="/application/sell-product" routerLinkActive="active">Find Products</a>
                        </li>

                        <li class="navigation__link">
                            <a routerLink="/home/contact" routerLinkActive="active">Contact</a>
                        </li>
                        <li class="navigation__link">
                            <a [routerLink]="['/home/home-read-more']" routerLinkActive="active">Egypt
                                2030</a>
                        </li>

                        <div *ngIf="!isLoggedIn">
                            <button type="button" class="btn btn-signup" routerLink="/account/registeration">
                                Sign Up
                            </button>
                            <button type="button" class="btn btn-login" routerLink="/account/login"
                                style="color: #fff;">
                                Log In
                            </button>
                        </div>
                        <div *ngIf="isLoggedIn">
                            <a class="btn messaging" style="font-size: 25px;" routerLink="/messageing/sidebar/inbox"><i
                                    class="fa fa-comments" aria-hidden="true"></i>
                            </a>
                            <a class="btn notifications" [matMenuTriggerFor]="menu" style="font-size: 22px;"
                                aria-label="Example icon-button with a menu">
                                <!-- <mat-icon *ngIf="notifications != null">
                                    notifications
                                </mat-icon> -->
                                <mat-icon matBadge=" {{ newNotificationCount$ | async }}" matBadgeColor="warn">
                                    notifications
                                </mat-icon>
                                <!-- <span class="cdk-visually-hidden">
                                    15
                                </span> -->
                            </a>
                            <mat-menu #menu="matMenu">
                                <ul class="menu-list">
                                    <li class="menuitem text-capitalize text-center fw-bold text-main">
                                        Latest Notifications
                                    </li>
                                    <li class="divider dropdown-divider mb-3"></li>
                                    <ng-container *ngIf="notifications != null">
                                        <li *ngFor="let notification of sortNotificationsByDate">
                                            <a class="dropdown-item d-flex flex-wrap"
                                                [routerLink]="[ notification.notificationRef,notification.changedEntityId]">
                                                <div class="col-12 fz-14">
                                                    {{notification?.body?.length > 50 ? (notification.body | slice: 0:50) + '...' : notification.body }}
                                                </div>
                                                <div class="col-12 fz-12 date-text">
                                                    {{notification.createdOn | date: 'MMM d, y, h:mm a' }}
                                                </div>
                                            </a>
                                            <div class="separator w-100"></div>
                                        </li>
                                    </ng-container>
                                    <li *ngIf="notifications == null"
                                        class="menuitem text-capitalize text-center text-main no-notification mb-3">
                                        No Notifications!
                                    </li>
                                    <li *ngIf="notifications == null" class="divider dropdown-divider mb-3"></li>
                                    <li class="menuitem col d-flex justify-content-center mt-3">
                                        <button type="button" class="btn button-secondary"
                                            (click)="showAllNotifications()">
                                            See All Notifications
                                        </button>
                                    </li>
                                </ul>
                            </mat-menu>

                            <a type="button" class="btn btn-profile" style="color: #fff;" (click)="openProfile()"
                                routerLinkActive="active">
                                <i class="fas fa-user-circle" aria-hidden="true" style="font-size: 25px;"></i>
                            </a>
                            <button type="button" class="btn btn-logout" routerLink="/home/home-main"
                                style="color: #fff;" (click)="logout()">
                                Log Out
                            </button>

                        </div>
                        <li>
                            <div id='MicrosoftTranslatorWidget' class='Dark' style='color: white; background-color: #555555'>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!--// Header Bottom Area -->
</div>