.toggle {
    width: 100%;
    padding: 10px 20px;
    text-align: right;
    box-sizing: border-box;
    color: #f2b414 !important;
    font-size: 15px;
    display: none;
}

.toggle button {
    background: #f2b414;
    color: #fff;
    border: #f2b414;
}

.header-logo-mobile {
    display: none;
}

@media (max-width: 1024px) {
    #mainNav {
        display: none;
    }

    .toggle {
        display: block;
        cursor: pointer;
        margin-top: -60px;
    }

    .navigation {
        width: 100%;
        /* display: none; */
    }

    .header-logo-mobile {
        display: block;
        width: 50%;
    }

    .header-logo {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1365px) {
    .header-logo-mobile {
        width: 48%;
    }

    .toggle {
        margin-top: -115px;
    }
    .header.sticky-active .header-bottomarea {
        padding-bottom: 30px;
    }
}

.header-bottominner .header-logo img {
    width: 100%;
    padding: 10px;
}
.header-logo-mobile img {
    width: 50%;
    padding: 10px;
}
.btn-signup {
    color: #0e1234;
    background-color: #fff;
    border-color: #fff;
    height: 100%;
}
.btn-login {
    background-color: transparent;
    background-image: none;
    border-color: #fff;
    height: 100%;
}
.btn-login:hover {
    background-color: #fff;
    color: #000 !important;
}
.btn-logout {
    background-color: transparent;
    background-image: none;
    border-color: #fff;
    height: 90%;
}
.btn-logout:hover {
    background-color: #fff;
    color: #000 !important;
}
@media (max-width: 1024px) {
    .btn-logout {
        height: 40%;
    }
}

.btn-profile {
    background-color: transparent;
    background-image: none;
    // border-color: #fff;
    height: 90%;
}
.btn-profile:hover {
    // background-color: #fff;
    color: #f2b414 !important;
}

@media (max-width: 1024px) {
    .btn-profile {
        height: 40%;
    }
    .messaging {
        height: 40%;
    }
}

@media (max-width: 1024px) {
    .header-bottominner .tm-navigation .nav .btn-signup,
    .header-bottominner .tm-navigation .nav .btn-login {
        margin-top: 10px;
        margin-bottom: 0px;
    }
}

@media (max-width: 1024px) {
    .header-bottominner .tm-navigation .nav .btn-profile,
    .header-bottominner .tm-navigation .nav .btn-logout,
    .header-bottominner .tm-navigation .nav .messaging,
    .header-bottominner .tm-navigation .nav .notifications {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

.tm-navigation .navigation .active {
    background-color: #f2b414;
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    padding: 6px 16px;
    font-weight: 300;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.tm-navigation .navigation a.active {
    color: #ffffff;
}

.messaging {
    color: #ffffff;
    background-color: transparent;
    background-image: none;
    // border-color: #fff;
    height: 90%;
    display: inline-flex;
}
.messaging:hover {
    color: #f2b414;
}

.notifications .mat-icon {
    color: #ffffff;
    background-color: transparent;
    background-image: none;
    // height: 90%;
    display: inline;
}
.notifications .mat-icon:hover {
    color: #f2b414;
}
.notifications .mat-icon:active {
    color: #f2b414;
}

.menu-list {
    margin-right: 40px;
}
.menu-list .text-main {
    color: #f2b414;
    font-size: 20px;
}
.menu-list li {
    list-style: none;
}
.menu-list li .dropdown-item {
    border-bottom: 1px solid #e9ecef;
}

.menu-list .menuitem button {
    background-color: #f2b414;
    color: #fff;
}

.menu-list .no-notification {
    color: #0e1234;
    font-size: 15px;
}

::ng-deep .mat-menu-panel {
    min-width: 500px !important;
    max-width: 600px !important;
    min-height: 200px !important;
}

.menu-list .date-text {
    color: #f2b414;
    font-weight: 500;
}

::ng-deep .dropdown-item:hover,
.dropdown-item:focus {
    color: #0e1234;
    text-decoration: none;
    background-color: #f2b41433;
}
