<div class="header">
    <!-- Header Bottom Area -->
    <div class="header-bottomarea">
        <div class="container">
            <div class="header-logo-mobile">
                <a href="index.html">
                    <img src="assets/images/You-Trade-In/youtradeinlogo.png" alt="logo" width="80%">
                </a>
            </div>
            <div class="toggle">
                <button (click)="hideNav()">
                    <i class="fa fa-bars menu" aria-hidden="true"></i>
                </button>

            </div>
            <div class="header-bottominner">
                <div class="header-logo">
                    <a href="index.html">
                        <img src="assets/images/You-Trade-In/youtradeinlogo.png" alt="logo" width="80%">
                    </a>
                </div>

                <nav class="tm-navigation" id="mainNav">
                    <ul class="navigation nav">
                        <li class="navigation__link"><a href="#default">Home</a></li>
                        <li><a href="#">Buying Request</a></li>
                        <li class="navigation__link"><a href="#egypt">Egypt 2030</a></li>
                        <li class="navigation__link"><a href="#Findproducts">Find Products</a></li>
                        <li class="navigation__link"><a href="#Sellproducts">Sell Products</a></li>
                        <li class="navigation__link"><a href="#contact">Contact</a></li>

                        <button type="button" class="btn btn-signup">Sign Up</button>
                        <button type="button" class="btn btn-login" style="color: #fff;">Log In</button>
                    </ul>
                </nav>

            </div>

        </div>
    </div>
    <!--// Header Bottom Area -->
</div>

<script>

</script>