<div class="tm-section tm-login-register-area tm-padding-section" style="background-color: #0e1234;">

    <div class="page-container">
        <div class="row justify-content-center">
            <div class="col-md-4 sidebar">
                <div class="single-widget widget-categories">
                    <ul class="nav flex-column left-side-menu">
                        <li>
                            <a routerLink="/messageing/sidebar/inbox" routerLinkActive="active"> &nbsp;<span
                                    class="iconify " data-icon="mdi:inbox-arrow-down" data-inline="false"></span>
                                &nbsp;Inbox <span class="badge badge-danger" *ngIf="totalCount != 0">{{totalCount}}
                                    New</span></a>
                        </li>
                        <li>
                            <a routerLink="/messageing/sidebar/outbox" routerLinkActive="active"> &nbsp;<span
                                    class="iconify" data-icon="mdi:inbox-arrow-up" data-inline="false"></span>
                                &nbsp;Sent</a>
                        </li>
                        <li>
                            <a routerLink="/messageing/sidebar/archived" routerLinkActive="active"> &nbsp;<span
                                    class="iconify" data-icon="mdi:archive-arrow-up" data-inline="false"></span>
                                &nbsp;Archived</a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col-md-8 page-content-container">

                <router-outlet></router-outlet>

            </div>

        </div>
    </div>
</div>