<!-- Register Area -->
<div class="tm-section tm-login-register-area tm-padding-section" style="background-color: #0e1234;">
    <div class="container" *ngIf="updateUserData">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-lg-8">
                <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit(editProfileForm.value)"
                    class="tm-form tm-register-form tm-form-bordered bg-white">
                    <h4>Update Your Profile</h4>
                    <div class="tm-form-inner">
                        <div class="form-group tm-form-field">
                            <div class="row justify-content-center">
                                <div class="col-md-3 profile-image-edit">
                                    <app-upload-files (onFileUpload)="handleImageUpload($event)"
                                        (onFileRemove)="handleImageRemove($event)" [isCircle]="true" [files]="images">
                                    </app-upload-files>
                                </div>
                            </div>

                        </div>
                        <div class="form-group tm-form-field">
                            <div class="row">
                                <div class="col-6">
                                    <label for="contactEmail">Contact Email</label>
                                    <br />
                                    <input type="text" id="contactEmail" name="contactEmail"
                                        [(ngModel)]="updateUserData.accountAdministrators[0].email"
                                        formControlName="contactEmail" placeholder="Enter your Contact Email" />
                                </div>
                                <div class="col-6">
                                    <label for="accountWebsite">Account Website</label>
                                    <br />
                                    <input type="url" id="accountWebsite" name="accountWebsite"
                                        [(ngModel)]="updateUserData.accountWebsite" formControlName="accountWebsite"
                                        placeholder="Enter your Account Website" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group tm-form-field">
                            <div class="row">
                                <div class="col-12">
                                    <label for="accountName">Company Name</label>
                                    <br />
                                    <input type="text" id="accountName" formControlName="accountName"
                                        [(ngModel)]="updateUserData.accountName" name="accountName"
                                        placeholder="Enter your Company Name" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group tm-form-field">
                            <div class="row">
                                <div class="col-6">
                                    <label for="categoryId">Main Category</label>
                                    <br />
                                    <input type="text" formControlName="categoryName" disabled
                                        [(ngModel)]="mainCategoryName">
                                    <input type="hidden" formControlName="categoryId" [(ngModel)]="mainCategoryId">
                                </div>

                                <div class="col-6">
                                    <label for="categories">Sub Categories &nbsp;<span
                                            style="color: red;">**</span></label>
                                    <br />

                                    <ng-select class="" bindLabel="categoryName" bindValue="categoryId"
                                        placeholder="Choose Category" clearAllText="Clear" [virtualScroll]="true"
                                        [items]="categories" [searchable]="true" [clearable]="true"
                                        formControlName="categories" [multiple]="true" [clearSearchOnAdd]="true"
                                        [closeOnSelect]="false" [(ngModel)]="categorySelections" required>
                                    </ng-select>
                                    <label class="text-danger"
                                        *ngIf="editProfileForm.get('categories').touched && editProfileForm.get('categories').errors?.required">
                                        You must choose your sub Categories</label>
                                    <label class="text-danger" *ngIf="!categorySelections"> You must choose your sub
                                        Categories</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group tm-form-field">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <label for="address">Address</label>
                                    <br />
                                    <input type="text" name="address" id="address" formControlName="address"
                                        placeholder="Enter your Address" [(ngModel)]="updateUserData.address" />

                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <label for="countryId">Country</label> <br />
                                    <select class="mdb-select md-form" formControlName="countryId"
                                        style="text-transform: capitalize;" [(ngModel)]="updateUserData.countryId">
                                        <option value="" disabled selected>Choose your country</option>
                                        <option *ngFor="let country of countries" value="{{country.id}}">
                                            {{country.name}}</option>

                                    </select>
                                    <label class="text-danger"
                                        *ngIf="editProfileForm.get('countryId').touched && editProfileForm.get('countryId').errors?.required">Country
                                        is required</label>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <label for="zipCode">ZIP</label>
                                    <input type="text" name="zipCode" id="zipCode" formControlName="zipCode"
                                        placeholder="ZipCode" [(ngModel)]="updateUserData.zipCode" />
                                </div>
                            </div>

                        </div>
                        <div class="form-group tm-form-field">
                            <div class="row">
                                <div class="col-lg-4 col-md-8 col-sm-8 col-12">
                                    <label for="mobile">Mobile Number Up to 4</label>
                                    <br />
                                    <section *ngFor="let mobile of mobileNumbers;let i = index;">
                                        <input type="tel" name="mobile{{i}}" id="mobile" 
                                            placeholder="Enter your Mobile {{i+1}}" style="margin-bottom: 1%;"    
                                            [(ngModel)]="mobile.mobile" *ngIf="!updateUserData.mobile"
                                            [ngModelOptions]="{standalone: true}" />
                                        <input type="tel" name="mobile" id="mobile" *ngIf="updateUserData.mobile"
                                            placeholder="Enter your Mobile {{i+1}}" style="margin-bottom: 1%;"
                                            [(ngModel)]="updateUserData.mobile[i]" 
                                            [ngModelOptions]="{standalone: true}" />
                                        <a *ngIf="i>0" type="button" class="btn rightAlign"
                                            style="color: #fff;background-color: #dc3545;" (click)="removeMobile(i)">
                                            Remove
                                        </a>
                                    </section>

                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-4 col-12" style="margin-top: 2.3rem!important;">
                                    <a *ngIf="mobileNumbers.length < 4" type="button" class="btn rightAlign mb-5"
                                        style="color: #fff;background-color: #f2b414;" (click)="addMobileNumber()">
                                        Add More
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-8 col-sm-8 col-12">
                                    <label for="phone">Phone Number Up to 4</label>
                                    <br />
                                    <section *ngFor="let phoneN of phoneNumbers;let i = index;">
                                        <input type="tel" name="phone{{i}}" id="phone"
                                            placeholder="Enter your Phone {{i+1}}" style="margin-bottom: 1%;"
                                            [(ngModel)]="phoneN.phone" *ngIf="!updateUserData.phone"
                                            [ngModelOptions]="{standalone: true}" />
                                        <input type="tel" name="phone" id="phone" *ngIf="updateUserData.phone"
                                            placeholder="Enter your Phone {{i+1}}" style="margin-bottom: 1%;"
                                            [(ngModel)]="updateUserData.phone[i]"
                                            [ngModelOptions]="{standalone: true}" />
                                        <a *ngIf="i>0" type="button" class="btn rightAlign"
                                            style="color: #fff;background-color: #dc3545;" (click)="removePhone(i)">
                                            Remove
                                        </a>
                                    </section>

                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-4 col-12" style="margin-top: 2.3rem!important;">
                                    <a *ngIf="phoneNumbers.length < 4" type="button" class="btn rightAlign mb-5"
                                        style="color: #fff;background-color: #f2b414;" (click)="addPhoneNumber()">
                                        Add More
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group tm-form-field">
                            <div class="row">
                                <div class="col-6">
                                    <label for="whatsApp">Whatsapp</label> <br />
                                    <input type="tel" name="whatsApp" id="whatsApp" formControlName="whatsApp"
                                        placeholder="Enter your Whatsapp Number"
                                        [(ngModel)]="updateUserData.whatsApp" />
                                </div>
                                <div class="col-6">
                                    <label for="weChat">WeChat</label> <br />
                                    <input type="tel" name="weChat" id="weChat" formControlName="weChat"
                                        placeholder="Enter your WeChat" [(ngModel)]="updateUserData.weChat" />
                                </div>
                            </div>
                        </div>


                        <div class="form-group tm-form-field">
                            <div class="row">
                                <div class="col-12">
                                    <label for="mission">Mission</label>
                                    <br />
                                    <textarea class="form-control" id="mission" rows="3" formControlName="mission"
                                        [(ngModel)]="updateUserData.mission"
                                        placeholder="Add a Mission about Your Company"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group tm-form-field">
                            <div class="row">
                                <div class="col-12">
                                    <label for="vission">Vision</label>
                                    <br />
                                    <textarea class="form-control" id="vission" rows="3" formControlName="vission"
                                        [(ngModel)]="updateUserData.vission"
                                        placeholder="Add a Vision about Your Company"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group tm-form-field">
                            <label for="accountAttachments">Account Attachments</label>
                            <app-upload-files (onFileUpload)="handleFileUpload($event)"
                                (onFileRemove)="handleFileRemove($event)" [multiple]="true" [files]="files">
                            </app-upload-files>
                        </div>
                        <div class="form-group tm-form-field">
                            <label for="description">Account Description</label>
                            <textarea class="form-control" id="description" rows="3" formControlName="description"
                                [(ngModel)]="updateUserData.description"
                                placeholder="Add a Description about your Company"></textarea>
                        </div>

                        <div class="form-group tm-form-field">
                            <div class="row justify-content-center">
                                <div class="col-6">
                                    <button type="submit" class="tm-button mt-2">
                                        Submit <b></b>
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button class="tm-button mt-2 closeBtn" routerLink="/account/owner">
                                        <a>Close <b></b></a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--// Register Area -->

<script>
    // Material Select Initialization
    $(document).ready(function () {
        $('.mdb-select').materialSelect()
    })
</script>
