<!-- Register Area -->
<div class="tm-section tm-login-register-area tm-padding-section" style="background-color: #0e1234;">
    <div class="container" *ngIf="updateUserData">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-lg-8">
                <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit(editProfileForm.value)"
                    class="tm-form tm-register-form tm-form-bordered bg-white">
                    <h4>Update Your Profile</h4>
                    <div class="tm-form-inner">
                        <div class="form-group tm-form-field">
                            <div class="row justify-content-center">
                                <div class="col-md-3 profile-image-edit">
                                    <app-upload-files (onFileUpload)="handleImageUpload($event)" [isCircle]="true"
                                        [files]="images">
                                    </app-upload-files>
                                </div>
                            </div>

                        </div>
                        <div class="form-group tm-form-field">
                            <div class="row">
                                <div class="col-6">
                                    <label for="contactEmail">Contact Email</label>
                                    <br />
                                    <input type="text" id="contactEmail" name="contactEmail"
                                        [(ngModel)]="updateUserData.accountAdministrators[0].email"
                                        formControlName="contactEmail" />
                                </div>
                                <div class="col-6">
                                    <label for="accountWebsite">Account Website</label>
                                    <br />
                                    <input type="text" id="accountWebsite" name="accountWebsite"
                                        [(ngModel)]="updateUserData.accountWebsite" formControlName="accountWebsite" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group tm-form-field">
                            <div class="row">
                                <div class="col-6">
                                    <label for="accountName">Company Name</label>
                                    <br />
                                    <input type="text" id="accountName" formControlName="accountName"
                                        [(ngModel)]="updateUserData.accountName" name="accountName" />

                                </div>
                                <div class="col-6">
                                    <label for="accountMobile">Account Mobile</label>
                                    <br />
                                    <input type="tel" name="accountMobile" id="accountMobile"
                                        [(ngModel)]="updateUserData.accountMobile" formControlName="accountMobile" />

                                </div>
                            </div>
                        </div>

                        <div class="form-group tm-form-field">
                            <div class="row">
                                <div class="col-12">
                                    <label for="countryId">Country</label> <br />
                                    <select class="mdb-select md-form" formControlName="countryId"
                                        style="text-transform: uppercase;" [(ngModel)]="updateUserData.countryId">
                                        <option value="" disabled selected>Choose your country</option>
                                        <option *ngFor="let country of countries" value="{{country.id}}">
                                            {{country.name}}</option>

                                    </select>

                                </div>
                            </div>

                        </div>
                        <div class="form-group tm-form-field">
                            <div class="row">
                                <div class="col-6">
                                    <label for="mission">Mission</label>
                                    <br />
                                    <textarea class="form-control" id="mission" rows="3" formControlName="mission"
                                        [(ngModel)]="updateUserData.mission"></textarea>
                                </div>
                                <div class="col-6">
                                    <label for="vission">Vision</label>
                                    <br />
                                    <textarea class="form-control" id="vission" rows="3" formControlName="vission"
                                        [(ngModel)]="updateUserData.vission"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group tm-form-field">
                            <label for="accountAttachments">Account Attachments</label>
                            <app-upload-files (onFileUpload)="handleFileUpload($event)"
                                (onFileRemove)="handleFileRemove($event)" [multiple]="true" [files]="files"
                                [(ngModel)]="updateUserData.accountAttachments">
                            </app-upload-files>
                        </div>
                        <div class="form-group tm-form-field">
                            <label for="description">Account Description</label>
                            <textarea class="form-control" id="description" rows="3" formControlName="description"
                                [(ngModel)]="updateUserData.description"></textarea>
                        </div>

                        <div class="form-group tm-form-field">
                            <div class="row justify-content-center">
                                <div class="col-6">
                                    <button type="submit" class="tm-button mt-2">
                                        Submit <b></b>
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button type="submit" class="tm-button mt-2 closeBtn" routerLink="/account/owner">
                                        <a>Close <b></b></a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--// Register Area -->

<script>
    // Material Select Initialization
    $(document).ready(function () {
        $('.mdb-select').materialSelect()
    })
</script>