<div class="page-section tm-section contact-area tm-padding-section" style="background-color: #0E1234;">
    <div class="container">
        <div class="row d-flex justify-content-center ml-2">
            <ngb-tabset [destroyOnHide]="false">

                <ngb-tab>
                    <ng-template ngbTabTitle>Profile</ng-template>
                    <ng-template ngbTabContent>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12 about"></div>
                            <div class="col-lg-8 col-md-8 col-12 content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>


                <ngb-tab>
                    <ng-template ngbTabTitle>Account Products History</ng-template>
                    <ng-template ngbTabContent>
                        <p>This is SMS Setting</p>
                    </ng-template>
                </ngb-tab>

                <ngb-tab>
                    <ng-template ngbTabTitle>Buying Requests History</ng-template>
                    <ng-template ngbTabContent>
                        <p>This is Email Setting</p>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>Followings</ng-template>
                    <ng-template ngbTabContent>
                        <p>This is Disabled</p>
                    </ng-template>
                </ngb-tab>

                <ngb-tab>
                    <ng-template ngbTabTitle>Contact us</ng-template>
                    <ng-template ngbTabContent>
                        <p>This is Disabled</p>
                    </ng-template>
                </ngb-tab>

            </ngb-tabset>
        </div>
    </div>
</div>