<div class="tm-section grand-area tm-padding-section" style="background-color: #0E1234;">
    <div class="container">
        <div class="row">
            <h1>Egypt Vision 2030</h1>
            <p>The sustainable development strategy, "Egypt's Vision 2030", is a milestone in the comprehensive
                development path in Egypt, as well as a road map that aims at maximizing the benefit from its elements
                and competitive advantages. The strategy adopted the concept of sustainable development as a general
                framework aiming to improve the quality of life in the present time, without prejudice to the rights of
                future generations to live a better life. The concept of development adopted by such strategy is based
                on several pillars as follows:</p>
        </div>
        <table class="w3-table-all w3-hoverable">
            <thead>
                <tr>
                    <th style="width: 25%;">Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tr>
                <td>Pillar I: Economic Development</td>
                <td>By 2030, the Egyptian economy will be a disciplined market economy that is characterized by stable
                    macroeconomic conditions and capability of achieving sustainable containment growth. Moreover, it
                    will also be characterized by competitiveness, diversity, and dependent on knowledge. The Egyptian
                    economy will be an active player in the global economy, capable of adapting to global variables,
                    maximize the added value and provide job opportunities, as well as making the real GDP per capita
                    reaches the ranks of upper middle-income countries.</td>
            </tr>
            <tr>
                <td>Pillar II: Energy</td>
                <td>By 2030, the energy sector will be able to meet all the requirements of sustainable national
                    development of energy resources and maximize efficient utilization of its various sources leading to
                    an effective contribution in promoting the economic growth, national competitiveness and social
                    justice as well as preserving the environment and showing leadership in the fields of renewable
                    energy and rational sustainable management of resources. In addition, the energy sector will be
                    characterized by the ability to innovate, predict and adapt to local, regional and international
                    variables in the field of energy, within the framework of keeping pace with achieving the
                    international goals of sustainable development.</td>
            </tr>
            <tr>
                <td>Pillar III: Knowledge, Innovation and Scientific Research</td>
                <td>By 2030, Egyptian society will be creative, innovative and productive in the fields of science,
                    technology and knowledge, characterized by the existence of an integrated policy that includes the
                    development value of innovation and knowledge, and will link knowledge and outputs of innovation to
                    national goals and challenges.</td>
            </tr>
            <tr>
                <td>Pillar IV: Transparency and Efficiency of Government Institutions</td>
                <td>By 2030, the administrative apparatus will be an efficient and effective apparatus, which improves
                    the management of State resources. Besides, it will be characterized by transparency, fairness, and
                    flexibility and it will be subject to accountability and it will work to increase citizens'
                    satisfaction, and interacts with and responds to them.</td>
            </tr>
            <tr>
                <td>Pillar V: Social Justice</td>
                <td>By 2030, it is targeted to build a fair and adaptive society that is characterized by the equality
                    of rights as well as economic, social and political opportunities with the highest degree of
                    societal integration. Moreover, it is targeted to build a society capable of guaranteeing the
                    citizen's right in participation and equitable distribution in light of the criteria of competency,
                    accomplishment and sovereignty of law, stimulating social mobility opportunities based on
                    capacities, providing mechanisms for protection against the dangers of life, working in parallel to
                    support marginalized classes of society and protecting the most favored persons.</td>
            </tr>
            <tr>
                <td>Pillar VI: Health</td>
                <td>By 2030, all Egyptians shall enjoy the right to a safe and healthy life, through the implementation
                    of an integrated health policy characterized by its quality, non-discrimination and available for
                    everyone. Such policy shall be able to improve health indicators by achieving a comprehensive
                    preventive coverage, ensuring early intervention for all citizens including those who are
                    financially in-need, and achieving the satisfaction of citizens and workers in the health sector to
                    reach proper level of prosperity, welfare, happiness, and social and economic development. Such
                    policy intended to make Egypt as a pioneer in the field of health, research and preventive services
                    in the Arab and African countries.</td>
            </tr>
            <tr>
                <td>Pillar VII: Education and Training</td>
                <td>By 2030, high quality education and training shall be made available to everyone without
                    discrimination under an efficient, fair, sustainable and resilient institutional framework.
                    Education and training shall concentrates on the recipient and trainee who is able to think and has
                    technical and technological skills. Such education and training shall aim to build an integrated
                    human personality and maximize its capabilities to build a citizen who is proud of himself/ herself,
                    enlightened, creative, responsible, multicultural, respects difference, proud of the country's
                    history and passionate toward shaping its future and able to deal competitively with regional and
                    global entities. </td>
            </tr>
            <tr>
                <td>Pillar VIII: Culture</td>
                <td>By 2030, it is intended to set up positive cultural values in Egyptian society that respects
                    diversity, differences and non-discrimination. The vision aims to enable the Egyptian citizen to
                    access means of knowledge acquiring and open horizons to interact with contemporary global
                    challenges, to realize the Egyptian history and cultural heritage, and to gain the ability to choose
                    freely, and to secure his/ her right to practice and produce culture; while relying on the positive
                    elements in culture as a source of strength for development, and an added value for the national
                    economy, and a basis for Egypt's soft power regionally and globally.</td>
            </tr>
            <tr>
                <td>Pillar IX: Environment</td>
                <td>By 2030, the environment pillar will be an essential one in all development and economic sectors in
                    a manner that ensures security, efficient usage, optimal exploitation and investment of natural
                    resources in order to secure the rights of future generations. Such pillar will focus, as well, on
                    diversifying sources of production and economic activities, supporting competitiveness, providing
                    new job opportunities, eradicating poverty, and achieving social justice while providing a clean,
                    healthy and safe environment for all Egyptians.</td>
            </tr>
            <tr>
                <td>Pillar X: Urban Development</td>
                <td>By 2030, Egypt through its land, civilization and distinguished location will be able to accommodate
                    its population as well as resources under a more balanced scheme that meets the aspirations of
                    Egyptians and improves the quality of their lives.</td>
            </tr>
        </table>
    </div>
</div>