<div class="tm-section grand-area tm-padding-section" style="background-color: #0E1234;">
    <div class="container">
        <div class="row justify-content-center">
            <ngb-carousel>
                <ng-template ngbSlide>
                    <img src="/assets/images/Egypt/egypt1.jpg" alt="Down Town Cairo" width="960px" height="450px">
                </ng-template>
                <ng-template ngbSlide>
                    <img src="/assets/images/Egypt/egypt2.jpg"
                        alt="Egypt Sets Guinness World Record with Tahya Misr Bridge" width="960px" height="450px">
                </ng-template>
                <ng-template ngbSlide>
                    <img src="/assets/images/Egypt/egypt3.jpg" alt="Galala City" width="960px" height="450px">
                </ng-template>
                <ng-template ngbSlide>
                    <img src="/assets/images/Egypt/egypt4.jpg" alt="Grand Egyption Museum" width="960px" height="450px">
                </ng-template>
                <ng-template ngbSlide>
                    <img src="/assets/images/Egypt/egypt5.jpg" alt="Grand Egyption Museum" width="960px" height="450px">
                </ng-template>
                <ng-template ngbSlide>
                    <img src="/assets/images/Egypt/egypt6.jpg" alt="Grand Egyption Museum" width="960px" height="450px">
                </ng-template>
                <ng-template ngbSlide>
                    <img src="/assets/images/Egypt/egypt7.jpg" alt="Grand Egyption Museum" width="960px" height="450px">
                </ng-template>
                <ng-template ngbSlide>
                    <img src="/assets/images/Egypt/egypt8.jpg" alt="Mostabel City" width="960px" height="450px">
                </ng-template>
                <ng-template ngbSlide>
                    <img src="/assets/images/Egypt/egypt9.jpg" alt="New Alamein City" width="960px" height="450px">
                </ng-template>
                <ng-template ngbSlide>
                    <img src="/assets/images/Egypt/egypt10.jpg" alt="New Capital of Egypt" width="960px" height="450px">
                </ng-template>
                <ng-template ngbSlide>
                    <img src="/assets/images/Egypt/egypt11.jpg" alt="New Capital of Egypt" width="960px" height="450px">
                </ng-template>
                <ng-template ngbSlide>
                    <img src="/assets/images/Egypt/egypt12.jpeg" alt="New Capital of Egypt" width="960px"
                        height="450px">
                </ng-template>
                <ng-template ngbSlide>
                    <img src="/assets/images/Egypt/egypt13.jpg" alt="New Mansoura City" width="960px" height="450px">
                </ng-template>
                <ng-template ngbSlide>
                    <img src="/assets/images/Egypt/egypt14.jpg" alt="New Suez Canal" width="960px" height="450px">
                </ng-template>
                <ng-template ngbSlide>
                    <img src="/assets/images/Egypt/egypt15.jpg" alt="New Suez Canal" width="960px" height="450px">
                </ng-template>
                <ng-template ngbSlide>
                    <img src="/assets/images/Egypt/egypt16.jpg" alt="New Suez Canal" width="960px" height="450px">
                </ng-template>
                <ng-template ngbSlide>
                    <img src="/assets/images/Egypt/egypt17.jpg" alt="New Suez Canal" width="960px" height="450px">
                </ng-template>
            </ngb-carousel>

        </div>
        <div class="row mt-3">
            <h1>Egypt Vision 2030</h1>
            <p>The sustainable development strategy, "Egypt's Vision 2030", is a milestone in the comprehensive
                development path in Egypt, as well as a road map that aims at maximizing the benefit from its elements
                and competitive advantages. The strategy adopted the concept of sustainable development as a general
                framework aiming to improve the quality of life in the present time, without prejudice to the rights of
                future generations to live a better life. The concept of development adopted by such strategy is based
                on several pillars as follows:</p>
        </div>
        <table class="w3-table-all w3-hoverable">
            <thead>
                <tr>
                    <th style="width: 25%;">Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tr>
                <td>Pillar I: Economic Development</td>
                <td>By 2030, the Egyptian economy will be a disciplined market economy that is characterized by stable
                    macroeconomic conditions and capability of achieving sustainable containment growth. Moreover, it
                    will also be characterized by competitiveness, diversity, and dependent on knowledge. The Egyptian
                    economy will be an active player in the global economy, capable of adapting to global variables,
                    maximize the added value and provide job opportunities, as well as making the real GDP per capita
                    reaches the ranks of upper middle-income countries.</td>
            </tr>
            <tr>
                <td>Pillar II: Energy</td>
                <td>By 2030, the energy sector will be able to meet all the requirements of sustainable national
                    development of energy resources and maximize efficient utilization of its various sources leading to
                    an effective contribution in promoting the economic growth, national competitiveness and social
                    justice as well as preserving the environment and showing leadership in the fields of renewable
                    energy and rational sustainable management of resources. In addition, the energy sector will be
                    characterized by the ability to innovate, predict and adapt to local, regional and international
                    variables in the field of energy, within the framework of keeping pace with achieving the
                    international goals of sustainable development.</td>
            </tr>
            <tr>
                <td>Pillar III: Knowledge, Innovation and Scientific Research</td>
                <td>By 2030, Egyptian society will be creative, innovative and productive in the fields of science,
                    technology and knowledge, characterized by the existence of an integrated policy that includes the
                    development value of innovation and knowledge, and will link knowledge and outputs of innovation to
                    national goals and challenges.</td>
            </tr>
            <tr>
                <td>Pillar IV: Transparency and Efficiency of Government Institutions</td>
                <td>By 2030, the administrative apparatus will be an efficient and effective apparatus, which improves
                    the management of State resources. Besides, it will be characterized by transparency, fairness, and
                    flexibility and it will be subject to accountability and it will work to increase citizens'
                    satisfaction, and interacts with and responds to them.</td>
            </tr>
            <tr>
                <td>Pillar V: Social Justice</td>
                <td>By 2030, it is targeted to build a fair and adaptive society that is characterized by the equality
                    of rights as well as economic, social and political opportunities with the highest degree of
                    societal integration. Moreover, it is targeted to build a society capable of guaranteeing the
                    citizen's right in participation and equitable distribution in light of the criteria of competency,
                    accomplishment and sovereignty of law, stimulating social mobility opportunities based on
                    capacities, providing mechanisms for protection against the dangers of life, working in parallel to
                    support marginalized classes of society and protecting the most favored persons.</td>
            </tr>
            <tr>
                <td>Pillar VI: Health</td>
                <td>By 2030, all Egyptians shall enjoy the right to a safe and healthy life, through the implementation
                    of an integrated health policy characterized by its quality, non-discrimination and available for
                    everyone. Such policy shall be able to improve health indicators by achieving a comprehensive
                    preventive coverage, ensuring early intervention for all citizens including those who are
                    financially in-need, and achieving the satisfaction of citizens and workers in the health sector to
                    reach proper level of prosperity, welfare, happiness, and social and economic development. Such
                    policy intended to make Egypt as a pioneer in the field of health, research and preventive services
                    in the Arab and African countries.</td>
            </tr>
            <tr>
                <td>Pillar VII: Education and Training</td>
                <td>By 2030, high quality education and training shall be made available to everyone without
                    discrimination under an efficient, fair, sustainable and resilient institutional framework.
                    Education and training shall concentrates on the recipient and trainee who is able to think and has
                    technical and technological skills. Such education and training shall aim to build an integrated
                    human personality and maximize its capabilities to build a citizen who is proud of himself/ herself,
                    enlightened, creative, responsible, multicultural, respects difference, proud of the country's
                    history and passionate toward shaping its future and able to deal competitively with regional and
                    global entities. </td>
            </tr>
            <tr>
                <td>Pillar VIII: Culture</td>
                <td>By 2030, it is intended to set up positive cultural values in Egyptian society that respects
                    diversity, differences and non-discrimination. The vision aims to enable the Egyptian citizen to
                    access means of knowledge acquiring and open horizons to interact with contemporary global
                    challenges, to realize the Egyptian history and cultural heritage, and to gain the ability to choose
                    freely, and to secure his/ her right to practice and produce culture; while relying on the positive
                    elements in culture as a source of strength for development, and an added value for the national
                    economy, and a basis for Egypt's soft power regionally and globally.</td>
            </tr>
            <tr>
                <td>Pillar IX: Environment</td>
                <td>By 2030, the environment pillar will be an essential one in all development and economic sectors in
                    a manner that ensures security, efficient usage, optimal exploitation and investment of natural
                    resources in order to secure the rights of future generations. Such pillar will focus, as well, on
                    diversifying sources of production and economic activities, supporting competitiveness, providing
                    new job opportunities, eradicating poverty, and achieving social justice while providing a clean,
                    healthy and safe environment for all Egyptians.</td>
            </tr>
            <tr>
                <td>Pillar X: Urban Development</td>
                <td>By 2030, Egypt through its land, civilization and distinguished location will be able to accommodate
                    its population as well as resources under a more balanced scheme that meets the aspirations of
                    Egyptians and improves the quality of their lives.</td>
            </tr>
        </table>

        <div class="row mt-3">
            <h1>Macro Economic</h1>
            <ul>
                <li>According to the latest survey conducted on a sample of the labor force, unemployment rates
                    fell to about 8.1% in Q3 of FY 2018/19 compared to 10.6% in Q3 of FY 2017/18.</li>
                <li>The economic growth rate increased to 5.6% during FY2018/19 compared to 5.3% in FY2017/18.
                    <img class="mt-3 mb-3" src="/assets/images/Egypt/GDP.png">
                </li>
                <li>Private investments witnessed a rise of 51.7% during FY2018/19 reaching EGP 480 billion
                    compared to EGP 316.4 billion during FY2016/17. The total implemented investments also
                    increased during the FY2018/19 by 30.3% EGP 940 billion compared to EGP 721.1 billion during
                    FY2017/18.
                    <img class="mt-3 mb-3" src="/assets/images/Egypt/Investments.png">
                </li>
                <li>Net international reserves has kept on same amount, US$ 44.3 billion, by the end of
                    FY2018/19 compared to FY2017/18.</li>
            </ul>
        </div>
        <div class="row mt-3">
            <h1>Youth and Innovation</h1>
            <h4>Egypt's young and educated workforce provides investors with access to talented labour. Their passion
                and creativity, together with legislative support, have helped put Egypt among the top 10 countries
                worldwide to launch start-ups, according to Forbes in 2015.</h4>
            <ul>
                <li>Egypt boasts a large, young, well-trained and highly competitive labour force of around 29.1 million
                    (more than 31% of the total Egyptian population).</li>
                <li>Egypt's vast youth population coupled with its rapidly growing internet penetration (40%),
                    e-commerce potential (expected to reach US 2.7 billion by 2020) and strategic geographical location
                    all provide an attractive investment environment.</li>
                <li>Egypt has long been known as a regional net exporter of educated and skilled labour. But as the
                    economy expands, young Egyptians are increasingly opting to stay in their home country.</li>
                <li>Every year approximately 300,000 Egyptians graduate from university; around 200,000 as trained
                    engineers and 15,000 with European language skills. IT & telecom, energy, O&G, building materials,
                    pharmaceuticals are particularly strong skillsets amongst graduates. </li>
                <li>In 2016, Egypt was shortlisted as the Outsourcing Destination of the Year for the European
                    Outsourcing Association Awards, one of the most prestigious outsourcing industry awards. The
                    contribution of Egypt's ICT industry to GDP grew by 13% in the last two years, reaching 4.1% of
                    total GDP. In May 2016, the Egyptian Information Technology Industry Development Agency, ITIDA,
                    announced that eight multinationals planned to expand their presence in Egypt, in the process
                    creating 6,000 new jobs. Compared to other outsourcing destinations in Europe and Asia, Egypt enjoys
                    an exceptionally low attrition rate. Against this background, the country is heavily investing in
                    skills development and talent management. The Next Technology Leaders is an initiative to qualify
                    16,000 Egyptian youths in the ICT field through online and interactive training in collaboration
                    with multinational corporations, Egyptian universities, and learning institutions.</li>
            </ul>
            <h4>With a bustling population of over 90 million, 50% of which are below the age of 30, Egypt is
                aggressively staking its claim as one of the fastest growing entrepreneurial hubs in the world. </h4>
            <h6>Knowledge, innovation and scientific research are at the heart of Egypt's 2030 social development
                strategy. This strategy also includes:</h6>
            <ul>
                <li>Carrying out legal reform to foster innovation.</li>
                <li>Adopting a comprehensive program to promote innovation and knowledge culture.</li>
                <li>Comprehensive program to stimulate innovation activities by SMEs.</li>
                <li>Activating PPP models to stimulate innovation.</li>
            </ul>
            <h6>The Ministry of Communication and Information Technology, together with the government of Switzerland,
                developed the E-Khodra program for the recycling of waste and offers training, office space and
                marketing benefits to 10-15 start-ups. This succeeded in jumpstarting several innovators, such as:</h6>

            <ul>
                <li>Recyclobekia: a company that became the first in the region to generate revenue from recyclable
                    material from electronic waste;</li>
                <li>Up-Fuse: a company that partnered with NGOs in our Garbage City, they turn plastic bags into
                    fabrics, bags, totes, wallets and more;</li>
                <li>Tagaddod: a start-up that succeeded in turning cooking oil to clean fuel. </li>
            </ul>
            <h6>There are 38 angel investors, compared to 17 venture capitalists. Forbes Middle East featured 20 of the
                most innovative Egyptian start-ups in different innovative fields, nine of which raised more than US$ 1
                million., A few of these startups are:</h6>
            <ul>
                <li>Yoota: an app for online price comparisons;</li>
                <li>Diwan Videos: a multichannel network on YouTube;</li>
                <li>Vezeeta: a doctor appointment booking and review site; and </li>
                <li>Elves: a personal helper which is advancing online sh opping by creating a friendly experience and
                    personal for shoppers. It has been integrated already to social media platforms like Facebook and
                    What's App, and already expanding to UAE and Turkey.</li>
            </ul>
        </div>
        <div class="row mt-3">
            <h1>Market Access</h1>
            <h4>Because of its geographic location, as well as being the second largest signatory to multinateral trade
                agreements in the world, Egypt connects investors with established and emerging markets.</h4>
            <h5>Egypt, in 2018, occupied a better position, reached the 18th position (out of 177 countries) in the
                Unctad's “Liner Shipping Connectivity Index" which measures competitiveness in the maritime system based
                on the network and the quality of the container liner service offered by the ports. </h5>
            <h5>In addition, between 2007 and 2018 Egypt rose 30 positions in the Logistic Performance Index, reaching
                the 67th position. (World Bank indicator measuring logistics competitiveness of 159 countries in the
                world).</h5>
            <h5>Egypt has a number of bilateral investment agreements in place with countries around the world,
                including Belgium, China, Finland, France, Germany, Greece, Italy, Japan, Libya, Luxembourg, Morocco,
                the Netherlands, Romania, Singapore, Sudan, Sweden, Switzerland, Thailand, Tunisia, the United Kingdom,
                and the United States. </h5>
            <h6>Egypt is a signatory to a number of other international trade agreements as it</h6>
            <ul>
                <li>Joined the Common Market for Eastern and Southern Africa (COMESA) in 1998. </li>
                <li>Co-signed a Trade and Investment Framework Agreement (TIFA) with the United States in 1999 to create
                    freer trade and increased investment flows between the two countries.</li>
                <li>Became a member of the Pan Arab Free Trade Agreement (PAFTA), and the Agadir Agreement with
                    Jordan, Morocco, and Tunisia, which relaxes rules of origin requirements on jointly manufactured
                    products for export to Europe.</li>
                <li>Had an FTA with Turkey since 2007 and in 2013 ratified an FTA with the Mercosur bloc of Latin
                    American nations.</li>
                <li>Signed an Association Agreement with the European Union (EU) in 2001, which came into effect in
                    2004. Under its terms, Egyptian products are given immediate duty free access into EU markets while
                    EU products are being phased in over a 12-year period. </li>
            </ul>
            <h6>In 2010, Egypt and the EU added an agricultural annex to their FTA, liberalising trade in over 90% of
                agricultural goods. It is worth noting that</h6>
            <ul>
                <li>Egypt is a major trading partner with the EU, particularly in the Southern Mediterranean region.
                </li>
                <li>EU-Egypt bilateral trade more than doubled between 2004 and 2012 from €11.8billion to €23.9billion.
                </li>
                <li>The EU accounted for 22.9% of Egypt's trade volume in 2013 and ranks first for imports and exports.
                </li>
                <li>Egyptian fuel and mining products accounted for 49.5% of EU imports from Egypt in 2014,
                    followed by
                    textiles and clothing (10.2%) and chemicals (9.1%). EU exports to Egypt consist mainly of machinery
                    and
                    transport equipment (24.5%).</li>
                <li> EU exports of services to Egypt are dominated by business services, while EU imports from Egypt
                    consist mainly of travel services and transport.</li>

            </ul>
        </div>
        <div class="row mt-3">
            <h1>Infrastructure</h1>
            <h6>Egypt offers well-developed infrastructure and continues to invest in upgrades, including investments of
                more than US$ 15 Billion in roads, electricity networks and irrigation projects.</h6>
            <p>Infrastructure is a prerequisite for investment. The Government is working to ensure that the right
                infrastructure exists. Adequate access to utilities, electricity, gas connections, water, ports, and
                connecting roads for investors to conduct their business is essential. </p>
            <table class="w3-table-all w3-hoverable">
                <thead>
                    <tr>
                        <th style="width: 25%;">Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tr>
                    <td>Airports</td>
                    <td>Egypt has over 21 airports that serve touristic, industrial and mining locations. <br>
                        Cairo International Airport was upgraded in 2016 increased annual capacity to 7.5 million
                        passengers and the airport's total passenger handling capacity to 26 million.
                        <br> Two new international airports, Katameya International Airport and Sphinx International
                        Airport, were inaugurated in October 2016 in order to service the growing number of
                        international travelers to Egypt and lessen the pressure on Cairo International Airport. Both
                        airports are built in areas which were previously part of military airbases.
                    </td>
                </tr>
                <tr>
                    <td>Marine Ports</td>
                    <td>Manufacturers and traders utilize four key marine ports with access to the Mediterranean and the
                        Suez Canal:
                        <li>Suez Port
                            <p>In August 2015, Egypt opened a second lane in the Suez Canal, adding 35km of new channels
                                to the existing canal and another 35km where existing bodies of water were dredged to
                                make way for larger ships. The $8 billion expansion increases capacity from 50 transits
                                a day to 97 and cuts waiting time from 18 to 11 hours.</p>
                        </li>
                        <li>Damietta Port
                            <p>Located in Alexandria, Damietta Port is home to the largest container terminal and some
                                of the most sophisticated equipment in the Middle East.</p>
                        </li>
                        <li>Port Said
                            <p>Port Said port is considered one of the most important Egyptian ports on the
                                Mediterranean sea due to its geographical site where it is located on the Eastern
                                entrance of the Suez canal, and also on the entrance of the biggest global navigational
                                channel (the Suez Canal) and at the mid of biggest commercial navigational channel
                                linking Europe with the East and it is also considered biggest crossing traffic port in
                                the world.</p>
                        </li>
                        <li>Port Sokhna
                            <p>Established by Build-Operate-Tranfer system and managed via logistic centers, the Sokhna
                                port is regarded as the first in the region comprehensive and multipurpose hub port and
                                comes under what is called "Third Generation ports" to serve export and import
                                operations of general cargo, bulk and container handling.</p>
                        </li>
                    </td>
                </tr>
                <tr>
                    <td>Natural Resources</td>
                    <td>
                        <ul>
                            <li>Oil & Gas
                                <p>Egypt is the largest non-OPEC oil producer in Africa and the second largest natural
                                    gas producer after Algeria. <br>
                                    Egypt has succeeded in increasing natural gas production to around 4.45 billion
                                    cubic feet of gas per day by accelerating the search for natural gas reserves in the
                                    Mediterranean. <br>
                                    Egypt has attracted investments of almost $1 billion over the last few years to
                                    upgrade its O&G infrastructure and boost discoveries in the Mediterranean, the
                                    Western Desert, the Gulf of Suez and Upper Egypt.<br>
                                    The most recent discoveries in Zohr concession indicate an expected 30 trillion
                                    cubic meters of gas.<br>
                                    The Suez Canal and the Suez Mediterranean (SUMED) pipeline provide a critical route
                                    for oil through the Arabian Gulf to Europe and the United States.
                                </p>
                            </li>
                            <li>Mining
                                <p>Egypt has Africa's largest, and one of the world's top five, phosphate reserves with
                                    almost a billion metric tons in phosphate rock lying nearby the Golden Triangle
                                    Investment Zone.<br>

                                    Egypt is rich in other natural resources such as gold, particularly with the recent
                                    success of the Centamin mine, which is expected to become one of the world's top 10
                                    producing gold mines.
                                </p>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Roads</td>
                    <td>Egypt has upgraded its transport infrastructure, adding more than 6,000 kilometers of new roads
                        connecting multiple regions and serving a number of mega projects and investment zones.</td>
                </tr>
                <tr>
                    <td>Energy</td>
                    <td>Working with Siemens as a strategic partner, Egypt's power generation capacity has increased by
                        45 percent since June 2015 upon completion of the three power plants in the Administrative
                        Capital, Beni Suef and Burullus. It cost US$ 9 billion and added 16400 MW to the country's
                        energy supply. <br>
                        Egypt is working with international companies to build power stations providing 40,000MW of
                        additional power within the next ten years, and there has been great strides in private sector
                        investments after the progressive liberalization of the sector with the unified electricity law,
                        which:
                        <ul>
                            <li>Allows for private sector participation, in the generation of electricity, for both
                                locals and foreigners, by introducing a simple legal licensing regime.</li>
                            <li>Allows for the first time for private sector participation in the distribution of
                                electricity for both locals and foreigners.</li>
                            <li>Introduces the concept of competitive electricity markets for the first time in Egypt by
                                setting out the framework for market liberalization through de-monopolizing generation
                                and distribution activities. </li>
                            <li>Restructures the roles of both the Egyptian Electric Utility & Consumer Protection
                                Agency (“ERA") and the Egyptian Electricity Transmission Company (“EETC"), and redefines
                                their competencies and interaction with the power sector participants to ensure equality
                                and freedom of competition.</li>
                            <li>Codifies the fundamentals of permitting and licensing.</li>
                            <li>Unifies various regulations relating to the electricity sector.</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Renewable Energy</td>
                    <td>Egypt's Electricity and Renewable Energy Ministry inaugurated a 200-MW wind farm in Gabal el
                        Zeit, Red Sea governorate, which is the largest operational wind farm in the Middle East. The
                        project was completed over a period of 30 months at a total cost of €270 million (US$ 275.8
                        million). It was financed by the German government, through KFW Development Bank, as well as the
                        European Commission and the European Investment Bank (EIB).
                        <br>
                        The completion of Egypt's first solar panel manufacturing facility is underway in Qena, located
                        in Upper Egypt, and it will be one of the largest plants in the region.<br>
                        Egypt is undertaking one of the world's largest and most comprehensive renewable energy
                        programmes, which, when combined with an ambitious industrial energy efficiency programme, will
                        reduce national energy demand by 8% by 2022. In addition:
                        <ul class="inside">
                            <li>Egypt is committed to more than doubling the contribution of renewable energy ventures
                                to electricity production by 2020. It aims to provide 20% of the country's power
                                requirements through renewable energy sources such as solar, wind and nuclear power.
                            </li>
                            <li>Egypt is encouraging private sector investment in the renewable energy sector as it
                                looks to diversify its energy industry. </li>
                            <li>Feed-in-tariffs, which provide cost-based compensation, are just one of the incentives
                                being offered to private investors to encourage greater investment in the sector. </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>